Repository highcharts/highcharts, pull requests merged in 2018-07, with the labels that each got.

#8568 Fixed #8561, legend keyboard navigation with useHTML.
  js/modules/keyboard-navigation.src.js
  samples/highcharts/accessibility/accessible-keyboardnav/demo.css
  samples/highcharts/accessibility/accessible-keyboardnav/demo.details
  samples/highcharts/accessibility/accessible-keyboardnav/demo.html
  samples/highcharts/accessibility/accessible-keyboardnav/demo.js
  samples/highcharts/accessibility/accessible-keyboardnav/test-notes.html
Labels: Bug, Fix suggested

#8589 Feature/treegrid-renaming-plus-improvements
  gulpfile.js
  js/masters/modules/treegrid.src.js
  js/parts-gantt/GanttChart.js
  js/parts-gantt/GanttSeries.js
  js/parts-gantt/TreeGrid.js
  js/parts/Axis.js
  js/parts/Tick.js
  samples/gantt/treegrid-axis/collapsed-dynamically/demo.css
  samples/gantt/treegrid-axis/collapsed-dynamically/demo.details
  samples/gantt/treegrid-axis/collapsed-dynamically/demo.html
  samples/gantt/treegrid-axis/collapsed-dynamically/demo.js
  samples/gantt/treegrid-axis/collapsed/demo.css
  samples/gantt/treegrid-axis/collapsed/demo.details
  samples/gantt/treegrid-axis/collapsed/demo.html
  samples/gantt/treegrid-axis/collapsed/demo.js
  samples/gantt/treegrid-axis/demo/demo.css
  samples/gantt/treegrid-axis/demo/demo.details
  samples/gantt/treegrid-axis/demo/demo.html
  samples/gantt/treegrid-axis/demo/demo.js
  samples/gantt/treegrid-axis/indentation-0px/demo.css
  samples/gantt/treegrid-axis/indentation-0px/demo.details
  samples/gantt/treegrid-axis/indentation-0px/demo.html
  samples/gantt/treegrid-axis/indentation-0px/demo.js
  samples/unit-tests/gantt/treegrid/demo.css
  samples/unit-tests/gantt/treegrid/demo.details
  samples/unit-tests/gantt/treegrid/demo.html
  samples/unit-tests/gantt/treegrid/demo.js
Labels: Highcharts Gantt

#8575 Feature/multiple datalabels
  js/modules/overlapping-datalabels.src.js
  js/parts-more/AreaRangeSeries.js
  js/parts/DataLabels.js
  js/parts/Point.js
  samples/highcharts/studies/multiple-datalabels/demo.css
  samples/highcharts/studies/multiple-datalabels/demo.details
  samples/highcharts/studies/multiple-datalabels/demo.html
  samples/highcharts/studies/multiple-datalabels/demo.js
  samples/unit-tests/series/update/demo.js
Labels: Enhancement, Highcharts Gantt

#8590 Implemented option axis.grid.enabled.
  js/parts-gantt/GanttChart.js
  js/parts-gantt/GridAxis.js
  js/parts-gantt/TreeGrid.js
  samples/gantt/grid-axis/demo/demo.js
  samples/gantt/grid-axis/left-axis-as-table/demo.js
  samples/gantt/grid-axis/with-navigator/demo.js
  samples/unit-tests/gantt/grid-axis-stock/demo.js
  samples/unit-tests/gantt/grid-axis/demo.js
  samples/unit-tests/gantt/treegrid/demo.js
Labels: Highcharts Gantt

#8591 Removed option axis.pointProperty from grid axis.
  js/parts-gantt/GridAxis.js
  samples/gantt/grid-axis/left-axis-as-table/demo.js
Labels: Highcharts Gantt
