Repository highcharts/highcharts, pull requests merged in 2023-10, with the labels that each got.

#19822 demo/relocate-rangeselector-datagrouping
  samples/stock/demo/rangeselector-datagrouping/demo.css
  samples/stock/demo/rangeselector-datagrouping/demo.details
  samples/stock/demo/rangeselector-datagrouping/demo.html
  samples/stock/demo/rangeselector-datagrouping/demo.js
  samples/stock/rangeselector/datagrouping/demo.details
  ts/Stock/RangeSelector/RangeSelectorDefaults.ts
Labels: Product: Highcharts Stock

#19819 demo/cumulative-sum-data
  samples/stock/demo/cumulative-sum/demo.js
Labels: Product: Highcharts Stock

#19184 feature/14024-dumbbell-customization
  docs/chart-and-series-types/dumbbell-series.md
  docs/chart-and-series-types/range-series.md
  samples/highcharts/demo/dumbbell-markers/demo.css
  samples/highcharts/demo/dumbbell-markers/demo.details
  samples/highcharts/demo/dumbbell-markers/demo.html
  samples/highcharts/demo/dumbbell-markers/demo.js
  samples/highcharts/demo/dumbbell-markers/readme.md
  samples/highcharts/series-arearange/lowmarker/demo.css
  samples/highcharts/series-arearange/lowmarker/demo.details
  samples/highcharts/series-arearange/lowmarker/demo.html
  samples/highcharts/series-arearange/lowmarker/demo.js
  samples/highcharts/series-arearange/lowmarker/readme.md
  samples/unit-tests/series-arearange/markers/demo.js
  samples/unit-tests/series-dumbbell/markers/demo.js
  ts/Core/Series/Series.ts
  ts/Series/AreaRange/AreaRangePoint.ts
  ts/Series/AreaRange/AreaRangeSeries.ts
  ts/Series/AreaRange/AreaRangeSeriesOptions.d.ts
  ts/Series/Dumbbell/DumbbellPoint.ts
  ts/Series/Dumbbell/DumbbellSeries.ts
Labels: Changelog: Feature

#19827 bugfix/17014-boostTreshold-null-point-error
  samples/unit-tests/boost/general/demo.js
  ts/Extensions/Boost/BoostSeries.ts
Labels: Product: Highcharts, Changelog: Bugfix

#19354 bugfix/16368-stock-axis-breaks
  samples/unit-tests/axis/breaks/demo.js
  ts/Core/Axis/BrokenAxis.ts
  ts/Core/Axis/OrdinalAxis.ts
Labels: Product: Highcharts Stock, Changelog: Bugfix

#19791 dash/add-component-button-disabled
  samples/dashboards/edit-mode/buttons-disabled/demo.css
  samples/dashboards/edit-mode/buttons-disabled/demo.details
  samples/dashboards/edit-mode/buttons-disabled/demo.html
  samples/dashboards/edit-mode/buttons-disabled/demo.js
  test/cypress/integration/Dashboards/component-add.cy.js
  ts/Dashboards/EditMode/EditMode.ts
Labels: Changelog: Feature, Product: Highcharts Dashboards

#19907 dash/crossfilter-docs
  docs/dashboards/navigator-component.md
  docs/dashboards/synchronize-components.md
  ts/Dashboards/Components/Component.ts
Labels: Product: Highcharts Dashboards

#19852 dash/sync-extremes-zoom-bug
  test/cypress/integration/Dashboards/sync/chart-extremes.cy.js
  ts/Dashboards/Plugins/HighchartsSyncHandlers.ts
Labels: Changelog: Bugfix, Product: Highcharts Dashboards

#19875 dash/19707-hide-settings-button
  samples/dashboards/edit-mode/settings-disabled/demo.css
  samples/dashboards/edit-mode/settings-disabled/demo.details
  samples/dashboards/edit-mode/settings-disabled/demo.html
  samples/dashboards/edit-mode/settings-disabled/demo.js
  test/cypress/integration/Dashboards/edit-component.cy.js
  ts/Dashboards/EditMode/EditMode.ts
  ts/Dashboards/EditMode/Toolbar/CellEditToolbar.ts
  ts/Dashboards/EditMode/Toolbar/RowEditToolbar.ts
Labels: Changelog: Feature, Product: Highcharts Dashboards

#19823 dash/a11y-demo-minimal
  samples/dashboards/demo/light-dark-theme/demo.css
  samples/dashboards/demo/minimal/demo.html
  samples/dashboards/demo/minimal/demo.js
  ts/Dashboards/Components/Component.ts
Labels: Product: Highcharts Dashboards

#19797 dash/a11y-sync-extremes-demo
  samples/dashboards/demo/sync-extremes/demo.js
Labels: Product: Highcharts Dashboards

#19930 dash/row-layout-missing-id
  test/typescript-karma/Dashboards/Layout/tests.js
  ts/Dashboards/Layout/GUIElement.ts
  ts/Dashboards/Layout/Layout.ts
Labels: Changelog: Bugfix, Product: Highcharts Dashboards

#19925 dash/a11y-sync-axes
  samples/dashboards/demo/axes-sync/demo.js
Labels: a11y, Product: Highcharts Dashboards

#19943 dash/kpi-move
  samples/highcharts/studies/dashboard-threshold/demo.mjs
  test/cypress/integration/Dashboards/Components/component-error-handler.cy.js
  tools/gulptasks/dashboards/api-docs.json
  ts/Dashboards/EditMode/SidebarPopup.ts
  ts/Dashboards/Plugins/HighchartsPlugin.ts
  ts/Dashboards/Plugins/KPIComponent.ts
  ts/Dashboards/Plugins/KPISyncHandlers.ts
Labels: Product: Highcharts Dashboards

#19914 dash/a11y-datagrid-mathmodifier
  samples/dashboards/demo/datagrid-mathmodifier/demo.html
  samples/dashboards/demo/datagrid-mathmodifier/demo.js
Labels: Product: Highcharts Dashboards

#19960 dash/export-to-json-localstorage-demo
  docs/dashboards/get-options.md
  docs/sidebars.js
  samples/dashboards/exporting/export-to-localstorage/demo.css
  samples/dashboards/exporting/export-to-localstorage/demo.details
  samples/dashboards/exporting/export-to-localstorage/demo.html
  samples/dashboards/exporting/export-to-localstorage/demo.js
Labels: Changelog: Feature, Product: Highcharts Dashboards

#19776 dash/a11y-light-dark-demo
  samples/dashboards/demo/light-dark-theme/demo.css
  samples/dashboards/demo/light-dark-theme/demo.html
  samples/dashboards/demo/light-dark-theme/demo.js
Labels: Product: Highcharts Dashboards

#19935 compare/bugfix/19934-safari-csv-export
  ts/Extensions/ExportData/ExportData.ts
Labels: Changelog: Bugfix

#19890 dash/remove-threshold-component
  docs/dashboards/custom-component.md
  samples/dashboards/components/custom-threshold-component/demo.css
  samples/dashboards/components/custom-threshold-component/demo.details
  samples/dashboards/components/custom-threshold-component/demo.html
  samples/dashboards/components/custom-threshold-component/demo.js
  samples/highcharts/studies/dashboard-threshold/demo.css
  samples/highcharts/studies/dashboard-threshold/demo.details
  samples/highcharts/studies/dashboard-threshold/demo.html
  samples/highcharts/studies/dashboard-threshold/demo.mjs
  ts/Dashboards/Components/ThresholdComponent.ts
Labels: Product: Highcharts Dashboards

#19973 Fixed #10073, distribution and maxDistance
  ts/Core/Renderer/RendererUtilities.ts
Labels: Product: Highcharts Stock, Changelog: Bugfix

#19956 dash/a11y-datagrid-sync-demo
  samples/dashboards/demo/datagrid-sync/demo.html
  samples/dashboards/demo/datagrid-sync/demo.js
Labels: Product: Highcharts Dashboards

#19979 dash/docs-hc-compatibility
  docs/dashboards/highcharts-component.md
  docs/dashboards/kpi-component.md
Labels: Product: Highcharts Dashboards

#19906 bugfix/19475-mouse-wheel-zoom-empty-space
  ts/Extensions/MouseWheelZoom/MouseWheelZoom.ts
Labels: Product: Highcharts Stock, Changelog: Bugfix

#19982 dash/docs-embedded-demos
  docs/dashboards/custom-component.md
  docs/dashboards/data-modifiers.md
  docs/dashboards/edit-mode.md
  docs/dashboards/layout-description.md
  docs/dashboards/light-dark-theme.md
  docs/dashboards/style-by-css.md
  docs/dashboards/your-first-dashboard.md
Labels: Product: Highcharts Dashboards

#20005 Default linewidth for graph 2px
  css/highcharts.css
  samples/unit-tests/indicator-dmi/recalculations/demo.js
  ts/Core/Series/SeriesDefaults.ts
Labels: Changelog: Feature

#19986 dash/datagrid-a11y-quickfix
  ts/DataGrid/DataGrid.ts
Labels: Product: Highcharts Dashboards

#19942 dash/docs-tweaks
  docs/dashboards/data-handling.md
  docs/dashboards/data-modifiers.md
  docs/dashboards/installation-with-es-modules.md
  docs/dashboards/navigator-component.md
  docs/dashboards/types-of-components.md
  docs/dashboards/your-first-dashboard.md
  docs/working-with-data/live-data.md
Labels: Product: Highcharts Dashboards

#20017 dash/a11y-context-menu-res
  ts/Dashboards/EditMode/EditContextMenu.ts
  ts/Dashboards/EditMode/EditMode.ts
Labels: Product: Highcharts Dashboards

#20004 dash/edit-mode-docs-improvement
  docs/dashboards/edit-mode-chart-settings.png
  docs/dashboards/edit-mode-settings-button.png
  docs/dashboards/edit-mode.md
Labels: Product: Highcharts Dashboards

#19708 dash/remove-wheelzoom-default
  ts/Dashboards/Plugins/HighchartsComponent.ts
Labels: Product: Highcharts Dashboards
