Repository highcharts/highcharts, pull requests merged in 2023-07, with the labels that each got.

#19255 Added section on sync and aliases in dashboards FAQ
  docs/dashboards/frequently-asked-questions.md
  samples/dashboards/issues/sync-aliases/demo.css
  samples/dashboards/issues/sync-aliases/demo.details
  samples/dashboards/issues/sync-aliases/demo.html
  samples/dashboards/issues/sync-aliases/demo.js
Labels: Product: Highcharts Dashboards

#19263 dash/custom-html-component-fix
  docs/dashboards/custom-component.md
  samples/dashboards/components/custom-html-component/demo.js
Labels: Product: Highcharts Dashboards

#19259 dash/exclude-datagrid-from-plugin-build
  ts/masters-dashboards/modules/dashboards-plugin.src.ts
Labels: Product: Highcharts Dashboards

#19265 Dash/demo details
  samples/dashboards/demo/axes-sync/demo.details
  samples/dashboards/demo/climate/demo.details
  samples/dashboards/demo/datacursor-sync/demo.details
  samples/dashboards/demo/datagrid-sync/demo.details
  samples/dashboards/demo/light-dark-theme/demo.details
  samples/dashboards/demo/minimal/demo.details
Labels: Product: Highcharts Dashboards

#19270 dash/api-options-directory
  tools/gulptasks/dashboards/api-docs.json
Labels: Product: Highcharts Dashboards

#19150 Db/visual test gh action
  .circleci/config.yml
  .github/workflows/dashboards-visual-test.yml
Labels: Product: Highcharts Dashboards

#19225 bugfix/19202-exclude-item-series-legenditemclick
  ts/Series/Item/ItemSeries.ts
Labels: Product: Highcharts, Changelog: Bugfix

#19234 db/DataPoolConnectorOptions
  samples/dashboards/cypress/add-layout/demo.mjs
  samples/dashboards/cypress/chart-interaction/demo.mjs
  samples/dashboards/cypress/chart-series-visibility/demo.js
  samples/dashboards/cypress/component-datagrid/demo.mjs
  samples/dashboards/cypress/sync-chart-extremes/demo.js
  samples/dashboards/demo/axes-sync/demo.js
  samples/dashboards/demo/datagrid-sync/demo.js
  samples/dashboards/demo/light-dark-theme/demo.js
  samples/dashboards/demo/minimal/demo.js
  samples/highcharts/website/static-editor/demo.js
  samples/unit-tests/data/general/demo.js
  tools/gulptasks/dashboards/api-docs.json
  ts/Dashboards/SerializeHelper/CSVConnectorHelper.ts
  ts/Dashboards/SerializeHelper/GoogleSheetsConnectorHelper.ts
  ts/Dashboards/SerializeHelper/HTMLTableConnectorHelper.ts
  ts/Data/Connectors/CSVConnector.ts
  ts/Data/Connectors/CSVConnectorOptions.d.ts
  ts/Data/Connectors/DataConnector.ts
  ts/Data/Connectors/DataConnectorOptions.d.ts
  ts/Data/Connectors/GoogleSheetsConnector.ts
  ts/Data/Connectors/GoogleSheetsConnectorOptions.d.ts
  ts/Data/Connectors/HTMLTableConnector.ts
  ts/Data/Connectors/HTMLTableConnectorOptions.d.ts
  ts/Data/DataPoolOptions.ts
Labels: Product: Highcharts Dashboards

#19283 dash/paths-sync-aliases
  samples/dashboards/issues/sync-aliases/demo.html
Labels: Product: Highcharts Dashboards

#19261 Dash/component spec demos
  samples/dashboards/datagrid-component/datagrid-options/demo.css
  samples/dashboards/datagrid-component/datagrid-options/demo.details
  samples/dashboards/datagrid-component/datagrid-options/demo.html
  samples/dashboards/datagrid-component/datagrid-options/demo.js
  samples/dashboards/highcharts-components/chart-and-stock-constructors/demo.css
  samples/dashboards/highcharts-components/chart-and-stock-constructors/demo.details
  samples/dashboards/highcharts-components/chart-and-stock-constructors/demo.html
  samples/dashboards/highcharts-components/chart-and-stock-constructors/demo.js
  samples/dashboards/highcharts-components/chart-constructor-gantt/demo.css
  samples/dashboards/highcharts-components/chart-constructor-gantt/demo.details
  samples/dashboards/highcharts-components/chart-constructor-gantt/demo.html
  samples/dashboards/highcharts-components/chart-constructor-gantt/demo.js
  samples/dashboards/highcharts-components/chart-constructor-maps/demo.css
  samples/dashboards/highcharts-components/chart-constructor-maps/demo.details
  samples/dashboards/highcharts-components/chart-constructor-maps/demo.html
  samples/dashboards/highcharts-components/chart-constructor-maps/demo.js
  samples/dashboards/highcharts-components/highcharts/demo.css
  samples/dashboards/highcharts-components/highcharts/demo.details
  samples/dashboards/highcharts-components/highcharts/demo.html
  samples/dashboards/highcharts-components/highcharts/demo.js
  samples/dashboards/kpi-component/threshold/demo.css
  samples/dashboards/kpi-component/threshold/demo.details
  samples/dashboards/kpi-component/threshold/demo.html
  samples/dashboards/kpi-component/threshold/demo.js
  samples/dashboards/kpi-component/value-format/demo.css
  samples/dashboards/kpi-component/value-format/demo.details
  samples/dashboards/kpi-component/value-format/demo.html
  samples/dashboards/kpi-component/value-format/demo.js
  ts/Dashboards/Board.ts
  ts/Dashboards/Components/KPIComponent.ts
  ts/Dashboards/Plugins/HighchartsComponent.ts
  ts/DataGrid/DataGridOptions.d.ts
Labels: Product: Highcharts Dashboards

#19284 Fixed changelog script.
  changelog/generate-html.js
  changelog/generate.js
Labels: Product: Highcharts Dashboards

#19003 db/dashboards-math
  samples/dashboards/demo/datagrid-mathmodifier/demo.css
  samples/dashboards/demo/datagrid-mathmodifier/demo.details
  samples/dashboards/demo/datagrid-mathmodifier/demo.html
  samples/dashboards/demo/datagrid-mathmodifier/demo.js
  samples/highcharts/website/static-editor/demo.js
  tools/gulptasks/dashboards/api-docs.json
  tools/gulptasks/dashboards/dist-build.js
  ts/Data/DataPool.ts
  ts/Data/DataPoolOptions.ts
  ts/DataGrid/DataGrid.ts
  ts/masters-dashboards/modules/math-modifier.src.ts
Labels: Product: Highcharts Dashboards

#19266 Dash/component spec
  samples/dashboards/html-component/nested-elements/demo.css
  samples/dashboards/html-component/nested-elements/demo.details
  samples/dashboards/html-component/nested-elements/demo.html
  samples/dashboards/html-component/nested-elements/demo.js
  samples/dashboards/html-component/single-element/demo.css
  samples/dashboards/html-component/single-element/demo.details
  samples/dashboards/html-component/single-element/demo.html
  samples/dashboards/html-component/single-element/demo.js
  ts/Dashboards/Components/HTMLComponent.ts
Labels: Product: Highcharts Dashboards

#19290 dash/fixed-docs-npm-package
  docs/dashboards/installation.md
  ts/Dashboards/README.md
Labels: Product: Highcharts Dashboards

#19291 Fixed merge issues with climate demo
  css/dashboards.css
  css/datagrid.css
  samples/dashboards/demo/climate/demo.html
  samples/dashboards/demo/climate/demo.js
  samples/dashboards/demo/datagrid-mathmodifier/demo.css
  tools/gulptasks/dashboards/dist-build.js
  tools/gulptasks/dashboards/dist-upload.js
  ts/Data/DataPool.ts
Labels: Product: Highcharts Dashboards

#19294 dash/demo-page-samples
  samples/dashboards/demo/datagrid-mathmodifier/demo.details
  samples/dashboards/demo/sync-extremes/demo.details
Labels: Product: Highcharts Dashboards

#19297 dash/datagrid-format
  ts/DataGrid/DataGrid.ts
Labels: Product: Highcharts Dashboards

#19286 Set use_png_thumbnail in axis sync demo
  samples/dashboards/demo/axes-sync/demo.details
Labels: Product: Highcharts Dashboards

#19300 Updated link in dash docs.
  ts/Dashboards/README.md
Labels: Product: Highcharts Dashboards

#19299 bugfix/19279-tooltip-shape-type-docs
  ts/Core/Defaults.ts
  ts/Core/Tooltip.ts
Labels: Product: Highcharts

#19310 Improved Dashboards DTS
  .husky/pre-commit
  package.json
  test/typescript-dts/dashboards/dashboards.ts
  test/typescript-dts/dashboards/modules/dashboards-plugin.ts
  test/typescript-dts/dashboards/tsconfig.json
  tools/gulptasks/dashboards/dist-minify.js
  tools/gulptasks/dashboards/scripts-dts.js
  tools/gulptasks/dashboards/scripts-dts/dashboards.d.ts
  tools/gulptasks/dashboards/scripts-dts/dashboards.src.d.ts
  tools/gulptasks/dashboards/scripts-dts/datagrid.src.d.ts
  tools/gulptasks/dashboards/scripts-dts/modules/dashboards-plugin.src.d.ts
  tools/gulptasks/dashboards/scripts-dts/modules/math-modifier.src.d.ts
  tools/gulptasks/dashboards/scripts.js
  tools/gulptasks/dashboards/test.js
  tools/gulptasks/jsdoc-dts.js
  tools/gulptasks/pr-size-table.js
  tools/gulptasks/scripts-compile.js
  tools/gulptasks/test-ts.js
  ts/.eslintignore
  ts/Dashboards/Components/KPIComponent.ts
  ts/Dashboards/EditMode/SidebarPopup.ts
  ts/Dashboards/Plugins/DataGridComponent.ts
  ts/Dashboards/Plugins/HighchartsComponent.ts
  ts/Dashboards/Plugins/HighchartsPlugin.ts
  ts/Dashboards/Plugins/HighchartsSyncHandlers.ts
  ts/Dashboards/Plugins/HighchartsTypes.ts
  ts/DataGrid/Globals.ts
  ts/Extensions/Sonification/Options.ts
  ts/masters-dashboards/dashboards.src.ts
  ts/masters-dashboards/datagrid.src.ts
  ts/masters-dashboards/modules/dashboards-plugin.src.ts
  ts/masters-dashboards/modules/math-modifier.src.ts
  ts/masters-es5/tsconfig.json
  ts/tsconfig.json
Labels: Changelog: Bugfix, Product: Highcharts Dashboards

#19318 dash/save-state-new-component
  test/cypress/integration/Dashboards/json-serialization.cy.js
Labels: Product: Highcharts Dashboards

#19317 Dash/api docs cleanup
  tools/gulptasks/dashboards/api-docs.json
  ts/Dashboards/Actions/Resizer.ts
  ts/Dashboards/Board.ts
  ts/Dashboards/EditMode/EditMode.ts
Labels: Changelog: Bugfix, Product: Highcharts Dashboards

#19329 dash/datagrid-scrollbars
  css/datagrid.css
  ts/DataGrid/DataGrid.ts
Labels: Changelog: Bugfix, Product: Highcharts Dashboards

#19236 dash/getoptions-json-serialization
  css/dashboards.css
  samples/dashboards/cypress/dashboard-layout/demo.mjs
  samples/dashboards/exporting/export-to-json/demo.css
  samples/dashboards/exporting/export-to-json/demo.details
  samples/dashboards/exporting/export-to-json/demo.html
  samples/dashboards/exporting/export-to-json/demo.js
  samples/dashboards/exporting/export-to-json/readme.md
  test/cypress/integration/Dashboards/json-serialization.cy.js
  ts/Dashboards/Actions/Resizer.ts
  ts/Dashboards/Board.ts
  ts/Dashboards/Components/Component.ts
  ts/Dashboards/Components/HTMLComponent.ts
  ts/Dashboards/Components/KPIComponent.ts
  ts/Dashboards/Layout/Cell.ts
  ts/Dashboards/Layout/Layout.ts
  ts/Dashboards/Layout/Row.ts
  ts/Dashboards/Plugins/DataGridComponent.ts
  ts/Dashboards/Plugins/HighchartsComponent.ts
Labels: Changelog: Feature, Product: Highcharts Dashboards

#19308 Dash/cleanup docs
  docs/dashboards/custom-component.md
  docs/dashboards/edit-mode.md
  docs/dashboards/frequently-asked-questions.md
  docs/dashboards/installation.md
  docs/dashboards/light-dark-theme.md
  docs/dashboards/types-of-components.md
  docs/dashboards/your-first-dashboard.md
  samples/dashboards/demo/datagrid-mathmodifier/demo.js
  ts/Dashboards/README.md
Labels: Changelog: Bugfix, Product: Highcharts Dashboards

#19351 Renamed gfx directory to match with current naming convention
  gfx/dashboards-icons/add.svg
  gfx/dashboards-icons/close.svg
  gfx/dashboards-icons/computer.svg
  gfx/dashboards-icons/destroy.svg
  gfx/dashboards-icons/drag.svg
  gfx/dashboards-icons/dropdown-pointer.svg
  gfx/dashboards-icons/menu.svg
  gfx/dashboards-icons/series-types/icon-column.svg
  gfx/dashboards-icons/series-types/icon-gauge.svg
  gfx/dashboards-icons/series-types/icon-line.svg
  gfx/dashboards-icons/series-types/icon-pie.svg
  gfx/dashboards-icons/series-types/icon-scatter.svg
  gfx/dashboards-icons/settings.svg
  gfx/dashboards-icons/smartphone.svg
  gfx/dashboards-icons/tablet.svg
Labels: Product: Highcharts Dashboards

#19350 feature/cypress-gulp-task
  gulpfile.js
  tools/gulptasks/dashboards/cypress.js
Labels: Product: Highcharts Dashboards

#19360 Changed a broken jsfiddle link to sample iframe
  docs/dashboards/your-first-dashboard.md
Labels: Product: Docs, Product: Highcharts Dashboards

#19355 dash/implement-gulp-scripts-watch
  .husky/pre-commit
  gulpfile.js
  tools/gulptasks/dashboards/lint.js
  tools/gulptasks/dashboards/scripts-watch.js
  tools/gulptasks/dashboards/test-karma.js
  tools/gulptasks/dashboards/test.js
  ts/Dashboards/Plugins/HighchartsComponent.ts
  ts/Dashboards/Plugins/HighchartsTypes.ts
  ts/Dashboards/tsconfig.json
Labels: Product: Highcharts Dashboards

#19336 Dash/implement gulp dashboards tests
  tools/gulptasks/dashboards/lint.js
  ts/Dashboards/Plugins/HighchartsComponent.ts
  ts/Dashboards/tsconfig.json
Labels: Product: Highcharts Dashboards

#19363 dash/test-links-in-docs
  docs/dashboards/custom-component.md
  docs/dashboards/frequently-asked-questions.md
  docs/maps/custom-geojson-maps.md
  docs/maps/map-collection.md
  gulpfile.js
  tools/gulptasks/test-docs.js
  tools/gulptasks/test.js
  ts/Dashboards/tslint.json
Labels: Product: Highcharts Dashboards

#19378 dash/datagrid-demo-typo
  samples/dashboards/cypress/component-datagrid/demo.mjs
  test/cypress/integration/Dashboards/Components/DataGridComponent.cy.js
Labels: Product: Highcharts Dashboards

#19370 dash/productsjs
  gulpfile.js
  package-lock.json
  package.json
  tools/gulptasks/dashboards/dist-productsjs.js
  tools/gulptasks/dashboards/dist-upload.js
  tools/gulptasks/dashboards/dist.js
  tools/gulptasks/dist-productsjs.js
  ts/Dashboards/Plugins/DataGridComponent.ts
Labels: Product: Highcharts Dashboards

#19380 dash/fix-naming
  samples/highcharts/studies/dashboard-strava-csv/demo.mjs
  tools/gulptasks/dashboards/dist-build.js
  tools/gulptasks/dashboards/scripts.js
  ts/Dashboards/PluginHandler.ts
  ts/Dashboards/Plugins/DataGridPlugin.ts
  ts/Dashboards/Plugins/HighchartsPlugin.ts
Labels: Changelog: Bugfix, Product: Highcharts Dashboards

#19275 Dash/dist-examples
  gulpfile.js
  test/gulp-unit-tests.js
  tools/gulptasks/dashboards/dist-build.js
  tools/gulptasks/dashboards/dist-examples.js
  tools/gulptasks/dist-examples.js
Labels: Product: Highcharts Dashboards

#19382 dash/fix-dist
  .husky/pre-commit
  package-lock.json
  package.json
  test/typescript-karma/Dashboards/Component/tests.js
  tools/gulptasks/dashboards/dist-build.js
  tools/gulptasks/dashboards/dist-examples.js
  tools/gulptasks/dashboards/dist-release.js
  tools/gulptasks/dashboards/dist.js
  tools/gulptasks/dashboards/test-karma.js
Labels: Product: Highcharts Dashboards

#19400 dash/fix-dist
  .circleci/config.yml
  tools/gulptasks/dashboards/dist-release.js
  tools/gulptasks/dashboards/dist-upload.js
Labels: Product: Highcharts Dashboards

#19386 feature/dashboards-redraw-event
  samples/dashboards/component-options/events/demo.js
  samples/dashboards/cypress/chart-interaction/demo.html
  samples/dashboards/cypress/chart-interaction/demo.mjs
  test/cypress/integration/Dashboards/Components/events.cy.js
  ts/Dashboards/Components/Component.ts
Labels: Changelog: Feature, Product: Highcharts Dashboards

#19398 dash/fix-karma-test
  tools/gulptasks/test-ts.js
Labels: Product: Highcharts Dashboards

#19417 dash/fixed-api-generator
  tools/gulptasks/dashboards/api-docs.js
Labels: Product: Highcharts Dashboards

#19406 dash/component-update-connector
  samples/dashboards/cypress/component-with-no-connector/demo.css
  samples/dashboards/cypress/component-with-no-connector/demo.html
  samples/dashboards/cypress/component-with-no-connector/demo.mjs
  test/cypress/integration/Dashboards/sync/sync-on-added-connector.cy.js
  ts/Dashboards/Components/Component.ts
  ts/Dashboards/Components/Sync/Sync.ts
  ts/Dashboards/Plugins/DataGridComponent.ts
  ts/Dashboards/Plugins/HighchartsComponent.ts
Labels: Changelog: Bugfix, Product: Highcharts Dashboards

#19423 dash/fix-linting
  .github/workflows/dashboards-test.yml
  ts/Dashboards/Plugins/DataGridComponent.ts
  ts/Dashboards/Plugins/HighchartsComponent.ts
Labels: Product: Highcharts Dashboards

#19424 dash/npm-dapi
  package.json
Labels: Product: Highcharts Dashboards

#19401 dash/fix-dts
  test/typescript-dts/dashboards/dashboards.ts
  tools/gulptasks/dashboards/scripts-dts.js
  tools/gulptasks/dashboards/scripts-dts/dashboards.src.d.ts
  tools/gulptasks/dashboards/scripts-dts/modules/math-modifier.src.d.ts
  tools/gulptasks/lib/fs.js
  ts/Dashboards/Components/KPIComponent.ts
  ts/Data/Connectors/CSVConnector.ts
  ts/Data/Connectors/CSVConnectorOptions.d.ts
  ts/Data/Connectors/GoogleSheetsConnector.ts
  ts/Data/Connectors/GoogleSheetsConnectorOptions.d.ts
  ts/Data/Connectors/HTMLTableConnector.ts
  ts/Data/Modifiers/ChainModifier.ts
  ts/Data/Modifiers/ChainModifierOptions.ts
  ts/Data/Modifiers/InvertModifier.ts
  ts/Data/Modifiers/RangeModifier.ts
  ts/Data/Modifiers/SortModifier.ts
  ts/Shared/Types.ts
Labels: Changelog: Bugfix, Product: Highcharts Dashboards

#19425 dash/datagrid-resize
  test/cypress/integration/DataGrid/cell-header-format.cy.js
  ts/DataGrid/DataGrid.ts
Labels: Changelog: Bugfix, Product: Highcharts Dashboards

#19444 dash/text-options
  test/typescript-dts/dashboards/dashboards.ts
  tools/gulptasks/dashboards/api-docs.json
  ts/Dashboards/Board.ts
  ts/Dashboards/Components/Component.ts
  ts/Dashboards/Components/TextOptions.d.ts
Labels: Changelog: Bugfix, Product: Highcharts Dashboards

#19446 dash/examples-zip
  tools/gulptasks/dashboards/dist-examples.js
Labels: Product: Highcharts Dashboards

#19430 Dash/datagrid sync visibility
  samples/dashboards/cypress/component-datagrid/demo.mjs
  samples/dashboards/demo/minimal/demo.js
  test/cypress/integration/Dashboards/Components/DataGrid/DataGridComponent.cy.js
  ts/Dashboards/Plugins/DataGridSyncHandlers.ts
  ts/Dashboards/Plugins/HighchartsSyncHandlers.ts
Labels: Changelog: Feature, Product: Highcharts Dashboards
