Repository highcharts/highcharts, pull requests merged in 2023-11, with the labels that each got.

#20035 enhancement/added-trendline-to-indicators-docs
  docs/stock/technical-indicator-series.md
Labels: Product: Highcharts Stock, Product: Docs

#19896 bugfix/19604-ticks-calculation-after-update
  samples/unit-tests/axis/breaks/demo.js
  samples/unit-tests/axis/ticks/demo.css
  samples/unit-tests/axis/ticks/demo.js
  ts/Core/Axis/Axis.ts
  ts/Core/Axis/Tick.ts
  ts/Core/Chart/Chart.ts
Labels: Product: Highcharts, Changelog: Bugfix

#20052 Docs: Elaborated on different Axis zIndex
  ts/Core/Axis/AxisDefaults.ts
Labels: Product: Docs

#19709 Refactor zones and clipping
  samples/highcharts/studies/zone-clipping/demo.css
  samples/highcharts/studies/zone-clipping/demo.details
  samples/highcharts/studies/zone-clipping/demo.html
  samples/highcharts/studies/zone-clipping/demo.js
  samples/unit-tests/scrollable-plotarea/dynamics/demo.js
  samples/unit-tests/series/zones/demo.js
  samples/unit-tests/utils/distribute/demo.js
  ts/Core/Renderer/SVG/SVGElement.ts
  ts/Core/Renderer/SVG/SVGRenderer.ts
  ts/Core/Series/Point.ts
  ts/Core/Series/Series.ts
  ts/Core/Series/SeriesOptions.d.ts
  ts/Extensions/Boost/BoostSeries.ts
  ts/Series/Area/AreaSeries.ts
  ts/Series/Bubble/BubbleSeries.ts
  ts/Series/Line/LinePoint.d.ts
  ts/Series/Line/LineSeries.ts
  ts/Series/OHLC/OHLCPoint.ts
  ts/Series/Waterfall/WaterfallSeries.ts
  ts/Stock/Indicators/MACD/MACDIndicator.ts
  ts/Stock/Indicators/MACD/MACDOptions.d.ts
Labels: Changelog: Bugfix

#20058 docs/20055-datasorting-bullet
  ts/Series/Bullet/BulletSeriesDefaults.ts
Labels: Product: Highcharts, Product: Docs

#20063 dash/tools-fix
  samples/unit-tests/axis/ticks/demo.js
  samples/unit-tests/utils/distribute/demo.js
  test/cypress/dashboards/lighthouse.config.mjs
  test/cypress/dashboards/visual.config.mjs
Labels: Product: Highcharts Dashboards

#19967 dash/simplified-climate-demo
  samples/dashboards/demo/climate/demo.css
  samples/dashboards/demo/climate/demo.html
  samples/dashboards/demo/climate/demo.js
  samples/dashboards/demo/climate/test-notes.md
  samples/data/climate-cities-limited.csv
  test/cypress/dashboards/visual/Dashboards.cy.js
Labels: Product: Highcharts Dashboards

#19998 dash/unmount-component-event
  test/cypress/dashboards/integration/Components/events.cy.js
  ts/Dashboards/Components/Component.ts
Labels: Changelog: Bugfix, Product: Highcharts Dashboards

#19965 dash/sidebar-outside-click
  test/cypress/dashboards/integration/component-add.cy.js
  ts/Dashboards/EditMode/SidebarPopup.ts
Labels: Changelog: Feature, Product: Highcharts Dashboards

#20068 docs/20061-api-improvement-jitter-boost
  ts/Series/Scatter/ScatterSeriesDefaults.ts
Labels: Product: Highcharts, Product: Docs

#20071 dash/cypress-visual-timeouts-fix
  test/cypress/dashboards/visual/Dashboards.cy.js
Labels: Product: Highcharts Dashboards

#19640 bugfix/19621-a11y-broken-legend-kbd-navigation
  samples/unit-tests/accessibility/accessibility-options/demo.js
  ts/Accessibility/Components/LegendComponent.ts
Labels: Changelog: Bugfix, a11y

#20069 docs/20012-fix-wrong-histogram-dependency
  ts/Series/Histogram/HistogramSeriesDefaults.ts
Labels: Product: Highcharts, Product: Docs

#20084 dash/cypress-disable-animations
  samples/dashboards/cypress/add-layout/demo.mjs
  samples/dashboards/cypress/chart-interaction/demo.mjs
  samples/dashboards/cypress/chart-series-visibility/demo.js
  samples/dashboards/cypress/component-datagrid-csv-url/demo.mjs
  samples/dashboards/cypress/component-loading/demo.mjs
  samples/dashboards/cypress/component-with-no-connector/demo.mjs
  samples/dashboards/cypress/dashboard-layout/demo.mjs
  samples/dashboards/cypress/datagrid-mathmodifier/demo.js
  samples/dashboards/cypress/edit-mode-options/demo.mjs
  samples/dashboards/cypress/kpi-with-connector/demo.js
  samples/dashboards/cypress/options-lang/demo.mjs
  samples/dashboards/cypress/sync-chart-extremes/demo.js
Labels: Product: Highcharts Dashboards

#20067 dash/toggle-edit-mode-a11y
  css/dashboards.css
  samples/dashboards/demo/minimal/demo.js
  ts/Dashboards/EditMode/EditGlobals.ts
  ts/Dashboards/EditMode/EditRenderer.ts
  ts/Dashboards/EditMode/Menu/MenuItem.ts
Labels: Changelog: Bugfix, Product: Highcharts Dashboards

#20082 dash/kpi-chart-value-syncing
  docs/dashboards/kpi-component.md
  samples/dashboards/components/component-kpi/demo.js
  samples/dashboards/demo/climate/demo.css
  samples/dashboards/demo/climate/demo.js
  samples/dashboards/demo/styling/demo.js
  samples/dashboards/kpi-component/linked-value-to/demo.css
  samples/dashboards/kpi-component/linked-value-to/demo.details
  samples/dashboards/kpi-component/linked-value-to/demo.html
  samples/dashboards/kpi-component/linked-value-to/demo.js
  samples/dashboards/kpi-component/threshold/demo.js
  samples/dashboards/kpi-component/value-format/demo.js
  test/cypress/dashboards/integration/Components/KPI/KPIComponent.cy.js
  ts/Dashboards/Plugins/KPIComponent.ts
Labels: Changelog: Feature, Product: Highcharts Dashboards

#20108 bugfix/20002-offline-pdf-annotations
  samples/highcharts/exporting/offline-download-scale-and-annotations/demo.css
  samples/highcharts/exporting/offline-download-scale-and-annotations/demo.details
  samples/highcharts/exporting/offline-download-scale-and-annotations/demo.html
  samples/highcharts/exporting/offline-download-scale-and-annotations/demo.js
  samples/highcharts/exporting/offline-download-scale-and-annotations/test-notes.md
  samples/highcharts/exporting/offline-download-scale/demo.js
  samples/highcharts/exporting/offline-download-scale/test-notes.md
  ts/Extensions/OfflineExporting/OfflineExporting.ts
Labels: Product: Highcharts, Changelog: Bugfix

#20080 bugfix/19861-search-point-undefined
  samples/unit-tests/annotations/annotations-events/demo.js
  ts/Extensions/Annotations/Annotation.ts
Labels: Product: Highcharts Stock, Changelog: Bugfix

#20024 Added DataGrouping as trigger path for stock benchmarks.
  .github/workflows/stock-benchmark.yml
Labels: Product: Highcharts Stock

#20121 dash/styling-demo-renamed
  docs/dashboards/style-by-css.md
  samples/dashboards/demo/personal-finance/demo.css
  samples/dashboards/demo/personal-finance/demo.details
  samples/dashboards/demo/personal-finance/demo.html
  samples/dashboards/demo/personal-finance/demo.js
Labels: Product: Highcharts Dashboards

#20134 enhancement/rangeselector-text-change
  samples/stock/demo/rangeselector-datagrouping/demo.js
Labels: Product: Highcharts Stock

#20110 bugfix/19794-overheatprotector-redraw
  ts/Core/Chart/Chart.ts
  ts/Core/Chart/ChartDefaults.ts
  ts/Core/Chart/ChartOptions.d.ts
Labels: Product: Highcharts, Changelog: Bugfix

#20149 dash/text-context-button
  css/dashboards.css
  samples/dashboards/edit-mode/change-ctx-icon/demo.js
  ts/Dashboards/EditMode/EditContextMenu.ts
  ts/Dashboards/EditMode/EditGlobals.ts
  ts/Dashboards/EditMode/EditRenderer.ts
Labels: Changelog: Feature, Product: Highcharts Dashboards

#20152 bugfix/17545-funnel-data-labels-inside
  samples/unit-tests/series-funnel/funnel/demo.js
  ts/Extensions/OverlappingDataLabels.ts
  ts/Series/Funnel/FunnelSeries.ts
Labels: Product: Highcharts, Changelog: Bugfix

#19544 bugfix/19497-boost-category-axis-disappearing-points
  ts/Extensions/Boost/BoostSeries.ts
  ts/Extensions/Boost/WGLRenderer.ts
Labels: Product: Highcharts, Changelog: Bugfix

#19761 Tree.ts now doesnt throw error on missing parents
  samples/unit-tests/gantt/gantt/demo.js
  ts/Core/Axis/TreeGrid/TreeGridAxis.ts
  ts/Core/Axis/TreeGrid/TreeGridTick.ts
  ts/Gantt/Tree.ts
Labels: Product: Highcharts Gantt, Changelog: Bugfix

#20155 docs/20115-overscroll-navigator
  ts/Core/Axis/AxisDefaults.ts
Labels: Product: Highcharts Stock, Product: Docs

#20163 Fixed #19726 Docs did not adequately explain tickPlacement for category axes
  ts/Core/Axis/AxisDefaults.ts
Labels: Product: Docs

#20181 dash/fix-cypress-tests
  test/cypress/dashboards/integration/edit-component.cy.js
  test/cypress/dashboards/integration/json-serialization.cy.js
Labels: Product: Highcharts Dashboards

#20182 bugfix/20180-gantt-visible-axis
  samples/unit-tests/gantt/gantt/demo.js
  ts/Core/Axis/TreeGrid/TreeGridAxis.ts
Labels: Product: Highcharts Gantt

#20148 bugfix/19845-gantt-axis-alignment
  samples/unit-tests/gantt/grid-axis/demo.js
  ts/Core/Axis/GridAxis.ts
Labels: Product: Highcharts Gantt, Changelog: Bugfix

#20062 Bugfix: Scatter boost exit
  samples/unit-tests/series/setdata/demo.html
  ts/Core/Series/Series.ts
  ts/Extensions/Boost/BoostSeries.ts
Labels: Product: Highcharts, Changelog: Bugfix

#20186 bugfix/19857-disappearing-auto-rotation-labels
  samples/unit-tests/axis/labels/demo.js
  ts/Core/Axis/Axis.ts
  ts/Core/Axis/Axis3DComposition.ts
Labels: Product: Highcharts, Changelog: Bugfix

#20184 docs/export-server-setup
  docs/export-module/setting-up-the-server.md
Labels: Product: Docs

#20187 dash/error-add-chart
  cypress.config.mjs
  test/cypress/dashboards/integration/component-add.cy.js
  ts/Dashboards/Components/Component.ts
Labels: Changelog: Bugfix, Product: Highcharts Dashboards

#20173 dash/test-notes
  samples/dashboards/component-options/events/demo.js
  samples/dashboards/component-options/events/test-notes.md
  samples/dashboards/component-options/sync-highlight/test-notes.md
  samples/dashboards/component-options/sync-visibility/test-notes.md
  samples/dashboards/components/component-error-handler/test-notes.md
  samples/dashboards/components/custom-threshold-component/test-notes.md
  samples/dashboards/components/kpi-with-connector/test-notes.md
  samples/dashboards/demo/axes-sync/test-notes.md
  samples/dashboards/demo/crossfilter/test-notes.md
  samples/dashboards/demo/datagrid-mathmodifier/test-notes.md
  samples/dashboards/demo/datagrid-sync/test-notes.md
  samples/dashboards/demo/light-dark-theme/test-notes.md
  samples/dashboards/edit-mode/buttons-disabled/test-notes.md
  samples/dashboards/edit-mode/change-close-icon/test-notes.md
  samples/dashboards/edit-mode/change-ctx-icon/test-notes.md
  samples/dashboards/edit-mode/toolbars-disabled/test-notes.md
  samples/dashboards/exporting/export-to-localstorage/test-notes.md
Labels: Product: Highcharts Dashboards

#20215 dash/docs-minor-enhancements
  docs/getting-started/installation.md
  docs/public-index.md
Labels: Product: Highcharts Dashboards

#20225 dash/instalation-docs
  docs/dashboards/installation.md
Labels: Product: Highcharts Dashboards
