Repository highcharts/highcharts, pull requests merged in 2023-09, with the labels that each got.

#19659 dash/datagrid-horizontal-scroll
  ts/Dashboards/Plugins/DataGridComponent.ts
Labels: Changelog: Bugfix, Product: Highcharts Dashboards

#19667 dash/minimal-demo-datagrid-height
  samples/dashboards/demo/minimal/demo.js
Labels: Product: Highcharts Dashboards

#19673 dash/dragging-text-selection-bug
  ts/Dashboards/Actions/DragDrop.ts
Labels: Product: Highcharts Dashboards

#19662 Dash/fixed sync extremes demo
  samples/dashboards/demo/sync-extremes/demo.js
Labels: Product: Highcharts Dashboards

#19652 bugfix/19616-sunburst-update-breadcrumbs
  samples/unit-tests/breadcrumbs/breadcrumbs-in-treemap/demo.js
  ts/Series/Treemap/TreemapSeries.ts
Labels: Product: Highcharts, Changelog: Bugfix

#19614 bugfix/19314-tooltip-outside-wrong-size
  samples/unit-tests/tooltip/split/demo.js
  ts/Core/Tooltip.ts
Labels: Product: Highcharts, Changelog: Bugfix

#19603 dash/added-demo-description
  docs/dashboards/data-handling.md
  samples/dashboards/demo/axes-sync/demo.css
  samples/dashboards/demo/axes-sync/demo.html
  samples/dashboards/demo/climate/demo.css
  samples/dashboards/demo/climate/demo.html
  samples/dashboards/demo/datagrid-mathmodifier/demo.css
  samples/dashboards/demo/datagrid-mathmodifier/demo.html
  samples/dashboards/demo/datagrid-sync/demo.css
  samples/dashboards/demo/datagrid-sync/demo.html
  samples/dashboards/demo/light-dark-theme/demo.css
  samples/dashboards/demo/light-dark-theme/demo.html
  samples/dashboards/demo/minimal/demo.css
  samples/dashboards/demo/minimal/demo.html
  samples/dashboards/demo/sync-extremes/demo.css
  samples/dashboards/demo/sync-extremes/demo.html
  samples/dashboards/sync/datacursor-sync/demo.css
  samples/dashboards/sync/datacursor-sync/demo.details
  samples/dashboards/sync/datacursor-sync/demo.html
  samples/dashboards/sync/datacursor-sync/demo.js
Labels: Product: Highcharts Dashboards

#19650 Dash/data modifiers article
  docs/dashboards/data-modifiers.md
  docs/sidebars.js
Labels: Product: Highcharts Dashboards

#19556 bugfix/19505-missing-label-connector
  samples/dashboards/components/component-html/demo.css
  samples/highcharts/members/renderer-callout/demo.css
  samples/highcharts/members/renderer-callout/demo.html
  samples/highcharts/members/renderer-callout/demo.js
  samples/maps/demo/geoheatmap-earth-statistics/demo.css
  samples/unit-tests/svgrenderer/label/demo.js
  ts/Core/Renderer/SVG/Symbols.ts
  ts/Core/Tooltip.ts
Labels: Product: Highcharts Stock, Changelog: Bugfix

#19665 bugfix/18062-android-pinch-zoom
  ts/Core/Chart/Chart.ts
Labels: Product: Highcharts, Changelog: Bugfix

#19528 dash/1.0.2
  changelog/changelog.html
  changelog/highcharts-dashboards/1.0.2.md
Labels: Product: Highcharts Dashboards

#19686 dash/dataGridOptions-columns
  samples/dashboards/components/component-datagrid/demo.css
  samples/dashboards/components/component-datagrid/demo.details
  samples/dashboards/components/component-datagrid/demo.html
  samples/dashboards/components/component-datagrid/demo.js
  samples/dashboards/cypress/component-datagrid/demo.mjs
  test/cypress/integration/Dashboards/Components/DataGrid/DataGridComponent.cy.js
  test/typescript-karma/Dashboards/Component/tests.js
  ts/Dashboards/Plugins/DataGridComponent.ts
Labels: Changelog: Bugfix, Product: Highcharts Dashboards

#19687 dash/fix-component-loading-state
  samples/dashboards/components/custom-component/demo.js
  ts/Dashboards/Components/Component.ts
Labels: Product: Highcharts Dashboards

#19681 dash/light-dark-demo-dg-title
  samples/dashboards/demo/light-dark-theme/demo.css
  samples/dashboards/demo/light-dark-theme/demo.js
Labels: Product: Highcharts Dashboards

#19688 dash/fix-demo-sizing
  samples/dashboards/gui/cell-class-name/demo.css
Labels: Product: Highcharts Dashboards

#19696 bugfix/19495-point-class-missing-member
  tools/gulptasks/jsdoc-classes.js
Labels: Product: Docs

#19669 dash/editmode-event
  samples/dashboards/cypress/chart-interaction/demo.html
  samples/dashboards/cypress/chart-interaction/demo.mjs
  samples/dashboards/edit-mode/events/demo.css
  samples/dashboards/edit-mode/events/demo.details
  samples/dashboards/edit-mode/events/demo.html
  samples/dashboards/edit-mode/events/demo.js
  test/cypress/integration/Dashboards/Components/events.cy.js
  ts/Dashboards/EditMode/EditMode.ts
Labels: Changelog: Feature, Product: Highcharts Dashboards

#19697 Fixed #19692, mousewheel zoom was enabled even when general zoom was not
  test/cypress/readme.md
  ts/Core/Chart/StockChart.ts
  ts/Extensions/MouseWheelZoom/MouseWheelZoom.ts
Labels: Changelog: Bugfix

#19656 dash/docs-mathmodifier
  docs/dashboards/data-handling.md
  docs/dashboards/mathmodifier-module.md
  docs/sidebars.js
  samples/dashboards/demo/datagrid-mathmodifier/demo.css
  samples/dashboards/demo/datagrid-sync/demo.css
  samples/dashboards/demo/minimal/demo.css
  samples/highcharts/demo/pie-gradient/demo.js
  samples/unit-tests/svgrenderer/label/demo.js
  ts/Data/Formula/Functions/AVERAGEA.ts
  ts/Data/Formula/Functions/ISNA.ts
  ts/Data/Formula/Functions/MOD.ts
  ts/Data/Modifiers/MathModifier.ts
Labels: Product: Docs, Product: Highcharts Dashboards

#19684 dash/docs-data-pool
  docs/dashboards/data-handling.md
  docs/dashboards/data-modifiers.md
  docs/dashboards/data-pool-and-connectors.md
  docs/sidebars.js
  ts/Data/Connectors/GoogleSheetsConnectorOptions.d.ts
  ts/Data/Connectors/JSONConnectorOptions.d.ts
Labels: Product: Docs, Product: Highcharts Dashboards

#19691 dash/custom-sync
  docs/dashboards/synchronize-components.md
  samples/dashboards/component-options/custom-sync/demo.css
  samples/dashboards/component-options/custom-sync/demo.details
  samples/dashboards/component-options/custom-sync/demo.html
  samples/dashboards/component-options/custom-sync/demo.js
Labels: Changelog: Feature, Product: Highcharts Dashboards

#19714 dash/climate-performance-update
  samples/dashboards/demo/climate/demo.js
Labels: Product: Highcharts Dashboards

#19490 dash/demo-crossfilter
  docs/dashboards/navigator-component.md
  docs/sidebars.js
  samples/dashboards/demo/climate/demo.js
  samples/dashboards/demo/crossfilter/demo.css
  samples/dashboards/demo/crossfilter/demo.details
  samples/dashboards/demo/crossfilter/demo.html
  samples/dashboards/demo/crossfilter/demo.js
  samples/dashboards/demo/crossfilter/readme.md
  tools/gulptasks/dashboards/api-docs.json
  ts/Dashboards/Components/Component.ts
  ts/Dashboards/Components/Sync/Sync.ts
  ts/Dashboards/Plugins/HighchartsPlugin.ts
  ts/Dashboards/Plugins/NavigatorComponent.ts
  ts/Dashboards/Plugins/NavigatorComponentDefaults.ts
  ts/Dashboards/Plugins/NavigatorComponentOptions.ts
  ts/Data/DataPool.ts
Labels: Changelog: Feature, Product: Highcharts Dashboards

#19668 dash/custom-styling
  docs/dashboards/frequently-asked-questions.md
  docs/dashboards/style-by-css.md
  docs/sidebars.js
  samples/dashboards/demo/styling/demo.css
  samples/dashboards/demo/styling/demo.details
  samples/dashboards/demo/styling/demo.html
  samples/dashboards/demo/styling/demo.js
  test/cypress/integration/Dashboards/Components/DataGrid/DataGridComponent.cy.js
  test/typescript-karma/Dashboards/Layout/tests.js
  ts/Dashboards/Plugins/HighchartsComponent.ts
Labels: Product: Highcharts Dashboards

#19677 Dash/respo options bug
  samples/dashboards/cypress/respo-options/demo.css
  samples/dashboards/cypress/respo-options/demo.details
  samples/dashboards/cypress/respo-options/demo.html
  samples/dashboards/cypress/respo-options/demo.js
  samples/dashboards/demo/datagrid-mathmodifier/demo.js
  samples/dashboards/demo/datagrid-sync/demo.js
  samples/dashboards/demo/light-dark-theme/demo.js
  samples/dashboards/demo/sync-extremes/demo.js
  samples/dashboards/sync/datacursor-sync/demo.js
  test/cypress/integration/Dashboards/EditMode/responsive-options.cy.js
  ts/Dashboards/Board.ts
Labels: Product: Highcharts Dashboards

#19710 dash/cellFormat-datagrid
  samples/dashboards/cypress/datagrid-cell-formatter/demo.css
  samples/dashboards/cypress/datagrid-cell-formatter/demo.html
  samples/dashboards/cypress/datagrid-cell-formatter/demo.js
  samples/dashboards/issues/sync-aliases/demo.js
  test/cypress/integration/DataGrid/cell-format.cy.js
  ts/DataGrid/DataGrid.ts
  ts/DataGrid/DataGridOptions.d.ts
Labels: Changelog: Feature, Product: Highcharts Dashboards

#19689 Added accessibility support for navigator handles.
  css/highcharts.css
  samples/dashboards/demo/sync-extremes/demo.css
  samples/unit-tests/accessibility/accessibility-exporting/demo.js
  samples/unit-tests/accessibility/accessible-highstock/demo.js
  samples/unit-tests/accessibility/series-showhide/demo.js
  samples/unit-tests/styled-mode/series-types/demo.js
  ts/Accessibility/Accessibility.ts
  ts/Accessibility/Components/LegendComponent.ts
  ts/Accessibility/Components/MenuComponent.ts
  ts/Accessibility/Components/NavigatorComponent.ts
  ts/Accessibility/Components/SeriesComponent/SeriesKeyboardNavigation.ts
  ts/Accessibility/Components/ZoomComponent.ts
  ts/Accessibility/Options/A11yDefaults.ts
  ts/Accessibility/Options/A11yOptions.d.ts
  ts/Accessibility/Options/LangDefaults.ts
  ts/Accessibility/Options/LangOptions.d.ts
  ts/Accessibility/ProxyElement.ts
  ts/Accessibility/ProxyProvider.ts
  ts/Accessibility/Utils/Announcer.ts
  ts/Stock/Navigator/Navigator.ts
Labels: Changelog: Feature

#19682 dash/math-modifier-demo-tweaks
  samples/dashboards/demo/datagrid-mathmodifier/demo.html
  samples/dashboards/demo/datagrid-mathmodifier/demo.js
Labels: Product: Highcharts Dashboards

#19716 bugfix/formula-reference-translate
  test/typescript-karma/Data/Formula/Reference.test.js
  ts/Data/Formula/FormulaProcessor.ts
Labels: Changelog: Bugfix, Product: Highcharts Dashboards

#19690 dash/datagrid-mobile-responsiveness
  css/datagrid.css
  test/cypress/integration/DataGrid/cell-header-format.cy.js
  ts/Dashboards/Plugins/DataGridComponent.ts
  ts/DataGrid/DataGrid.ts
  ts/DataGrid/DataGridOptions.d.ts
Labels: Product: Highcharts Dashboards

#19262 bugfix/16784-wrong-extended-positions-calculations
  samples/highcharts/studies/pointandfigure/demo.js
  samples/unit-tests/axis/ordinal/demo.js
  ts/Core/Axis/OrdinalAxis.ts
Labels: Product: Highcharts Stock, Changelog: Bugfix

#19720 dash/fix-climate-demo
  samples/dashboards/demo/climate/demo.js
Labels: Product: Highcharts Dashboards

#19748 bugfix/19725-drilldown-cartesian-to-non-cartesian
  samples/unit-tests/drilldown/across-types/demo.html
  samples/unit-tests/drilldown/across-types/demo.js
  ts/Extensions/Drilldown.ts
  ts/Series/Wordcloud/WordcloudSeries.ts
Labels: Product: Highcharts, Changelog: Bugfix

#19749 bugfix/19744-polar-series-clip
  samples/unit-tests/chart/polar/demo.js
  ts/Series/PolarComposition.ts
Labels: Changelog: Bugfix

#19747 Simplified dashboards visual test workflow
  .github/workflows/dashboards-visual-test.yml
Labels: Product: Highcharts Dashboards

#19758 dash/confirmation-popup-close
  ts/Dashboards/EditMode/ConfirmationPopup.ts
Labels: Changelog: Bugfix, Product: Highcharts Dashboards

#19741 dash/small-screen-visual-tests
  test/cypress/visual/Dashboards.cy.js
  test/cypress/visual/readme.md
Labels: Product: Highcharts Dashboards

#19281 bugfix/14108-exporting-xrange-csv-data
  samples/unit-tests/export-data/basics/demo.html
  samples/unit-tests/export-data/basics/demo.js
  ts/Extensions/ExportData/ExportData.ts
  ts/Series/XRange/XRangeSeries.ts
Labels: Product: Highcharts, Changelog: Bugfix

#19759 dash/a11y-context-button
  ts/Dashboards/EditMode/EditGlobals.ts
  ts/Dashboards/EditMode/EditRenderer.ts
Labels: Changelog: Feature, Product: Highcharts Dashboards

#19774 docs/negative-log-axis-docs
  docs/chart-concepts/axes.md
Labels: Product: Highcharts, Product: Docs

#19757 dash/remap-gfx-paths
  css/dashboards.css
  samples/dashboards/cypress/dashboard-layout/demo.mjs
  samples/dashboards/demo/climate/demo.js
  samples/dashboards/edit-mode/change-close-icon/demo.js
  samples/dashboards/edit-mode/change-ctx-icon/demo.js
  tools/gulptasks/dashboards/dist-upload.js
  tools/gulptasks/dashboards/scripts-css.js
  tools/gulptasks/dashboards/scripts.js
  ts/Dashboards/Actions/Resizer.ts
Labels: Product: Highcharts Dashboards

#19754 dash/datatable-aliases
  samples/dashboards/sync/datacursor-sync/demo.js
  samples/highcharts/website/small-demos-dashboards/demo.js
  test/typescript-karma/Data/DataTable.test.js
  ts/Dashboards/SerializeHelper/DataTableHelper.ts
  ts/Data/DataTable.ts
  ts/Data/README.md
Labels: Changelog: Feature, Product: Highcharts Dashboards

#19548 bugfix/16769-tunnel-annotation-log-axis
  samples/unit-tests/annotations/annotations-tunnel/demo.css
  samples/unit-tests/annotations/annotations-tunnel/demo.details
  samples/unit-tests/annotations/annotations-tunnel/demo.html
  samples/unit-tests/annotations/annotations-tunnel/demo.js
  ts/Extensions/Annotations/Types/Tunnel.ts
Labels: Product: Highcharts Stock, Changelog: Bugfix

#19792 dash/fix-es-master-dts
  ts/masters-dashboards/dashboards.src.ts
Labels: Product: Highcharts Dashboards

#19796 dash/fix-css-dist
  tools/gulptasks/dashboards/dist-examples.js
  tools/gulptasks/dashboards/scripts-css.js
Labels: Product: Highcharts Dashboards

#19802 dash/docs-data-pool
  docs/dashboards/data-pool-and-connectors.md
  docs/sidebars.js
Labels: Product: Highcharts Dashboards

#19801 dash/docs-mathmodifier
  docs/dashboards/data-handling.md
  docs/dashboards/mathmodifier-module.md
  docs/sidebars.js
Labels: Product: Highcharts Dashboards

#19768 dash/context-button-aria-expanded
  ts/Dashboards/EditMode/EditContextMenu.ts
  ts/Dashboards/EditMode/EditRenderer.ts
Labels: Changelog: Feature, Product: Highcharts Dashboards

#19789 feature/candlestick-volume-demo-improvement
  samples/stock/demo/candlestick-and-volume/demo.js
Labels: Product: Highcharts Stock

#19787 feature/19675-missing-annotations-drag-event
  ts/Extensions/Annotations/AnnotationDefaults.ts
Labels: Product: Highcharts

#19807 dash/fix-crossfilter-demo
  samples/dashboards/demo/crossfilter/demo.html
Labels: Product: Highcharts Dashboards

#19813 dash/docs-duplicated-link
  docs/sidebars.js
Labels: Product: Highcharts Dashboards

#19795 dash/html-component-demo
  samples/dashboards/html-component/nested-elements/demo.css
  samples/dashboards/html-component/nested-elements/demo.html
  samples/dashboards/html-component/nested-elements/demo.js
  samples/dashboards/html-component/single-element/demo.css
  samples/dashboards/html-component/single-element/demo.html
Labels: Product: Highcharts Dashboards

#19815 bugfix/19762-offline-export-pdf-scale
  samples/highcharts/exporting/offline-download-scale/demo.css
  samples/highcharts/exporting/offline-download-scale/demo.details
  samples/highcharts/exporting/offline-download-scale/demo.html
  samples/highcharts/exporting/offline-download-scale/demo.js
  samples/highcharts/exporting/offline-download-scale/test-notes.md
  ts/Extensions/OfflineExporting/OfflineExporting.ts
Labels: Product: Highcharts, Changelog: Bugfix

#19775 dash/a11y-context-menu
  ts/Dashboards/EditMode/EditContextMenu.ts
  ts/Dashboards/EditMode/EditMode.ts
Labels: Changelog: Feature, Product: Highcharts Dashboards

#19814 docs/vue-volar
  docs/dashboards/dashboards-with-vue.md
Labels: Product: Highcharts Dashboards
