Repository highcharts/highcharts, pull requests merged in 2023-12, with the labels that each got.

#20218 dash/HighchartsTypes
  .github/workflows/dashboards-test.yml
  tools/gulptasks/dashboards/scripts.js
  ts/Dashboards/Plugins/HighchartsComponent.ts
  ts/Dashboards/Plugins/HighchartsTypes.ts
  ts/Dashboards/Plugins/KPIComponent.ts
  ts/Dashboards/Plugins/NavigatorComponent.ts
  ts/Dashboards/highcharts.d.ts
  ts/masters-dashboards/modules/dashboards-plugin.src.ts
  ts/masters-dashboards/tsconfig.json
Labels: Changelog: Bugfix, Product: Highcharts Dashboards

#20251 dashboards/datagrid-hidden
  samples/dashboards/cypress/datagrid-hidden/demo.css
  samples/dashboards/cypress/datagrid-hidden/demo.html
  samples/dashboards/cypress/datagrid-hidden/demo.js
  test/cypress/data-grid/integration/init-show-hide.cy.js
  ts/DataGrid/DataGrid.ts
Labels: Changelog: Bugfix, Product: Highcharts Dashboards

#20223 dash/first-dash-docs
  docs/dashboards/your-first-dashboard.md
Labels: Product: Highcharts Dashboards

#20255 dash/kpi-chart-update
  test/typescript-karma/Dashboards/Component/tests.js
  ts/Dashboards/Plugins/KPIComponent.ts
Labels: Changelog: Bugfix, Product: Highcharts Dashboards

#20248 bugfix/19851-rangeselector-hover-state
  samples/unit-tests/rangeselector/update/demo.js
  ts/Stock/RangeSelector/RangeSelector.ts
Labels: Product: Highcharts Stock, Changelog: Bugfix

#20294 bugfix/16626-secondary-grid-axis-units
  samples/unit-tests/gantt/grid-axis/demo.js
  ts/Core/Axis/GridAxis.ts
Labels: Product: Highcharts Gantt, Changelog: Bugfix

#20280 feature/20151-public-linkedseries-linkedparent
  ts/Core/Chart/Chart.ts
  ts/Core/Series/Series.ts
Labels: Product: Highcharts, Product: Docs

#20102 dash/columnAssignment-point
  docs/dashboards/highcharts-component.md
  docs/dashboards/types-of-components.md
  samples/dashboards/components/component-highcharts-columnassignment/demo.css
  samples/dashboards/components/component-highcharts-columnassignment/demo.details
  samples/dashboards/components/component-highcharts-columnassignment/demo.html
  samples/dashboards/components/component-highcharts-columnassignment/demo.js
  test/typescript-karma/Dashboards/Component/tests.js
  ts/Dashboards/Plugins/HighchartsComponent.ts
Labels: Product: Highcharts Dashboards

#20293 docs/20252-tooltip-bordercolor
  ts/Core/Defaults.ts
Labels: Product: Highcharts, Priority: Normal, Product: Docs

#20299 bugfix/20142-pie-selected-legend-styled-mode
  css/highcharts.css
Labels: Product: Highcharts, Changelog: Bugfix

#20303 dash/crossfilter-tests-failing
  test/cypress/dashboards/integration/sync/crossfilter.cy.js
Labels: Product: Highcharts Dashboards

#19980 bugfix/pattern-fill-scaling
  samples/maps/accessibility/pattern-fills/demo.css
  samples/maps/accessibility/pattern-fills/demo.details
  samples/maps/accessibility/pattern-fills/demo.html
  samples/maps/accessibility/pattern-fills/demo.js
  samples/unit-tests/color/pattern-fill/demo.js
  test/json-sources.js
  ts/Core/Renderer/SVG/SVGElement.ts
  ts/Extensions/PatternFill.ts
  ts/Series/Map/MapSeries.ts
Labels: Product: Highcharts Maps, Changelog: Bugfix

#20315 dash/pm-demo-css
  samples/dashboards/demo/project-management/demo.css
Labels: Product: Highcharts Dashboards

#20302 demo/technical-analysys-category
  samples/stock/demo/technical-analysis/demo.details
Labels: Product: Highcharts Stock

#20265 Added area marker for legend
  samples/highcharts/series/legend-symbol/demo.js
  ts/Core/Legend/Legend.ts
  ts/Core/Legend/LegendItem.d.ts
  ts/Core/Legend/LegendSymbol.ts
  ts/Core/Series/SeriesDefaults.ts
  ts/Core/Series/SeriesOptions.d.ts
  ts/Series/Area/AreaSeries.ts
  ts/Series/Dumbbell/DumbbellSeriesDefaults.ts
Labels: Changelog: Feature

#20316 dash/SyncHandler-cleanup
  ts/Dashboards/Components/Sync/Emitter.ts
  ts/Dashboards/Components/Sync/Handler.ts
  ts/Dashboards/Components/Sync/Sync.ts
  ts/Dashboards/Plugins/DataGridSyncHandlers.ts
Labels: Product: Highcharts Dashboards

#20323 dash/ts-kpi
  docs/dashboards/types-of-components.md
  tools/gulptasks/dashboards/scripts-dts/dashboards.src.d.ts
  ts/Dashboards/Plugins/KPIComponent.ts
Labels: Product: Highcharts Dashboards

#20312 dash/json-columnNames
  samples/highcharts/data-tools/datapool-json-connector-enable-polling/demo.css
  samples/highcharts/data-tools/datapool-json-connector-enable-polling/demo.details
  samples/highcharts/data-tools/datapool-json-connector-enable-polling/demo.html
  samples/highcharts/data-tools/datapool-json-connector-enable-polling/demo.js
  test/typescript-karma/Dashboards/Component/tests.js
  test/typescript-karma/Data/Connectors/JSONConnector.test.js
  ts/Data/Connectors/CSVConnector.ts
  ts/Data/Connectors/CSVConnectorOptions.d.ts
  ts/Data/Connectors/DataConnectorOptions.d.ts
  ts/Data/Connectors/JSONConnector.ts
  ts/Data/Connectors/JSONConnectorOptions.d.ts
  ts/Data/Converters/CSVConverter.ts
  ts/Data/Converters/DataConverter.ts
  ts/Data/Converters/JSONConverter.ts
  ts/Data/DataPoolOptions.ts
Labels: Changelog: Feature, Product: Highcharts Dashboards

#20342 dash/20290-custom-component-add
  docs/dashboards/custom-component.md
  docs/dashboards/edit-mode.md
  samples/dashboards/components/custom-component/demo.js
  test/cypress/dashboards/integration/component-add.cy.js
  tools/gulptasks/dashboards/api-docs.json
  ts/Dashboards/Actions/DragDrop.ts
  ts/Dashboards/Board.ts
  ts/Dashboards/Components/Component.ts
  ts/Dashboards/Components/EditableOptions.ts
  ts/Dashboards/Components/HTMLComponent.ts
  ts/Dashboards/EditMode/EditGlobals.ts
  ts/Dashboards/EditMode/EditMode.ts
  ts/Dashboards/EditMode/SidebarPopup.ts
  ts/Dashboards/Plugins/DataGridComponent.ts
  ts/Dashboards/Plugins/HighchartsComponent.ts
  ts/Dashboards/Plugins/KPIComponent.ts
  ts/Dashboards/Plugins/NavigatorComponent.ts
Labels: Changelog: Feature, Product: Highcharts Dashboards
