Repository highcharts/highcharts, pull requests merged in 2023-08, with the labels that each got.

#19461 dash/fix-modifiers
  ts/Data/Converters/CSVConverter.ts
  ts/Data/Modifiers/ChainModifier.ts
Labels: Product: Highcharts Dashboards

#19456 dash/datacursor-group
  samples/highcharts/data-tools/datacursor-group/demo.css
  samples/highcharts/data-tools/datacursor-group/demo.details
  samples/highcharts/data-tools/datacursor-group/demo.html
  samples/highcharts/data-tools/datacursor-group/demo.js
  ts/Data/DataCursor.ts
Labels: Product: Highcharts Dashboards

#19471 dash/datagrid-dragging-point
  test/cypress/integration/Dashboards/Components/DataGrid/DataGridComponent.cy.js
  ts/Dashboards/Plugins/DataGridComponent.ts
Labels: Changelog: Bugfix, Product: Highcharts Dashboards

#19441 Connector with modifier options
  samples/dashboards/demo/climate/demo.js
  test/typescript-karma/Data/Connectors/CSVConnector.test.js
  test/typescript-karma/Data/Connectors/GoogleSheetsStore.test.js
  test/typescript-karma/Data/Connectors/HTMLTableStore.test.js
  tools/gulptasks/dashboards/api-docs.json
  ts/Dashboards/Plugins/DataGridSyncHandlers.ts
  ts/Data/Connectors/CSVConnector.ts
  ts/Data/Connectors/DataConnector.ts
  ts/Data/Connectors/DataConnectorOptions.d.ts
  ts/Data/Connectors/GoogleSheetsConnector.ts
  ts/Data/Connectors/HTMLTableConnector.ts
  ts/Data/DataPool.ts
Labels: Product: Highcharts Dashboards

#19467 dash/rangemodifier-crossfilter
  samples/highcharts/data-tools/rangemodifier-crossfilter/demo.css
  samples/highcharts/data-tools/rangemodifier-crossfilter/demo.details
  samples/highcharts/data-tools/rangemodifier-crossfilter/demo.html
  samples/highcharts/data-tools/rangemodifier-crossfilter/demo.js
  test/typescript-karma/Data/Modifiers/RangeModifier.test.js
  ts/Data/Modifiers/RangeModifier.ts
  ts/Data/Modifiers/RangeModifierOptions.ts
Labels: Changelog: Feature, Product: Highcharts Dashboards

#19478 dash/fix-datapool
  test/typescript-karma/Data/DataPool.test.js
  tools/gulptasks/dashboards/test-karma.js
  ts/Data/DataPool.ts
Labels: Changelog: Bugfix, Product: Highcharts Dashboards

#19474 dash/hccColumnAssignment-nulls
  samples/dashboards/demo/axes-sync/demo.js
  samples/dashboards/demo/climate/demo.js
  samples/dashboards/demo/minimal/demo.js
  samples/dashboards/demo/sync-extremes/demo.js
  ts/Dashboards/Plugins/HighchartsComponent.ts
Labels: Changelog: Feature, Product: Highcharts Dashboards

#19482 dash/cell-row-toolbars-enabled
  samples/dashboards/edit-mode/toolbars-disabled/demo.css
  samples/dashboards/edit-mode/toolbars-disabled/demo.details
  samples/dashboards/edit-mode/toolbars-disabled/demo.html
  samples/dashboards/edit-mode/toolbars-disabled/demo.js
  ts/Dashboards/EditMode/EditMode.ts
Labels: Changelog: Bugfix, Product: Highcharts Dashboards

#19452 CSV demo with modifiers
  samples/highcharts/data-tools/csv-modifiers/demo.css
  samples/highcharts/data-tools/csv-modifiers/demo.details
  samples/highcharts/data-tools/csv-modifiers/demo.html
  samples/highcharts/data-tools/csv-modifiers/demo.js
Labels: Product: Highcharts Dashboards

#19506 API: Fixed iframe style in Dashboards docs.
  tools/gulptasks/dashboards/api-docs/typedoc/assets/custom.css
Labels: Product: Docs, Product: Highcharts Dashboards

#19509 dash/input-focus
  test/cypress/integration/Dashboards/Components/DataGrid/DataGridComponent.cy.js
  ts/Dashboards/Plugins/DataGridComponent.ts
  ts/DataGrid/DataGrid.ts
Labels: Product: Highcharts Dashboards

#19510 Fixed sync-aliases demo, added trim of headers
  samples/dashboards/issues/sync-aliases/demo.js
  test/typescript-karma/Data/Connectors/CSVConnector.test.js
  ts/Data/Converters/CSVConverter.ts
Labels: Changelog: Bugfix, Product: Highcharts Dashboards

#19502 Added upload of truncated versions
  tools/gulptasks/dashboards/dist-upload.js
Labels: Product: Highcharts Dashboards

#19448 dash/edit-mode-design
  css/dashboards.css
  docs/dashboards/edit-mode-context-menu.png
  docs/dashboards/edit-mode-sidebar.png
  docs/dashboards/edit-mode-tooltip.png
  gfx/dashboards-icons/resize-handle.svg
  test/cypress/integration/Dashboards/options-lang.cy.js
  tools/gulptasks/dashboards/scripts.js
  ts/Dashboards/Actions/Resizer.ts
  ts/Dashboards/Components/HTMLComponent.ts
  ts/Dashboards/EditMode/AccordionMenu.ts
  ts/Dashboards/EditMode/ConfirmationPopup.ts
  ts/Dashboards/EditMode/EditGlobals.ts
  ts/Dashboards/EditMode/EditMode.ts
  ts/Dashboards/EditMode/EditRenderer.ts
  ts/Dashboards/EditMode/SidebarPopup.ts
  ts/Dashboards/EditMode/Toolbar/CellEditToolbar.ts
  ts/Dashboards/EditMode/Toolbar/RowEditToolbar.ts
Labels: Changelog: Bugfix, Product: Highcharts Dashboards

#19508 dash/default-connector
  test/cypress/integration/Dashboards/component-add.cy.js
  ts/Dashboards/Components/KPIComponent.ts
  ts/Dashboards/EditMode/EditRenderer.ts
  ts/Dashboards/EditMode/SidebarPopup.ts
  ts/Dashboards/Plugins/HighchartsComponent.ts
Labels: Changelog: Bugfix, Product: Highcharts Dashboards

#19503 Moved getModifiedTableOffset to syncHandler file
  ts/Dashboards/Plugins/HighchartsSyncHandlers.ts
  ts/Data/Modifiers/RangeModifier.ts
Labels: Product: Highcharts Dashboards

#19535 dash/climate-styling
  samples/dashboards/demo/climate/demo.css
  ts/Dashboards/EditMode/Toolbar/CellEditToolbar.ts
Labels: Product: Highcharts Dashboards

#19525 Dash/connector kpi
  css/dashboards.css
  samples/dashboards/components/kpi-with-connector/demo.css
  samples/dashboards/components/kpi-with-connector/demo.details
  samples/dashboards/components/kpi-with-connector/demo.html
  samples/dashboards/components/kpi-with-connector/demo.js
  samples/dashboards/cypress/kpi-with-connector/demo.css
  samples/dashboards/cypress/kpi-with-connector/demo.details
  samples/dashboards/cypress/kpi-with-connector/demo.html
  samples/dashboards/cypress/kpi-with-connector/demo.js
  test/cypress/integration/Dashboards/Components/KPI/KPIComponent.cy.js
  ts/Dashboards/Components/Component.ts
  ts/Dashboards/Components/KPIComponent.ts
  ts/Dashboards/EditMode/SidebarPopup.ts
  ts/Dashboards/Plugins/DataGridComponent.ts
  ts/Dashboards/Plugins/DataGridSyncHandlers.ts
  ts/Dashboards/Plugins/HighchartsComponent.ts
  ts/Dashboards/Plugins/KPISyncHandlers.ts
Labels: Changelog: Feature, Product: Highcharts Dashboards

#19541 dashboards/climate-demo-update
  samples/dashboards/demo/climate/demo.js
Labels: Product: Highcharts Dashboards

#19543 dash/kpi-styled-mode
  docs/dashboards/types-of-components.md
  samples/dashboards/components/component-kpi/demo.css
  samples/dashboards/components/component-kpi/demo.js
  samples/dashboards/kpi-component/threshold/demo.css
  samples/dashboards/kpi-component/threshold/demo.js
  samples/dashboards/kpi-component/value-format/demo.css
  samples/dashboards/kpi-component/value-format/demo.js
  ts/Dashboards/Components/KPIComponent.ts
Labels: Changelog: Feature, Product: Highcharts Dashboards

#19526 bugfix/19518-classname-api-incorrect-link
  ts/Core/Series/SeriesDefaults.ts
  ts/Series/Line/LineSeries.ts
Labels: Product: Docs

#19557 dash/docs-es-modules
  docs/dashboards/installation-with-es-modules.md
Labels: Changelog: Feature, Product: Highcharts Dashboards

#19565 dash/dark-mode-icons
  css/dashboards.css
Labels: Product: Highcharts Dashboards

#19570 dash/remove-instanceRegistry
  test/typescript-karma/Dashboards/Component/tests.js
  ts/Dashboards/Components/Component.ts
  ts/Dashboards/Components/HTMLComponent.ts
  ts/Dashboards/Plugins/DataGridComponent.ts
  ts/Dashboards/Plugins/HighchartsComponent.ts
Labels: Product: Highcharts Dashboards

#19553 demo/19322-negative-logarithm-tick-interval
  samples/highcharts/yaxis/type-log-negative/demo.js
Labels: Product: Highcharts

#19568 dash/htmlComponent-remove-scaleElement
  samples/dashboards/cypress/options-lang/demo.mjs
  samples/dashboards/edit-mode/lang/demo.js
  samples/highcharts/studies/dashboard-strava-csv/demo.mjs
  test/cypress/integration/Dashboards/options-lang.cy.js
  ts/Dashboards/Components/HTMLComponent.ts
  ts/Dashboards/EditMode/EditGlobals.ts
Labels: Changelog: Feature, Product: Highcharts Dashboards

#19562 feature/dashboards-react
  docs/dashboards/dashboards-with-react.md
  docs/sidebars.js
Labels: Changelog: Feature, Product: Highcharts Dashboards

#19496 bugfix/19110-misaligned-sankey-links
  samples/unit-tests/series-sankey/sankey/demo.js
  ts/Series/Sankey/SankeyColumnComposition.ts
Labels: Product: Highcharts, Changelog: Bugfix

#19576 feature/19476-dashboards-vue
  docs/dashboards/dashboards-with-vue.md
  docs/sidebars.js
Labels: Product: Highcharts Dashboards

#19561 feature/19476-dashboards-angular
  docs/dashboards/dashboards-with-angular.md
  docs/dashboards/dashboards-with-react.md
  docs/dashboards/dashboards-with-vue.md
  docs/sidebars.js
Labels: Product: Highcharts Dashboards

#19583 dash/refactored-parentElement
  ts/Dashboards/Components/Component.ts
  ts/Dashboards/Components/ThresholdComponent.ts
  ts/Dashboards/Layout/Cell.ts
  ts/Dashboards/Layout/GUIElement.ts
  ts/Dashboards/Layout/Layout.ts
  ts/Dashboards/Layout/Row.ts
Labels: Product: Highcharts Dashboards

#19416 bugfix/19412-reset-zoom-button
  ts/Core/Chart/ChartDefaults.ts
Labels: Product: Highcharts, Changelog: Bugfix

#19494 bugfix/19493-stocktools-popup-edit
  ts/Extensions/Annotations/NavigationBindings.ts
Labels: Product: Highcharts Stock, Changelog: Bugfix

#19559 bugfix/19374-keyboardNavigation-exit-anchor-removal
  samples/unit-tests/accessibility/accessibility-options/demo.js
  ts/Accessibility/Components/InfoRegionsComponent.ts
Labels: Product: Highcharts, Changelog: Bugfix, a11y

#19584 bugfix/16050-endontick-docs-correction
  ts/Core/Axis/AxisDefaults.ts
Labels: Product: Highcharts Stock, Product: Docs

#19477 bugfix/19323-mapseries-setdata-pattern-fill
  samples/unit-tests/color/pattern-fill/demo.js
  ts/Series/Map/MapSeries.ts
Labels: Product: Highcharts Maps, Changelog: Bugfix

#19435 bugfix/19217-bar-chart-mobile-pinch-zoom
  samples/unit-tests/pointer/touch/demo.js
  ts/Core/Pointer.ts
Labels: Product: Highcharts, Changelog: Bugfix

#19594 bugfix/19516-readonly-css-properties
  ts/Extensions/Exporting/Exporting.ts
Labels: Product: Highcharts, Changelog: Bugfix

#19464 feature/19367-fibonacci-annotation-reverse
  samples/highcharts/annotations-advanced/fibonacci-reversed/demo.css
  samples/highcharts/annotations-advanced/fibonacci-reversed/demo.details
  samples/highcharts/annotations-advanced/fibonacci-reversed/demo.html
  samples/highcharts/annotations-advanced/fibonacci-reversed/demo.js
  ts/Extensions/Annotations/Types/Fibonacci.ts
  ts/Stock/StockTools/StockToolsBindings.ts
Labels: Product: Highcharts Stock, Changelog: Feature

#19596 dash/bugfix-mousewheel-climate-demo
  ts/Dashboards/Components/KPIComponent.ts
  ts/Dashboards/Plugins/HighchartsComponent.ts
Labels: Changelog: Bugfix, Product: Highcharts Dashboards

#19334 bugfix/18988-inverted-sankey-offsets
  samples/unit-tests/series-sankey/sankey/demo.js
  ts/Series/Sankey/SankeySeries.ts
Labels: Product: Highcharts, Changelog: Bugfix

#19120 Heatmap interp boostbug
  samples/highcharts/studies/heatmap-interpolation/demo.css
  samples/highcharts/studies/heatmap-interpolation/demo.html
  samples/highcharts/studies/heatmap-interpolation/demo.js
  samples/unit-tests/series-heatmap/interpolation/demo.js
  ts/Series/Heatmap/HeatmapSeries.ts
Labels: Changelog: Bugfix

#19440 bugfix/19426-extending-default-formatter-demo
  samples/highcharts/tooltip/formatter-conditional-default/demo.js
Labels: Product: Docs

#19605 docs/dashboards-get-started-improvement
  docs/dashboards/data-handling.md
  docs/dashboards/types-of-components.md
  docs/dashboards/your-first-dashboard.md
Labels: Product: Docs

#19429 API: Fixed vector plotOptions.
  ts/Series/Vector/VectorSeries.ts
Labels: Product: Docs

#19391 Dashboards/demo styling
  samples/dashboards/demo/axes-sync/demo.css
  samples/dashboards/demo/axes-sync/demo.js
  samples/dashboards/demo/climate/demo.css
  samples/dashboards/demo/climate/demo.html
  samples/dashboards/demo/climate/demo.js
  samples/dashboards/demo/climate/test-notes.md
  samples/dashboards/demo/datacursor-sync/demo.js
  samples/dashboards/demo/datagrid-mathmodifier/demo.js
  samples/dashboards/demo/datagrid-sync/demo.css
  samples/dashboards/demo/datagrid-sync/demo.js
  samples/dashboards/demo/light-dark-theme/demo.css
  samples/dashboards/demo/light-dark-theme/demo.html
  samples/dashboards/demo/light-dark-theme/demo.js
  samples/dashboards/demo/minimal/demo.css
  samples/dashboards/demo/minimal/demo.html
  samples/dashboards/demo/minimal/demo.js
  samples/dashboards/demo/sync-extremes/demo.css
  samples/dashboards/demo/sync-extremes/demo.js
Labels: Product: Highcharts Dashboards

#19410 bugfix/19341-boost-tooltip-shows-null-value
  samples/unit-tests/boost/general/demo.js
  ts/Extensions/Boost/BoostSeries.ts
Labels: Product: Highcharts, Changelog: Bugfix

#19387 bugfix/19368-treegraph-collapsebutton-opacity
  samples/unit-tests/series-treegraph/treegraph/demo.js
  ts/Series/Treegraph/TreegraphPoint.ts
Labels: Product: Highcharts, Changelog: Bugfix

#19624 fix/wrong-sample-path
  ts/Series/Pie/PieSeriesDefaults.ts
Labels: Changelog: Bugfix

#19581 dash/loading-indicator
  css/dashboards.css
  test/cypress/integration/Dashboards/Components/DataGrid/DataGridCSVURL.cy.js
  ts/Dashboards/Components/Component.ts
  ts/Dashboards/Globals.ts
  ts/Dashboards/Layout/Cell.ts
Labels: Changelog: Feature, Product: Highcharts Dashboards

#19625 bugfix/19524-treegraph-set-data-links
  samples/unit-tests/series-treegraph/treegraph/demo.js
  ts/Series/Treegraph/TreegraphPoint.ts
Labels: Product: Highcharts, Changelog: Bugfix

#19397 dash/1.0.1
  changelog/changelog.html
  changelog/highcharts-dashboards/1.0.1.md
Labels: Product: Highcharts Dashboards

#19627 dash/html-component-docs
  docs/dashboards/html-component
  docs/dashboards/types-of-components.md
  docs/sidebars.js
  samples/dashboards/components/component-html/demo.css
  samples/dashboards/components/component-html/demo.js
  ts/Dashboards/Components/Component.ts
Labels: Type: Enhancement, Product: Highcharts Dashboards

#19626 dash/docs-kpi-component
  docs/dashboards/kpi-component.md
  docs/dashboards/types-of-components.md
  docs/sidebars.js
Labels: Changelog: Feature, Product: Highcharts Dashboards

#19635 dash/docs-sync-charts
  docs/dashboards/synchronize-components.md
  docs/dashboards/types-of-components.md
Labels: Changelog: Feature, Product: Highcharts Dashboards

#19630 dash/docs-datagrid-component
  docs/dashboards/datagrid-component.md
  docs/dashboards/types-of-components.md
  docs/sidebars.js
Labels: Type: Enhancement, Product: Highcharts Dashboards

#19580 dash/highcharts-types
  test/typescript-dts/dashboards/tsconfig.json
  ts/Core/Series/Point.ts
  ts/Core/Series/PointOptions.d.ts
  ts/Dashboards/Components/Component.ts
  ts/Dashboards/Components/KPIComponent.ts
  ts/Dashboards/EditMode/SidebarPopup.ts
  ts/Dashboards/Plugins/HighchartsComponent.ts
  ts/Dashboards/Plugins/HighchartsPlugin.ts
  ts/Dashboards/Plugins/HighchartsTypes.ts
  ts/Extensions/Pane.ts
  ts/Series/PolarComposition.ts
  ts/masters-dashboards/tsconfig.json
Labels: Product: Highcharts, Product: Highcharts Dashboards

#19642 Docs: Updated dependencies for API fix.
  package-lock.json
  package.json
Labels: Product: Docs

#19083 bugfix/15569-zoom-by-drag-improvement
  samples/unit-tests/chart/zoomtype/demo.css
  samples/unit-tests/chart/zoomtype/demo.js
Labels: Product: Highcharts Stock, Changelog: Bugfix

#19560 data/json-connector
  docs/dashboards/data-handling.md
  docs/sidebars.js
  samples/highcharts/data-tools/datapool-json-connector-dataurl/demo.css
  samples/highcharts/data-tools/datapool-json-connector-dataurl/demo.details
  samples/highcharts/data-tools/datapool-json-connector-dataurl/demo.html
  samples/highcharts/data-tools/datapool-json-connector-dataurl/demo.js
  samples/highcharts/data-tools/datapool-json-connector-orientation/demo.css
  samples/highcharts/data-tools/datapool-json-connector-orientation/demo.details
  samples/highcharts/data-tools/datapool-json-connector-orientation/demo.html
  samples/highcharts/data-tools/datapool-json-connector-orientation/demo.js
  samples/highcharts/data-tools/datapool-json-connector/demo.css
  samples/highcharts/data-tools/datapool-json-connector/demo.details
  samples/highcharts/data-tools/datapool-json-connector/demo.html
  samples/highcharts/data-tools/datapool-json-connector/demo.js
  test/typescript-karma/Dashboards/SerializeHelpers/JSONConnectorHelper.test.js
  test/typescript-karma/Data/Connectors/JSONConnector.test.js
  tools/gulptasks/dashboards/api-docs.json
  tools/gulptasks/dashboards/scripts-dts/dashboards.src.d.ts
  ts/Dashboards/SerializeHelper/JSONConnectorHelper.ts
  ts/Data/Connectors/JSONConnector.ts
  ts/Data/Connectors/JSONConnectorOptions.d.ts
  ts/Data/Converters/JSONConverter.ts
  ts/Data/DataPoolOptions.ts
  ts/masters-dashboards/dashboards.src.ts
  ts/masters/modules/data-tools.src.ts
Labels: Product: Highcharts Dashboards

#19645 dash/kpi-render-event-bug
  test/typescript-karma/Dashboards/Component/tests.js
  ts/Dashboards/Components/Component.ts
  ts/Dashboards/Components/HTMLComponent.ts
  ts/Dashboards/Components/KPIComponent.ts
  ts/Dashboards/Plugins/DataGridComponent.ts
  ts/Dashboards/Plugins/HighchartsComponent.ts
Labels: Product: Highcharts Dashboards

#19661 dash/fixed-links-react-dashboard-docs
  docs/dashboards/dashboards-with-react.md
Labels: Product: Highcharts Dashboards

#19651 Dash/replace csv with jsonconnector
  samples/dashboards/demo/axes-sync/demo.css
  samples/dashboards/demo/axes-sync/demo.html
  samples/dashboards/demo/axes-sync/demo.js
  samples/dashboards/demo/datagrid-mathmodifier/demo.css
  samples/dashboards/demo/datagrid-mathmodifier/demo.html
  samples/dashboards/demo/datagrid-mathmodifier/demo.js
  samples/dashboards/demo/datagrid-sync/demo.css
  samples/dashboards/demo/datagrid-sync/demo.html
  samples/dashboards/demo/datagrid-sync/demo.js
  samples/dashboards/demo/light-dark-theme/demo.css
  samples/dashboards/demo/light-dark-theme/demo.html
  samples/dashboards/demo/light-dark-theme/demo.js
  samples/dashboards/demo/minimal/demo.css
  samples/dashboards/demo/minimal/demo.html
  samples/dashboards/demo/minimal/demo.js
  samples/dashboards/demo/sync-extremes/demo.css
  samples/dashboards/demo/sync-extremes/demo.html
  samples/dashboards/demo/sync-extremes/demo.js
Labels: Product: Highcharts Dashboards

#19654 dash/KPI-default-value
  samples/dashboards/cypress/kpi-with-connector/demo.js
  test/cypress/integration/Dashboards/Components/KPI/KPIComponent.cy.js
  ts/Dashboards/Components/KPIComponent.ts
  ts/Dashboards/Plugins/KPISyncHandlers.ts
Labels: Product: Highcharts Dashboards
