Repository highcharts/highcharts, pull requests merged in 2024-02, with the labels that each got.

#20536 dash/wrong-d-ts-export-types
  tools/gulptasks/dashboards/scripts-dts/dashboards.src.d.ts
  tools/gulptasks/dashboards/scripts-dts/datagrid.src.d.ts
Labels: Changelog: Bugfix, Product: Highcharts Dashboards

#20522 bugfix/19808-ordinal-rangeselector-states
  samples/unit-tests/rangeselector/buttons-range-state/demo.js
  ts/Stock/RangeSelector/RangeSelector.ts
Labels: Product: Highcharts Stock, Changelog: Bugfix

#20386 feature/replace-span-with-buttons
  css/annotations/popup.css
  css/stocktools/gui.css
  samples/unit-tests/stock-tools/gui/demo.js
  samples/unit-tests/stock-tools/popup/demo.css
  samples/unit-tests/stock-tools/popup/demo.js
  test/cypress/highcharts/integration/stock-tools/stock-tools.cy.js
  ts/Extensions/Annotations/Popup/PopupAnnotations.ts
  ts/Extensions/Annotations/Popup/PopupIndicators.ts
  ts/Extensions/Annotations/Popup/PopupTabs.ts
  ts/Shared/BaseForm.ts
  ts/Stock/StockTools/StockToolbar.ts
  ts/Stock/StockTools/StockToolsDefaults.ts
  ts/Stock/StockTools/StockToolsOptions.d.ts
Labels: Product: Highcharts Stock, Changelog: Feature

#20528 Docs: Added webpack details for TypeScript.
  docs/advanced-chart-features/highcharts-typescript-declarations.md
  docs/getting-started/installation-with-esm.md
Labels: Product: Docs, Product: TypeScript

#20565 dash/20557-hidden-caption-bug
  samples/dashboards/component-options/caption/demo.js
  test/cypress/dashboards/integration/Components/events.cy.js
  test/cypress/dashboards/integration/Components/general.cy.js
  ts/Dashboards/Components/Component.ts
Labels: Changelog: Bugfix, Product: Highcharts Dashboards

#20077 Pinch zoom refactor
  samples/highcharts/studies/pinch-zoom/demo.css
  samples/highcharts/studies/pinch-zoom/demo.details
  samples/highcharts/studies/pinch-zoom/demo.html
  samples/highcharts/studies/pinch-zoom/demo.js
  samples/unit-tests/axis/extremes/demo.js
  samples/unit-tests/chart/mouse-wheel/demo.js
  samples/unit-tests/chart/panning/demo.js
  samples/unit-tests/chart/zoomtype/demo.js
  samples/unit-tests/interaction/panning-reversed/demo.js
  samples/unit-tests/interaction/pinchtype/demo.js
  samples/unit-tests/pointer/touch/demo.js
  samples/unit-tests/polar/polar-zoom/demo.js
  samples/unit-tests/series-treemap/zooming/demo.js
  samples/unit-tests/series/marker-clusters/demo.js
  ts/Core/Axis/Axis.ts
  ts/Core/Axis/AxisOptions.d.ts
  ts/Core/Axis/NavigatorAxisComposition.ts
  ts/Core/Axis/OrdinalAxis.ts
  ts/Core/Chart/Chart.ts
  ts/Core/Chart/ChartOptions.d.ts
  ts/Core/Pointer.ts
  ts/Extensions/Boost/Boost.ts
  ts/Extensions/Boost/BoostChart.ts
  ts/Extensions/Boost/BoostSeries.ts
  ts/Extensions/MarkerClusters/MarkerClusterScatter.ts
  ts/Extensions/MarkerClusters/MarkerClusters.ts
  ts/Extensions/MouseWheelZoom/MouseWheelZoom.ts
  ts/Maps/MapPointer.ts
  ts/Maps/MapView.ts
  ts/Series/GeoHeatmap/GeoHeatmapSeries.ts
  ts/Series/PolarComposition.ts
  ts/Stock/Navigator/Navigator.ts
  ts/Stock/Navigator/StandaloneNavigator.ts
  ts/Stock/RangeSelector/RangeSelector.ts
  ts/masters/modules/boost.src.ts
Labels: Changelog: Feature

#20590 dash/ast
  docs/dashboards/custom-component.md
  samples/dashboards/components/custom-html-component/demo.js
  tools/gulptasks/dashboards/scripts-dts/dashboards.src.d.ts
  ts/masters-dashboards/dashboards.src.ts
Labels: Changelog: Bugfix, Product: Highcharts Dashboards

#20594 docs/set-options-new-syntax
  docs/getting-started/how-to-set-options.md
Labels: Product: Docs

#20561 bugfix/polling-multiple-redraws
  ts/Dashboards/Components/Component.ts
  ts/Dashboards/Plugins/HighchartsComponent.ts
  ts/Data/Connectors/CSVConnector.ts
  ts/Data/Connectors/GoogleSheetsConnector.ts
  ts/Data/Connectors/HTMLTableConnector.ts
  ts/Data/Connectors/JSONConnector.ts
Labels: Product: Highcharts Dashboards

#20558 bugfix/20440-zones-with-navigator
  samples/unit-tests/series/zones/demo.html
  samples/unit-tests/series/zones/demo.js
  ts/Core/Series/Series.ts
Labels: Product: Highcharts, Changelog: Bugfix

#20593 dash/json-converter-x-polling
  ts/Data/Converters/JSONConverter.ts
Labels: Changelog: Bugfix, Product: Highcharts Dashboards

#20592 dash/20511-error-missing
  ts/Dashboards/Utilities.ts
  ts/masters-dashboards/dashboards.src.ts
Labels: Changelog: Bugfix, Product: Highcharts Dashboards

#20577 feature/searchpoint-perf
  ts/Stock/StockTools/StockToolsUtilities.ts
Labels: Product: Highcharts Stock, Changelog: Feature

#20581 bugfix/20334-win-width
  ts/Core/Chart/Chart.ts
Labels: Product: Highcharts, Changelog: Bugfix

#20635 dash/project-management-demo-2.0
  samples/dashboards/demo/project-management/demo.css
  samples/dashboards/demo/project-management/demo.html
  samples/dashboards/demo/project-management/demo.js
  ts/Dashboards/Actions/Bindings.ts
  ts/Dashboards/Layout/Cell.ts
  ts/Dashboards/Plugins/HighchartsComponent/HighchartsComponent.ts
Labels: Changelog: Feature, Product: Highcharts Dashboards

#20660 bugfix/20476-map-navigation-data-labels-overlap
  samples/unit-tests/maps/map-navigation/demo.js
  ts/Maps/MapNavigation.ts
Labels: Product: Highcharts Maps, Changelog: Bugfix

#20630 Fixed #20429 toggling bellcurve visibility throws error
  samples/unit-tests/series-bellcurve/bellcurve/demo.js
  ts/Series/Bellcurve/BellcurveSeries.ts
Labels: Product: Highcharts, Changelog: Bugfix

#20628 Fixed #20394 updating xRange series color
  samples/unit-tests/gantt/xrange-series/demo.js
  ts/Series/XRange/XRangePoint.ts
Labels: Product: Highcharts, Changelog: Bugfix

#20627 Fixed #20516 plotline events "this" binding
  samples/unit-tests/plotbandslines/plotbandslines/demo.js
  ts/Core/Axis/PlotLineOrBand/PlotLineOrBand.ts
Labels: Product: Highcharts, Changelog: Bugfix

#20457 demo/stock-black-and-white
  samples/demo-config.js
  samples/stock/demo/black-and-white/demo.css
  samples/stock/demo/black-and-white/demo.details
  samples/stock/demo/black-and-white/demo.html
  samples/stock/demo/black-and-white/demo.js
Labels: Product: Highcharts Stock

#20658 dash/cloud-monitoring-css-styling
  samples/dashboards/demo/cloud-monitoring/demo.css
  samples/dashboards/demo/cloud-monitoring/demo.html
  samples/dashboards/demo/cloud-monitoring/demo.js
Labels: Changelog: Feature, Product: Highcharts Dashboards

#20674 dash/layout-file-size-tool
  tools/gulptasks/pr-size-table.js
Labels: Product: Highcharts Dashboards

#20669 dash/edit-mode-markup
  samples/dashboards/cypress/edit-mode-disabled-markup/demo.css
  samples/dashboards/cypress/edit-mode-disabled-markup/demo.details
  samples/dashboards/cypress/edit-mode-disabled-markup/demo.html
  samples/dashboards/cypress/edit-mode-disabled-markup/demo.mjs
  samples/dashboards/cypress/edit-mode-options/demo.mjs
  test/cypress/dashboards/integration/EditMode/markup.cy.js
  ts/Dashboards/Board.ts
  ts/Dashboards/EditMode/EditContextMenu.ts
  ts/Dashboards/EditMode/EditMode.ts
  ts/Dashboards/EditMode/SidebarPopup.ts
Labels: Changelog: Bugfix, Product: Highcharts Dashboards

#20668 dash/html-update
  samples/dashboards/cypress/component-html/demo.css
  samples/dashboards/cypress/component-html/demo.html
  samples/dashboards/cypress/component-html/demo.mjs
  test/cypress/dashboards/integration/Components/HTML/HTMLComponent.cy.js
Labels: Product: Highcharts Dashboards

#20681 dash/test-resize-fix
  ts/Dashboards/Components/Component.ts
Labels: Product: Highcharts Dashboards

#20680 dash/v2-render-to-deprecated-fix
  ts/Dashboards/Components/Component.ts
Labels: Product: Highcharts Dashboards

#20637 bugfix/20435-point-events-update
  samples/unit-tests/series/update/demo.js
  ts/Core/Series/Point.ts
Labels: Product: Highcharts, Changelog: Bugfix

#20615 dash/custom-sync-demo
  docs/dashboards/synchronize-components.md
  samples/dashboards/sync/custom-component-sync/demo.css
  samples/dashboards/sync/custom-component-sync/demo.details
  samples/dashboards/sync/custom-component-sync/demo.html
  samples/dashboards/sync/custom-component-sync/demo.js
  ts/Dashboards/Plugins/HighchartsComponent/HighchartsComponent.ts
Labels: Product: Highcharts Dashboards

#20700 dash/highcharts-versions-faq
  docs/dashboards/frequently-asked-questions.md
  docs/dashboards/kpi-component.md
Labels: Product: Highcharts Dashboards

#20712 Fixed rotation-origin + getRotatedBBox issue
  ts/Core/Renderer/SVG/SVGElement.ts
Labels: Product: Highcharts, Changelog: Bugfix

#20639 demo/non-geo-map
  samples/maps/demo/cinema-seat-plan/demo.css
  samples/maps/demo/cinema-seat-plan/demo.details
  samples/maps/demo/cinema-seat-plan/demo.html
  samples/maps/demo/cinema-seat-plan/demo.js
  samples/maps/demo/cinema-seat-plan/readme.md
Labels: Product: Docs, Product: Highcharts Maps

#20671 dash/html-component-custom
  docs/dashboards/custom-component.md
  docs/dashboards/html-component.md
  docs/dashboards/types-of-components.md
  samples/dashboards/components/component-html/demo.js
  samples/dashboards/components/custom-html-component/demo.js
  test/typescript-karma/Dashboards/Component/html.js
  tools/gulptasks/dashboards/api-docs.json
  tools/gulptasks/dashboards/scripts-dts/dashboards.src.d.ts
  ts/Dashboards/Board.ts
  ts/Dashboards/Components/DataGridComponent/DataGridComponent.ts
  ts/Dashboards/Components/DataGridComponent/DataGridComponentDefaults.ts
  ts/Dashboards/Components/DataGridComponent/DataGridComponentOptions.ts
  ts/Dashboards/Components/DataGridComponent/DataGridSyncHandlers.ts
  ts/Dashboards/Components/HTMLComponent/HTMLComponent.ts
  ts/Dashboards/Components/HTMLComponent/HTMLComponentDefaults.ts
  ts/Dashboards/Components/HTMLComponent/HTMLComponentOptions.ts
  ts/Dashboards/Components/HTMLComponent/HTMLSyncHandlers.ts
  ts/Dashboards/Components/HighchartsComponent/HighchartsComponent.ts
  ts/Dashboards/Components/HighchartsComponent/HighchartsComponentDefaults.ts
  ts/Dashboards/Components/HighchartsComponent/HighchartsComponentOptions.ts
  ts/Dashboards/Components/HighchartsComponent/HighchartsSyncHandlers.ts
  ts/Dashboards/Components/KPIComponent/KPIComponent.ts
  ts/Dashboards/Components/KPIComponent/KPIComponentDefaults.ts
  ts/Dashboards/Components/KPIComponent/KPIComponentOptions.ts
  ts/Dashboards/Components/KPIComponent/KPISyncHandlers.ts
  ts/Dashboards/Components/NavigatorComponent/NavigatorComponent.ts
  ts/Dashboards/Components/NavigatorComponent/NavigatorComponentDefaults.ts
  ts/Dashboards/Components/NavigatorComponent/NavigatorComponentOptions.ts
  ts/Dashboards/Components/NavigatorComponent/NavigatorSyncHandlers.ts
  ts/Dashboards/Plugins/DataGridPlugin.ts
  ts/Dashboards/Plugins/HighchartsPlugin.ts
  ts/masters-dashboards/dashboards.src.ts
Labels: Product: Highcharts Dashboards

#20682 bugfix/standalone-nav-remove-map
  ts/Stock/Navigator/StandaloneNavigator.ts
Labels: Product: Highcharts Stock

#20711 bugfix/rangeselector-dropdown-refactor
  samples/unit-tests/chart/stockchart-update/demo.js
  samples/unit-tests/rangeselector/dropdown/demo.js
  samples/unit-tests/rangeselector/position-antycollision/demo.js
  ts/Stock/RangeSelector/RangeSelector.ts
Labels: Product: Highcharts Stock, Changelog: Bugfix

#20735 bugfix/20572-hcmore-chart-destroy
  samples/unit-tests/chart/destroy/demo.html
  samples/unit-tests/chart/destroy/demo.js
  ts/Series/PolarComposition.ts
Labels: Product: Highcharts, Changelog: Bugfix

#20651 Fixed permissive regex in mapcharts.ts
  ts/Core/Chart/MapChart.ts
Labels: Priority: High, Changelog: Bugfix

#20653 Fixed scan alert #[73] of incomplete HTML sanitization.
  ts/Core/Renderer/SVG/SVGElement.ts
  ts/Core/Utilities.ts
Labels: Priority: High, Changelog: Bugfix

#20739 bugfix/seriestype factory
  samples/highcharts/demo/line-custom-entrance-animation/demo.details
  samples/highcharts/website/homepage-2023-new/demo.details
  ts/Core/Axis/Tick.ts
  ts/Core/Series/SeriesRegistry.ts
Labels: Priority: Blocker

#20718 dash/datagrid-docs
  docs/dashboards/datagrid-component.md
  docs/datagrid/general.md
  docs/sidebars.js
  samples/data-grid/basic/cells-formatting/demo.js
Labels: Product: Highcharts Dashboards

#20447 bugfix/20329-accessibility-memory-leak
  samples/unit-tests/accessibility/series-showhide/demo.js
  ts/Accessibility/Components/InfoRegionsComponent.ts
  ts/Accessibility/KeyboardNavigation.ts
  ts/Accessibility/ProxyProvider.ts
  ts/Accessibility/Utils/DOMElementProvider.ts
  ts/Accessibility/Utils/EventProvider.ts
  ts/Extensions/SeriesLabel/SeriesLabel.ts
Labels: Product: Highcharts, Changelog: Bugfix, a11y

#20360 feature/20275-xaxis-overscroll-pixel-percentage
  samples/stock/demo/live-candlestick/demo.js
  samples/stock/xaxis/overscroll-percent/demo.css
  samples/stock/xaxis/overscroll-percent/demo.details
  samples/stock/xaxis/overscroll-percent/demo.html
  samples/stock/xaxis/overscroll-percent/demo.js
  samples/stock/xaxis/overscroll-pixel/demo.css
  samples/stock/xaxis/overscroll-pixel/demo.details
  samples/stock/xaxis/overscroll-pixel/demo.html
  samples/stock/xaxis/overscroll-pixel/demo.js
  samples/stock/xaxis/overscroll/demo.js
  samples/unit-tests/axis/overscroll/demo.js
  ts/Core/Axis/AxisDefaults.ts
  ts/Core/Axis/AxisOptions.d.ts
  ts/Core/Axis/NavigatorAxisComposition.ts
  ts/Core/Axis/OrdinalAxis.ts
  ts/Stock/Navigator/Navigator.ts
  ts/Stock/Navigator/NavigatorDefaults.ts
Labels: Product: Highcharts Stock, Changelog: Feature

#20746 bugfix/datalabels-animation-regression
  ts/Core/Series/DataLabel.ts
Labels: Product: Highcharts
