Repository highcharts/highcharts, pull requests merged in 2024-01, with the labels that each got.

#20337 dash/improve-sync-options
  docs/dashboards/synchronize-components.md
  samples/dashboards/component-options/sync-highlight/test-notes.md
  samples/dashboards/sync/sync-highlight-options/demo.css
  samples/dashboards/sync/sync-highlight-options/demo.details
  samples/dashboards/sync/sync-highlight-options/demo.html
  samples/dashboards/sync/sync-highlight-options/demo.js
  test/cypress/dashboards/integration/sync/highlight-options.cy.js
  ts/Dashboards/Components/Component.ts
  ts/Dashboards/Components/Sync/Sync.ts
  ts/Dashboards/Plugins/DataGridComponent.ts
  ts/Dashboards/Plugins/DataGridSyncHandlers.ts
  ts/Dashboards/Plugins/HighchartsComponent.ts
  ts/Dashboards/Plugins/HighchartsSyncHandlers.ts
  ts/Dashboards/Plugins/KPIComponent.ts
  ts/Dashboards/Plugins/NavigatorComponent.ts
  ts/Dashboards/Plugins/NavigatorComponentDefaults.ts
  ts/Dashboards/Plugins/NavigatorComponentOptions.ts
Labels: Changelog: Feature, Product: Highcharts Dashboards

#20357 Bugfix/20284 ordinal scatter boost
  samples/unit-tests/axis/ordinal/demo.js
  ts/Extensions/Boost/BoostSeries.ts
Labels: Product: Highcharts Stock, Changelog: Bugfix

#20362 bugfix/20340-histogram-incorrect-bins-x2-range
  samples/unit-tests/series-histogram/histogram/demo.js
  ts/Series/Histogram/HistogramSeries.ts
Labels: Product: Highcharts, Changelog: Bugfix

#20358 bugfix/20319-funnel-chart-borderRadius-path-issue
  samples/unit-tests/series-funnel/funnel/demo.js
  ts/Series/Funnel/FunnelSeries.ts
Labels: Product: Highcharts, Changelog: Bugfix

#20373 Docs: Fixed jsdoc to include PlotLineOrBandAxis functions.
  tools/gulptasks/jsdoc-classes.js
Labels: Product: Docs

#20380 Climate demo tooltip error
  repo-guidelines.md
  samples/dashboards/demo/climate/demo.js
  samples/dashboards/demo/climate/test-notes.md
Labels: Product: Highcharts Dashboards

#20395 dash/kpi-inline-style
  css/dashboards/dashboards.css
  ts/Dashboards/Plugins/KPIComponent.ts
Labels: Changelog: Bugfix, Product: Highcharts Dashboards

#20377 dash/highlight-sync-complex-charts
  ts/Dashboards/Plugins/DataGridSyncHandlers.ts
  ts/Dashboards/Plugins/HighchartsSyncHandlers.ts
Labels: Changelog: Bugfix, Product: Highcharts Dashboards

#20383 dash/data-connector
  test/typescript-karma/Data/DataPool.test.js
  ts/Dashboards/Components/Component.ts
  ts/Data/DataPool.ts
Labels: Product: Highcharts, Product: Highcharts Dashboards

#20401 dash/kpi-defaultChartOptions
  docs/dashboards/kpi-component.md
  ts/Dashboards/Plugins/KPIComponent.ts
Labels: Product: Highcharts Dashboards

#20420 dash/component-options-interface
  ts/Dashboards/Actions/Bindings.ts
  ts/Dashboards/Board.ts
  ts/Dashboards/Components/Component.ts
  ts/Dashboards/Components/HTMLComponent.ts
  ts/Dashboards/EditMode/AccordionMenu.ts
  ts/Dashboards/Plugins/DataGridComponent.ts
  ts/Dashboards/Plugins/HighchartsComponent.ts
  ts/Dashboards/Plugins/KPIComponent.ts
  ts/Dashboards/Plugins/NavigatorComponent.ts
  ts/Dashboards/Plugins/NavigatorComponentDefaults.ts
  ts/Dashboards/Plugins/NavigatorComponentOptions.ts
Labels: Product: Highcharts Dashboards

#20442 dash/gulp-error
  tools/gulptasks/lint-dts.js
Labels: Product: Highcharts Dashboards

#20427 dash/sync-event-listeners-leak
  test/typescript-karma/Dashboards/Component/tests.js
  ts/Dashboards/Plugins/DataGridSyncHandlers.ts
  ts/Dashboards/Plugins/HighchartsSyncHandlers.ts
  ts/Dashboards/Plugins/KPISyncHandlers.ts
  ts/Dashboards/Plugins/NavigatorComponent.ts
Labels: Changelog: Bugfix, Product: Highcharts Dashboards

#20345 bugfix/20307-rotation-align-verticalalign
  samples/highcharts/chartchooser/categorical-composition-stacked-bar/demo.js
  samples/highcharts/css/series-datalabels/demo.js
  samples/highcharts/css/sunburst/demo.css
  samples/highcharts/demo/arc-diagram/demo.js
  samples/highcharts/demo/column-rotated-labels/demo.js
  samples/highcharts/demo/treegraph-inverted/demo.js
  samples/highcharts/demo/vertical-sankey/demo.js
  samples/highcharts/plotoptions/series-datalabels-rotation/demo.js
  samples/highcharts/studies/gpx-height-profile/demo.js
  samples/unit-tests/datalabels/overlapping/demo.js
  samples/unit-tests/series-sunburst/datalabels/demo.js
  samples/unit-tests/series-sunburst/text-path/demo.js
  ts/Core/Axis/Stacking/StackItem.ts
  ts/Core/Renderer/SVG/SVGElement.ts
  ts/Core/Renderer/SVG/SVGLabel.ts
  ts/Core/Series/DataLabel.ts
  ts/Extensions/OverlappingDataLabels.ts
  ts/Series/Sunburst/SunburstSeries.ts
Labels: Product: Highcharts, Changelog: Bugfix

#20434 bugfix/improve-fix-toogling-inverted-packedbubble
  ts/Core/Series/Series.ts
  ts/Series/PackedBubble/PackedBubbleSeries.ts
  ts/Series/Pie/PieSeries.ts
Labels: Product: Highcharts

#20413 bugfix/20164-custom-dts
  docs/getting-started/how-to-create-custom-highcharts-packages.md
  package-lock.json
  package.json
  tools/gulptasks/jsdoc-dts.js
  tools/gulptasks/jsdoc-namespace.js
  tools/gulptasks/jsdoc-options.js
Labels: Product: TypeScript

#20464 dash/remove-rwd-buttons
  samples/dashboards/edit-mode/add-component-button-disabled/demo.css
  samples/dashboards/edit-mode/add-component-button-disabled/demo.details
  samples/dashboards/edit-mode/add-component-button-disabled/demo.html
  samples/dashboards/edit-mode/add-component-button-disabled/demo.js
  samples/dashboards/edit-mode/add-component-button-disabled/test-notes.md
  samples/dashboards/edit-mode/buttons-disabled/test-notes.md
  samples/dashboards/responsive/responsive-breakpoints/demo.css
  samples/dashboards/responsive/responsive-breakpoints/demo.details
  samples/dashboards/responsive/responsive-breakpoints/demo.html
  samples/dashboards/responsive/responsive-breakpoints/demo.js
  test/cypress/dashboards/integration/component-add.cy.js
  ts/Dashboards/Board.ts
  ts/Dashboards/EditMode/EditMode.ts
  ts/Dashboards/Globals.ts
  ts/Dashboards/Layout/Cell.ts
Labels: Product: Highcharts Dashboards

#20468 dash/docs-remove-rwd-buttons
  docs/dashboards/edit-mode-tooltip.png
  docs/dashboards/edit-mode.md
Labels: Product: Highcharts Dashboards

#20467 bugfix/20166-ticks-visibility-outside-axis
  samples/unit-tests/axis/gridlines/demo.js
  ts/Core/Axis/Tick.ts
Labels: Product: Highcharts, Changelog: Bugfix

#20422 dash/component-standardization
  tools/gulptasks/dashboards/api-docs.json
  ts/Dashboards/Plugins/DataGridComponent/DataGridComponent.ts
  ts/Dashboards/Plugins/DataGridComponent/DataGridComponentDefaults.ts
  ts/Dashboards/Plugins/DataGridComponent/DataGridComponentOptions.ts
  ts/Dashboards/Plugins/DataGridComponent/DataGridSyncHandlers.ts
  ts/Dashboards/Plugins/DataGridPlugin.ts
  ts/Dashboards/Plugins/HighchartsComponent/HighchartsComponent.ts
  ts/Dashboards/Plugins/HighchartsComponent/HighchartsComponentDefaults.ts
  ts/Dashboards/Plugins/HighchartsComponent/HighchartsComponentOptions.ts
  ts/Dashboards/Plugins/HighchartsComponent/HighchartsSyncHandlers.ts
  ts/Dashboards/Plugins/HighchartsPlugin.ts
  ts/Dashboards/Plugins/KPIComponent/KPIComponent.ts
  ts/Dashboards/Plugins/KPIComponent/KPIComponentDefaults.ts
  ts/Dashboards/Plugins/KPIComponent/KPIComponentOptions.ts
  ts/Dashboards/Plugins/KPIComponent/KPISyncHandlers.ts
  ts/Dashboards/Plugins/NavigatorComponent/NavigatorComponent.ts
  ts/Dashboards/Plugins/NavigatorComponent/NavigatorComponentDefaults.ts
  ts/Dashboards/Plugins/NavigatorComponent/NavigatorComponentOptions.ts
  ts/Dashboards/Plugins/NavigatorComponent/NavigatorSyncHandlers.ts
Labels: Product: Highcharts Dashboards

#20497 dash/organize-karma-tests
  test/typescript-karma/Dashboards/Component/datagrid.js
  test/typescript-karma/Dashboards/Component/highcharts.js
  test/typescript-karma/Dashboards/Component/html.js
  test/typescript-karma/Dashboards/Component/kpi.js
  test/typescript-karma/Dashboards/Synchronization/sync.js
Labels: Product: Highcharts Dashboards

#20452 dash/crossfilter-string-data
  test/cypress/dashboards/integration/sync/crossfilter.cy.js
  test/typescript-karma/Dashboards/Component/tests.js
  ts/Dashboards/Plugins/NavigatorComponent.ts
Labels: Changelog: Bugfix, Product: Highcharts Dashboards

#20507 Fixed #18857, map series bad animation on update
  ts/Core/Series/Series.ts
Labels: Product: Highcharts Maps, Changelog: Bugfix

#20532 dash/cypress-firefox-tests
  test/cypress/dashboards/integration/Components/events.cy.js
  test/cypress/dashboards/integration/component-add.cy.js
  test/cypress/dashboards/integration/options-lang.cy.js
Labels: Product: Highcharts Dashboards

#20526 Dash/live weather demo
  samples/dashboards/demo/live-weather/demo.css
  samples/dashboards/demo/live-weather/demo.details
  samples/dashboards/demo/live-weather/demo.html
  samples/dashboards/demo/live-weather/demo.js
  samples/dashboards/demo/live-weather/test-notes.md
  samples/graphics/dashboards/climate/marker.svg
  samples/graphics/dashboards/climate/triangle.svg
Labels: Type: Enhancement, Product: Highcharts Dashboards

#20538 Fixed regression, column range series had area-style legend marker
  ts/Series/ColumnRange/ColumnRangeSeries.ts
Labels: Changelog: Bugfix

#20504 feature/17240-orgchart-rtl-hanging-lines
  samples/highcharts/series-organization/hanging-side/demo.css
  samples/highcharts/series-organization/hanging-side/demo.details
  samples/highcharts/series-organization/hanging-side/demo.html
  samples/highcharts/series-organization/hanging-side/demo.js
  samples/unit-tests/series-organization/organization/demo.js
  ts/Series/Organization/OrganizationSeries.ts
  ts/Series/Organization/OrganizationSeriesDefaults.ts
  ts/Series/Organization/OrganizationSeriesOptions.d.ts
Labels: Product: Highcharts, Changelog: Feature

#20541 dash/visual-tests
  test/cypress/dashboards/visual/Dashboards.cy.js
  ts/Dashboards/Components/Component.ts
Labels: Product: Highcharts Dashboards

#20551 dash/20445-disable-column-headers
  samples/data-grid/options/disable-column-headers/demo.css
  samples/data-grid/options/disable-column-headers/demo.details
  samples/data-grid/options/disable-column-headers/demo.html
  samples/data-grid/options/disable-column-headers/demo.js
  test/cypress/data-grid/integration/column-headers.cy.js
  ts/DataGrid/DataGrid.ts
  ts/DataGrid/DataGridOptions.d.ts
Labels: Changelog: Bugfix, Product: Highcharts Dashboards

#20523 bugfix/20430-mousewheel-overscroll-stuck
  samples/unit-tests/chart/mouse-wheel/demo.html
  samples/unit-tests/chart/mouse-wheel/demo.js
  ts/Core/Axis/OrdinalAxis.ts
Labels: Product: Highcharts Stock, Changelog: Bugfix

#20555 dash/crossfilter-demo-tweak
  samples/dashboards/components/crossfilter-affecting-navigators/demo.js
  samples/dashboards/demo/crossfilter/demo.js
  ts/Dashboards/Plugins/NavigatorComponent.ts
Labels: Product: Highcharts Dashboards
