Repository highcharts/highcharts, pull requests merged in 2024-03, with the labels that each got.

#20734 dash/custom-bundle-docs
  docs/dashboards/installation-with-es-modules.md
Labels: Product: Highcharts Dashboards

#20732 dash/datagrid-improvements
  docs/dashboards/datagrid-component.md
  docs/dashboards/installation-with-es-modules.md
  docs/datagrid/general.md
  test/typescript-dts/dashboards/tsconfig.json
  ts/Dashboards/Plugins/DataGridTypes.ts
  ts/masters-dashboards/tsconfig.json
  ts/masters-datagrid/tsconfig.json
Labels: Product: Highcharts Dashboards

#20737 dash/layout-docs
  docs/dashboards/edit-mode.md
  docs/dashboards/highcharts-component.md
  docs/dashboards/html-component.md
  docs/dashboards/kpi-component.md
  docs/dashboards/layout-description.md
Labels: Product: Highcharts Dashboards

#20654 Fixed codescan issue 111, potential prototype pollution in Utilites.ts
  ts/Core/Utilities.ts
Labels: Priority: High, Changelog: Bugfix

#20759 Fixed #20758, a regression in auto rotation of axis labels
  samples/highcharts/demo/heatmap/demo.css
  ts/Core/Axis/Axis.ts
  ts/Core/Axis/Color/ColorAxis.ts
Labels: Priority: Blocker

#20757 Fixed #20752, a regression with data label animation in tree graphs
  samples/unit-tests/series-treegraph/treegraph/demo.js
  ts/Core/Series/DataLabel.ts
  ts/Series/Treegraph/TreegraphPoint.ts
Labels: Priority: Blocker

#20703 bugfix/15921-fillcolor-hcm
  samples/highcharts/accessibility/high-contrast-mode/demo.css
  samples/highcharts/accessibility/high-contrast-mode/demo.details
  samples/highcharts/accessibility/high-contrast-mode/demo.html
  samples/highcharts/accessibility/high-contrast-mode/demo.js
  samples/unit-tests/accessibility/accessibility-options/demo.js
  ts/Accessibility/Accessibility.ts
  ts/Accessibility/HighContrastMode.ts
  ts/Accessibility/HighContrastTheme.ts
  ts/Accessibility/Options/A11yDefaults.ts
  ts/Accessibility/Options/A11yOptions.d.ts
Labels: Changelog: Bugfix

#20761 Minor bugs in live weather demo
  samples/dashboards/demo/live-weather/demo.js
Labels: Type: Bug, Product: Highcharts Dashboards

#20753 dash/fixed-infinity-html-component
  css/dashboards/dashboards.css
  css/datagrid/datagrid.css
  samples/dashboards/basic/your-first-dashboard/demo.css
  samples/dashboards/component-options/sync-visibility/demo.js
  samples/dashboards/components/custom-component/demo.css
  samples/dashboards/components/custom-component/demo.js
  samples/dashboards/cypress/component-html/demo.mjs
  samples/dashboards/demo/minimal-html/demo.css
  samples/dashboards/demo/personal-finance/demo.css
  test/cypress/dashboards/integration/Components/HTML/HTMLComponent.cy.js
  test/typescript-karma/Dashboards/Component/highcharts.js
  test/typescript-karma/Dashboards/Component/html.js
  ts/Dashboards/Components/Component.ts
  ts/Dashboards/Components/HTMLComponent/HTMLComponent.ts
  ts/Dashboards/Components/HighchartsComponent/HighchartsComponent.ts
  ts/Dashboards/Components/KPIComponent/KPIComponent.ts
Labels: Changelog: Bugfix, Product: Highcharts Dashboards

#20770 dash/csv-options-api
  ts/Data/Connectors/CSVConnectorOptions.d.ts
Labels: Product: Highcharts Dashboards

#20775 dash/demos-fix-v2
  samples/dashboards/demo/cloud-monitoring/demo.js
  samples/dashboards/studies/sun-horizon/demo.js
Labels: Product: Highcharts Dashboards

#20769 dash/layout-esm
  docs/dashboards/edit-mode.md
  docs/dashboards/layout-description.md
Labels: Product: Highcharts Dashboards

#20663 bugfix/20548-resize-after-fullscreen
  samples/unit-tests/fullscreen/toggle/demo.details
  samples/unit-tests/fullscreen/toggle/demo.js
  ts/Core/Chart/Chart.ts
Labels: Product: Highcharts, Changelog: Bugfix

#20773 dash/custom-component-editable
  docs/dashboards/custom-component.md
  samples/dashboards/components/custom-component/demo.js
Labels: Product: Highcharts Dashboards

#20220 dash/accounting-demo
  samples/dashboards/demo/accounting/demo.css
  samples/dashboards/demo/accounting/demo.details
  samples/dashboards/demo/accounting/demo.html
  samples/dashboards/demo/accounting/demo.js
Labels: Product: Highcharts Dashboards

#20791 bugfix/20689-sidebar-visibility
  test/cypress/dashboards/integration/edit-component.cy.js
  ts/Dashboards/EditMode/SidebarPopup.ts
Labels: Changelog: Bugfix, Product: Highcharts Dashboards

#20788 bugfix/20688-editmode-remove-component
  test/cypress/dashboards/integration/Components/events.cy.js
  ts/Dashboards/EditMode/EditMode.ts
Labels: Changelog: Bugfix, Product: Highcharts Dashboards

#20801 dash/installation-docs-adjustment
  docs/dashboards/installation.md
Labels: Product: Highcharts Dashboards

#20800 dash/layout-docs-adjustment
  docs/dashboards/layout-description.md
Labels: Product: Highcharts Dashboards

#20633 demo/org-hanging-lines
  samples/highcharts/demo/organization-hanging/demo.css
  samples/highcharts/demo/organization-hanging/demo.details
  samples/highcharts/demo/organization-hanging/demo.html
  samples/highcharts/demo/organization-hanging/demo.js
Labels: Product: Highcharts, Changelog: Feature

#20811 dash/zip
  tools/gulptasks/dashboards/dist-build.js
  tools/gulptasks/dashboards/dist-zip.js
Labels: Product: Highcharts Dashboards

#20727 Split DTS
  gulpfile.js
  package-lock.json
  package.json
  test/karma-files.json
  tools/gulptasks/jsdoc-dts.js
  tools/gulptasks/jsdoc-namespace.js
  tools/gulptasks/lib/fs.js
  tools/gulptasks/reset-clone.js
  tools/gulptasks/scripts-esx.js
  ts/Core/Axis/ZAxis.ts
  ts/Core/Chart/Chart.ts
  ts/Extensions/Drilldown/Drilldown.ts
  ts/Extensions/Sonification/Options.ts
  ts/Series/Cylinder/CylinderSeries.ts
  ts/Series/TiledWebMap/TiledWebMapSeries.ts
Labels: Product: TypeScript, Changelog: Bugfix

#20820 dash/css-version
  tools/gulptasks/dashboards/dist-build.js
Labels: Product: Highcharts Dashboards

#20821 dash/events-demo-errors
  samples/dashboards/component-options/events/demo.js
  ts/Dashboards/Components/Component.ts
  ts/Dashboards/Components/HighchartsComponent/HighchartsSyncHandlers.ts
Labels: Changelog: Bugfix, Product: Highcharts Dashboards

#20822 dash/datagrid-defaults
  samples/dashboards/component-options/sync-highlight/demo.js
  samples/dashboards/components/climate-all/demo.js
  samples/dashboards/cypress/datagrid-mathmodifier/demo.js
  samples/dashboards/demo/climate/demo.js
  samples/dashboards/demo/datagrid-sync/demo.js
  samples/dashboards/demo/light-dark-theme/demo.js
  samples/dashboards/demo/minimal-html/demo.js
  samples/dashboards/demo/minimal/demo.js
  samples/dashboards/exporting/export-to-json/demo.js
  samples/dashboards/exporting/export-to-localstorage/demo.js
  samples/dashboards/gui/cell-class-name/demo.js
  samples/dashboards/issues/sync-aliases/demo.js
  samples/highcharts/website/small-demos-dashboards/demo.js
  samples/highcharts/website/static-dashboard/demo.js
Labels: Product: Highcharts Dashboards

#20827 dash/table-events-leak
  test/cypress/dashboards/integration/sync/crossfilter.cy.js
  ts/Dashboards/Components/Component.ts
Labels: Product: Highcharts Dashboards

#20846 dash/zip-url
  changelog/generate-html.js
Labels: Product: Highcharts Dashboards

#20841 dash/gulp-datagrid
  tools/gulptasks/dashboards/scripts.js
Labels: Product: Highcharts Dashboards

#20837 dash/frameworks-docs
  docs/dashboards/dashboards-with-angular.md
  docs/dashboards/dashboards-with-react.md
  docs/dashboards/dashboards-with-vue.md
  docs/dashboards/your-first-dashboard.md
Labels: Product: Highcharts Dashboards

#20845 dash/react-vue-docs-demos
  docs/dashboards/dashboards-with-react.md
  docs/dashboards/dashboards-with-vue.md
Labels: Product: Highcharts Dashboards

#20847 dash/docs-api-links
  docs/dashboards/datagrid-component.md
  docs/dashboards/edit-mode.md
  docs/dashboards/highcharts-component.md
  docs/dashboards/html-component.md
  docs/dashboards/kpi-component.md
  docs/dashboards/synchronize-components.md
  docs/dashboards/types-of-components.md
Labels: Product: Highcharts Dashboards

#20852 dash/zip-url
  changelog/generate-html.js
Labels: Product: Highcharts Dashboards

#20855 bugfix/20851-point-level-events
  samples/unit-tests/series/update/demo.js
  ts/Core/Series/Point.ts
Labels: Type: Bug, Product: Highcharts

#20582 demo/stock-relative-rotation-graph
  samples/stock/demo/relative-rotation-graph/demo.css
  samples/stock/demo/relative-rotation-graph/demo.details
  samples/stock/demo/relative-rotation-graph/demo.html
  samples/stock/demo/relative-rotation-graph/demo.js
Labels: Product: Highcharts Stock

#20519 Added stock design with css.
  samples/stock/demo/stock-css-design/demo.css
  samples/stock/demo/stock-css-design/demo.details
  samples/stock/demo/stock-css-design/demo.html
  samples/stock/demo/stock-css-design/demo.js
Labels: Product: Highcharts Stock

#20708 Fixed #20586 no spacing between css classes
  samples/unit-tests/axis/plotlines-and-plotbands/demo.js
  ts/Core/Axis/PlotLineOrBand/PlotLineOrBand.ts
Labels: Changelog: Bugfix

#20862 dash/sync-demo-datagrid
  samples/dashboards/sync/sync-highlight-options/demo.html
Labels: Product: Highcharts Dashboards

#20863 dash/framework-docs
  docs/dashboards/dashboards-with-angular.md
  docs/dashboards/dashboards-with-react.md
  docs/dashboards/dashboards-with-vue.md
Labels: Product: Highcharts Dashboards

#20881 dash/vue-minimal-custom-demo
  docs/dashboards/dashboards-with-vue.md
Labels: Changelog: Feature

#20882 dash/angular-custom-layout-demo
  docs/dashboards/dashboards-with-angular.md
Labels: Product: Highcharts Dashboards

#20875 dash/react-custom-layout-demo
  docs/dashboards/dashboards-with-react.md
Labels: Product: Highcharts Dashboards

#20879 Fixed #20871, regression with reset zoom
  ts/Core/Chart/Chart.ts
Labels: Changelog: Bugfix

#20803 bugfix/external-data-in-tests
  samples/unit-tests/maps/drilldown/demo.js
  samples/unit-tests/maps/projection/demo.js
  samples/unit-tests/rangeselector/buttons-datagrouping/demo.js
  samples/unit-tests/series/datagrouping/demo.js
  test/json-sources.js
  test/karma-conf.js
Labels: Product: Highcharts Stock

#20884 dash/lint-core
  ts/Dashboards/Actions/Bindings.ts
  ts/Dashboards/Board.ts
  ts/Dashboards/EditMode/EditRenderer.ts
Labels: Product: Highcharts Dashboards

#20887 demo/stock-demos-new-tag
  samples/stock/demo/black-and-white/demo.details
  samples/stock/demo/dark-candlestick-and-volume/demo.details
  samples/stock/demo/dark-theme/demo.details
  samples/stock/demo/neon-line-chart/demo.details
  samples/stock/demo/relative-rotation-graph/demo.details
  samples/stock/demo/stock-css-design/demo.details
Labels: Product: Highcharts Stock

#20892 dash/fix-duplicated-ids
  samples/dashboards/cypress/duplicated-ids/demo.css
  samples/dashboards/cypress/duplicated-ids/demo.details
  samples/dashboards/cypress/duplicated-ids/demo.html
  samples/dashboards/cypress/duplicated-ids/demo.mjs
  test/cypress/dashboards/integration/layout.cy.js
  ts/Dashboards/Actions/Bindings.ts
Labels: Changelog: Bugfix, Product: Highcharts Dashboards

#20896 dash/custom-component-add
  docs/dashboards/custom-component.md
  samples/dashboards/components/custom-component/demo.js
Labels: Product: Highcharts Dashboards

#20814 bugfix/20792-plotline-html-labels
  samples/unit-tests/plotbandslines/plotbandslines/demo.js
  ts/Core/Axis/PlotLineOrBand/PlotLineOrBand.ts
Labels: Product: Highcharts, Changelog: Bugfix

#20902 dash/font-html-demos
  samples/dashboards/demo/minimal-html/demo.css
  samples/dashboards/demo/project-management/demo.css
Labels: Product: Highcharts Dashboards

#20878 dash/sync-docs-improvements
  docs/dashboards/datagrid-component.md
  docs/dashboards/highcharts-component.md
  docs/dashboards/html-component.md
  docs/dashboards/kpi-component.md
  docs/dashboards/navigator-component.md
  docs/dashboards/synchronize-components.md
  docs/dashboards/your-first-dashboard.md
  docs/export-module/deprecated-async-option.md
Labels: Product: Highcharts Dashboards

#20866 Implemented border radius for flag series
  samples/stock/demo/flags-shapes/demo.js
  ts/Series/Flags/FlagsSeries.ts
  ts/Series/Flags/FlagsSeriesDefaults.ts
  ts/Series/Flags/FlagsSymbols.ts
Labels: Product: Highcharts Stock, Changelog: Feature

#20898 dash/unique-cell-id-warning
  ts/Dashboards/Actions/Bindings.ts
Labels: Product: Highcharts Dashboards

#20888 demo/stock-png-thumbnail-demos
  samples/stock/demo/neon-line-chart/demo.details
  samples/stock/demo/standalone-navigator/demo.details
Labels: Product: Highcharts Stock

#20909 dash/getOptions-custom-layout
  test/cypress/dashboards/integration/json-serialization.cy.js
  ts/Dashboards/Board.ts
Labels: Product: Highcharts Dashboards

#20915 dash/datagrid-docs-clarify
  docs/datagrid/general.md
  samples/dashboards/components/crossfilter-affecting-navigators/demo.html
  samples/data-grid/basic/cells-formatting/demo.html
  samples/data-grid/options/disable-column-headers/demo.html
Labels: Product: Highcharts Dashboards
