Repository highcharts/highcharts, pull requests merged in 2024-11, with the labels that each got.

#22099 dash/datagrid-whcm
  tools/gulptasks/scripts-ts.js
  ts/masters-datagrid/datagrid.src.ts
  ts/masters-datagrid/tsconfig.json
Labels: Product: Highcharts Dashboards

#22089 bugfix/21955-dash-nested-toggle
  css/dashboards/dashboards.css
  samples/dashboards/cypress/edit-mode-options/demo.mjs
  samples/dashboards/edit-mode/editableoptions/demo.js
  test/cypress/dashboards/integration/EditMode/Sidebar/sidebar.cy.js
  ts/Dashboards/EditMode/AccordionMenu.ts
  ts/Dashboards/EditMode/EditGlobals.ts
  ts/Dashboards/EditMode/EditRenderer.ts
Labels: Changelog: Bugfix, Product: Highcharts Dashboards

#21958 feature/point-and-figure-series
  docs/sidebars.js
  docs/stock/pointandfigure.md
  samples/stock/demo/pointandfigure/demo.details
  samples/stock/demo/pointandfigure/demo.html
  samples/stock/demo/pointandfigure/demo.js
  samples/stock/pointandfigure/pointandfigure-interactive/demo.css
  samples/stock/pointandfigure/pointandfigure-interactive/demo.details
  samples/stock/pointandfigure/pointandfigure-interactive/demo.html
  samples/stock/pointandfigure/pointandfigure-interactive/demo.js
  ts/Core/Axis/Axis.ts
  ts/Core/Axis/OrdinalAxis.ts
  ts/Series/PointAndFigure/PointAndFigurePoint.ts
  ts/Series/PointAndFigure/PointAndFigurePointOptions.d.ts
  ts/Series/PointAndFigure/PointAndFigureSeries.ts
  ts/Series/PointAndFigure/PointAndFigureSeriesDefaults.ts
  ts/Series/PointAndFigure/PointAndFigureSeriesOptions.d.ts
  ts/Series/PointAndFigure/PointAndFigureSymbols.ts
  ts/masters/modules/pointandfigure.src.ts
Labels: Product: Highcharts Stock, Changelog: Bugfix

#22104 dash/workaround-keys-series-update
  ts/Dashboards/Components/HighchartsComponent/HighchartsComponent.ts
Labels: Changelog: Bugfix, Product: Highcharts Dashboards

#22092 dash/fixed-21862-editable-arrays
  samples/dashboards/cypress/array-editable-options/demo.css
  samples/dashboards/cypress/array-editable-options/demo.html
  samples/dashboards/cypress/array-editable-options/demo.mjs
  test/cypress/dashboards/integration/EditMode/component-editing.cy.js
  test/cypress/support/index.js
  ts/Dashboards/Components/Component.ts
  ts/Dashboards/Components/DataGridComponent/DataGridComponent.ts
  ts/Dashboards/Components/HTMLComponent/HTMLComponent.ts
  ts/Dashboards/Components/HighchartsComponent/HighchartsComponent.ts
  ts/Dashboards/EditMode/AccordionMenu.ts
  ts/Dashboards/Utilities.ts
Labels: Changelog: Bugfix, Product: Highcharts Dashboards

#22074 feat/21975-4-and-8-digit-color
  samples/unit-tests/highcharts/color/demo.js
  ts/Core/Color/Color.ts
Labels: Product: Highcharts, Changelog: Feature

#22101 Fixed pie data label cut off at bottom
  ts/Core/Series/DataLabel.ts
  ts/Series/Pie/PieDataLabel.ts
  ts/Series/Pie/PiePoint.ts
Labels: Product: Highcharts, Changelog: Bugfix

#22118 dash/resizer-hover-state-removed
  css/datagrid/datagrid.css
  ts/DataGrid/Globals.ts
Labels: Product: Highcharts Dashboards, datagrid

#21986 dash/dg2-a11y-options
  css/datagrid/datagrid.css
  samples/data-grid/accessibility/custom-accessibility/demo.css
  samples/data-grid/accessibility/custom-accessibility/demo.html
  samples/data-grid/accessibility/custom-accessibility/demo.js
  test/typescript-karma/Dashboards/DataGrid/datagrid.test.js
  tools/gulptasks/dashboards/api-docs.json
  tools/gulptasks/dashboards/scripts-dts/datagrid.src.d.ts
  ts/DataGrid/Accessibility/A11yOptions.ts
  ts/DataGrid/Accessibility/Accessibility.ts
  ts/DataGrid/DataGrid.ts
  ts/DataGrid/DefaultOptions.ts
  ts/DataGrid/Defaults.ts
  ts/DataGrid/Globals.ts
  ts/DataGrid/Options.ts
  ts/DataGrid/Table/Actions/CellEditing.ts
  ts/DataGrid/Table/Actions/ColumnSorting.ts
  ts/DataGrid/Table/Actions/ColumnsResizer.ts
  ts/DataGrid/Table/Content/TableCell.ts
  ts/DataGrid/Table/Header/HeaderCell.ts
  ts/DataGrid/Table/Header/HeaderRow.ts
  ts/masters-datagrid/datagrid.src.ts
Labels: a11y, Product: Highcharts Dashboards, datagrid

#22141 dash/confirm-cancel-editmode-events
  ts/Dashboards/EditMode/AccordionMenu.ts
Labels: Changelog: Feature, Product: Highcharts Dashboards

#22146 dash/dg-even-odd-rows
  css/datagrid/datagrid.css
  test/cypress/data-grid/integration/general.cy.js
  ts/DataGrid/Globals.ts
  ts/DataGrid/Table/Content/TableRow.ts
Labels: Product: Highcharts Dashboards, datagrid

#22165 dash/dg-long-header-title
  css/datagrid/datagrid.css
Labels: Changelog: Bugfix, Product: Highcharts Dashboards

#22151 Workaround for broken map zoom
  samples/dashboards/demo/climate/demo.js
Labels: Product: Highcharts Dashboards

#21705 bugfix/21524-column-ordinal-panning
  samples/unit-tests/chart/panning/demo.js
  ts/Core/Axis/OrdinalAxis.ts
Labels: Product: Highcharts Stock, Changelog: Bugfix

#22064 dash/datagrid-cell-format
  samples/dashboards/demo/datagrid-cell-format/demo.css
  samples/dashboards/demo/datagrid-cell-format/demo.details
  samples/dashboards/demo/datagrid-cell-format/demo.html
  samples/dashboards/demo/datagrid-cell-format/demo.js
Labels: Product: Highcharts Dashboards

#22185 dash/datagrid-demo-details
  samples/dashboards/demo/datagrid-cell-format/demo.details
Labels: Product: Highcharts Dashboards

#22195 New default exporting.url
  samples/unit-tests/exporting/url/demo.js
  ts/Extensions/Exporting/ExportingDefaults.ts
Labels: Changelog: Bugfix

#22206 Addition to #22188, for areas max side
  ts/Core/Series/Series.ts
Labels: Priority: Blocker

#22152 dash/dg-disabled-rows-virtualization
  css/datagrid/datagrid.css
  docs/datagrid/performance.md
  samples/data-grid/basic/disabled-rows-virtualization/demo.css
  samples/data-grid/basic/disabled-rows-virtualization/demo.details
  samples/data-grid/basic/disabled-rows-virtualization/demo.html
  samples/data-grid/basic/disabled-rows-virtualization/demo.js
  ts/DataGrid/DataGrid.ts
  ts/DataGrid/Defaults.ts
  ts/DataGrid/Globals.ts
  ts/DataGrid/Options.ts
  ts/DataGrid/Table/Actions/ColumnsResizer.ts
  ts/DataGrid/Table/Actions/RowsVirtualizer.ts
  ts/DataGrid/Table/Content/TableRow.ts
  ts/DataGrid/Table/Header/HeaderCell.ts
  ts/DataGrid/Table/Header/TableHeader.ts
  ts/DataGrid/Table/Row.ts
  ts/DataGrid/Table/Table.ts
Labels: Changelog: Feature, Product: Highcharts Dashboards

#22216 demo/stock-demos-improvement
  samples/stock/demo/hollow-candlestick/demo.js
  samples/stock/demo/stock-tools-custom-gui/demo.css
  samples/stock/demo/stock-tools-custom-gui/demo.html
  samples/stock/demo/stock-tools-custom-gui/demo.js
Labels: Product: Highcharts Stock

#22248 dash/dg-a11y-api-fix
  ts/DataGrid/Accessibility/A11yOptions.ts
  ts/DataGrid/Accessibility/Accessibility.ts
  ts/DataGrid/Defaults.ts
  ts/DataGrid/Table/Content/TableRow.ts
  ts/DataGrid/Table/Header/HeaderRow.ts
Labels: Product: Highcharts Dashboards, datagrid

#22219 Fixed error in merging/conflict resolution.
  samples/dashboards/data/mqtt-connector/demo.css
  samples/dashboards/data/mqtt-connector/demo.js
Labels: Type: Bug, Product: Highcharts Dashboards

#22246 dash/dg-height-infinity-loop
  css/datagrid/datagrid.css
  samples/dashboards/components/climate-all/demo.css
  samples/dashboards/components/crossfilter-affecting-navigators/demo.css
  samples/dashboards/cypress/add-layout/demo.css
  samples/dashboards/datagrid-component/datagrid-options/demo.css
  samples/dashboards/demo/climate/demo.css
  samples/dashboards/demo/crossfilter/demo.css
  samples/dashboards/demo/live-weather/demo.css
  samples/dashboards/demo/minimal-html/demo.css
  samples/dashboards/demo/sync-extremes/demo.css
  samples/dashboards/highcharts-components/multiple-connectors/demo.css
  samples/data-grid/basic/container-height/demo.css
  samples/data-grid/basic/container-height/demo.js
  ts/DataGrid/Table/Actions/RowsVirtualizer.ts
  ts/DataGrid/Table/Table.ts
Labels: Product: Highcharts Dashboards, datagrid

#22250 Dash: Removed named exports for compatibility with Dashboards.
  package-lock.json
  tools/gulptasks/scripts-es5.js
  tools/gulptasks/scripts.js
  tools/libs/process.js
  ts/Core/Utilities.ts
Labels: Product: Highcharts Dashboards
