Repository highcharts/highcharts, pull requests merged in 2024-08, with the labels that each got.

#21600 bugfix/DataConverter-type
  tools/gulptasks/dashboards/scripts-dts/dashboards.src.d.ts
  tools/gulptasks/dashboards/scripts-dts/datagrid.src.d.ts
  ts/masters-dashboards/dashboards.src.ts
  ts/masters-datagrid/datagrid.src.ts
Labels: Changelog: Bugfix, Product: Highcharts Dashboards

#21598 bugfix/parseDate-access
  ts/Data/Converters/DataConverter.ts
Labels: Changelog: Bugfix, Product: Highcharts Dashboards

#21361 bugfix/21315-a-shadow-appears-when-hover-an-inverted-bubble
  samples/unit-tests/series-bubble/marker/demo.js
  ts/Series/Bubble/BubblePoint.ts
Labels: Product: Highcharts, Changelog: Bugfix

#20873 bugfix/20456-boosted-heatmap-not-rendering
  samples/highcharts/boost/heatmap/demo.js
  ts/Extensions/Boost/BoostSeries.ts
  ts/Series/Heatmap/HeatmapSeries.ts
Labels: Product: Highcharts, Changelog: Bugfix

#21594 bugfix/21554-exitAnchor-got-shifted-above-highcharts-container
  samples/unit-tests/accessibility/accessibility-exporting/demo.js
  ts/Accessibility/Components/InfoRegionsComponent.ts
Labels: Product: Highcharts, Changelog: Bugfix

#21592 bugfix/9748-multiple-mouseup-events
  samples/highcharts/members/mouseup-new-window/demo.details
  samples/highcharts/members/mouseup-new-window/demo.html
  samples/highcharts/members/mouseup-new-window/demo.js
  samples/highcharts/members/mouseup-new-window/test-notes.html
  ts/Core/Pointer.ts
Labels: Product: Highcharts, Changelog: Bugfix

#21599 bugfix/17854-incorrect-fillopacity-in-boost
  ts/Extensions/Boost/WGLRenderer.ts
Labels: Product: Highcharts, Changelog: Bugfix

#21568 demo/synronized-charts-tweaks
  samples/highcharts/demo/synchronized-charts/demo.html
  samples/highcharts/demo/synchronized-charts/demo.js
Labels: Product: Highcharts

#21536 bugfix/21274-plotbands-on-navigator
  samples/unit-tests/plotbandslines/plotbandslines/demo.js
  ts/Core/Chart/StockChart.ts
  ts/Stock/Navigator/Navigator.ts
Labels: Product: Highcharts Stock, Changelog: Bugfix

#21364 bugfix/21281-split-causes-wrong-tt-animation
  samples/unit-tests/tooltip/split/demo.js
  ts/Core/Tooltip.ts
Labels: Product: Highcharts, Changelog: Bugfix

#21617 dash/fix-column-cells-array-clearing
  ts/DataGrid/Cell.ts
  ts/DataGrid/Column.ts
  ts/DataGrid/Row.ts
Labels: Product: Highcharts Dashboards, datagrid

#21618 dash/datagrid2-click-sorting
  css/datagrid/datagrid.css
Labels: datagrid

#21621 docs/21616-legend-itemclick-sample
  samples/highcharts/legend/itemclick/demo.css
  samples/highcharts/legend/itemclick/demo.details
  samples/highcharts/legend/itemclick/demo.html
  samples/highcharts/legend/itemclick/demo.js
  samples/highcharts/legend/itemclick/test-notes.html
  ts/Core/Defaults.ts
Labels: Product: Docs

#21607 bugfix/21429-multiple-solidgauge-rounded-off-center
  samples/unit-tests/series-solidgauge/solidgauge/demo.js
  ts/Core/Renderer/SVG/Symbols.ts
Labels: Product: Highcharts, Changelog: Bugfix

#21577 dash/21280-setActiveState
  samples/dashboards/component-options/states/demo.css
  samples/dashboards/component-options/states/demo.details
  samples/dashboards/component-options/states/demo.html
  samples/dashboards/component-options/states/demo.js
  samples/dashboards/components/climate-all/demo.js
  samples/dashboards/demo/live-weather/demo.js
  test/cypress/dashboards/integration/Components/states.cy.js
  ts/Dashboards/Actions/Bindings.ts
  ts/Dashboards/Components/Component.ts
  ts/Dashboards/Layout/Cell.ts
Labels: Changelog: Bugfix, Product: Highcharts Dashboards

#21588 dash/modified-table-row-relations
  docs/dashboards/data-modifiers.md
  test/typescript-karma/Data/DataTable.test.js
  test/typescript-karma/Data/DataTableRowKey.test.js
  test/typescript-karma/Data/Modifiers/ChainModifier.test.js
  ts/Data/Connectors/JSONConnector.ts
  ts/Data/DataTable.ts
  ts/Data/DataTableOptions.ts
  ts/Data/Modifiers/ChainModifier.ts
  ts/Data/Modifiers/RangeModifier.ts
  ts/Data/Modifiers/SortModifier.ts
  ts/DataGrid/DataGrid.ts
Labels: Changelog: Feature, Product: Highcharts Dashboards

#20410 Demo: different time resolution
  samples/highcharts/demo/combo-data-resolution/demo.css
  samples/highcharts/demo/combo-data-resolution/demo.details
  samples/highcharts/demo/combo-data-resolution/demo.html
  samples/highcharts/demo/combo-data-resolution/demo.js
  samples/highcharts/demo/combo-data-resolution/readme.md
Labels: Product: Website

#21634 tools/metadata-replacing
  tools/gulptasks/scripts-watch.js
Labels: Product: Highcharts, Changelog: Bugfix

#21649 dash/dg2-docs-columns-included
  docs/datagrid/columns.md
Labels: Product: Highcharts Dashboards, datagrid

#21572 dash/datagrid-docs
  css/datagrid/datagrid.css
  docs/datagrid/columns.md
  docs/datagrid/datagrid-v2-migration.md
  docs/datagrid/datagrid-with-angular.md
  docs/datagrid/datagrid-with-react.md
  docs/datagrid/datagrid-with-vue.md
  docs/datagrid/datagrid.png
  docs/datagrid/general.md
  docs/datagrid/installation.md
  docs/datagrid/style-by-css.md
  docs/datagrid/understanding-datagrid.md
  docs/datagrid/your-first-datagrid.md
  docs/sidebars.js
  samples/data-grid/demo/datagrid-custom-class/demo.css
  samples/data-grid/demo/datagrid-custom-class/demo.html
  samples/data-grid/demo/datagrid-custom-class/demo.js
  samples/data-grid/demo/filters/demo.css
  samples/data-grid/demo/filters/demo.html
  samples/data-grid/demo/filters/demo.js
  samples/data-grid/demo/your-first-datagrid/demo.css
  samples/data-grid/demo/your-first-datagrid/demo.html
  samples/data-grid/demo/your-first-datagrid/demo.js
  tools/gulptasks/dashboards/api-docs.json
  ts/DataGrid/Cell.ts
  ts/DataGrid/Column.ts
  ts/DataGrid/Content/TableCell.ts
  ts/DataGrid/Content/TableRow.ts
  ts/DataGrid/DataGrid.ts
  ts/DataGrid/Globals.ts
  ts/DataGrid/Header/HeaderCell.ts
  ts/DataGrid/Header/HeaderRow.ts
  ts/DataGrid/Header/TableHeader.ts
  ts/DataGrid/Options.ts
  ts/DataGrid/Row.ts
  ts/DataGrid/Table.ts
Labels: datagrid

#21637 dash/dg2-column-sorting-api
  css/datagrid/datagrid.css
  docs/datagrid/columns.md
  docs/datagrid/datagrid-v2-migration.md
  docs/datagrid/style-by-css.md
  docs/datagrid/your-first-datagrid.md
  samples/data-grid/basic/column-options/demo.js
  samples/data-grid/basic/sorting-options/demo.css
  samples/data-grid/basic/sorting-options/demo.html
  samples/data-grid/basic/sorting-options/demo.js
  samples/data-grid/cypress/column-cell-events/demo.js
  samples/data-grid/cypress/sorting-options/demo.css
  samples/data-grid/cypress/sorting-options/demo.html
  samples/data-grid/cypress/sorting-options/demo.js
  samples/data-grid/demo/datagrid-custom-class/demo.js
  samples/data-grid/demo/your-first-datagrid/demo.js
  test/cypress/data-grid/integration/options/events.cy.js
  test/cypress/data-grid/integration/options/sorting.cy.js
  tools/gulptasks/dashboards/api-docs.json
  ts/DataGrid/Actions/ColumnSorting.ts
  ts/DataGrid/Actions/RowsVirtualizer.ts
  ts/DataGrid/Column.ts
  ts/DataGrid/DataGrid.ts
  ts/DataGrid/DefaultOptions.ts
  ts/DataGrid/Globals.ts
  ts/DataGrid/Header/HeaderCell.ts
  ts/DataGrid/Options.ts
  ts/DataGrid/Querying/QueryingController.ts
  ts/DataGrid/Querying/SortingController.ts
  ts/DataGrid/Table.ts
Labels: Product: Highcharts Dashboards, datagrid

#21651 bugfix/21605-legend-symbol-font-not-centered
  ts/Core/Legend/LegendSymbol.ts
Labels: Product: Highcharts, Changelog: Bugfix

#21371 bugfix/21255-tooltip-with-outside-expanding-documentElement-width
  ts/Core/Tooltip.ts
Labels: Product: Highcharts, Changelog: Bugfix

#21602 demo/navigator-interactive-docs
  samples/stock/navigator/show-in-navigator-interactive/demo.css
  samples/stock/navigator/show-in-navigator-interactive/demo.details
  samples/stock/navigator/show-in-navigator-interactive/demo.html
  samples/stock/navigator/show-in-navigator-interactive/demo.js
  samples/stock/navigator/styling-interactive/demo.css
  samples/stock/navigator/styling-interactive/demo.details
  samples/stock/navigator/styling-interactive/demo.html
  samples/stock/navigator/styling-interactive/demo.js
Labels: Product: Highcharts Stock

#21603 docs/navigator-update
  docs/stock/navigator.md
Labels: Product: Highcharts Stock, Product: Docs

#21655 bugfix/21650-data-module-axis-update
  samples/unit-tests/chart/chart-update-data/demo.js
  ts/Core/Axis/AxisOptions.d.ts
  ts/Extensions/Data.ts
Labels: Changelog: Bugfix

#21604 dash/html-component-issues
  css/dashboards/dashboards.css
  test/cypress/dashboards/integration/Components/HTML/HTMLComponent.cy.js
  test/cypress/dashboards/integration/component-add.cy.js
  test/cypress/dashboards/integration/layout.cy.js
  test/cypress/support/index.js
  ts/Dashboards/Components/HTMLComponent/HTMLComponent.ts
  ts/Dashboards/Components/HTMLComponent/HTMLComponentDefaults.ts
  ts/Dashboards/Components/NavigatorComponent/NavigatorComponentDefaults.ts
  ts/Dashboards/EditMode/SidebarPopup.ts
Labels: Changelog: Bugfix, Product: Highcharts Dashboards

#21587 dash/20907-toolbars-visibility
  samples/dashboards/edit-mode/toolbars-options/demo.css
  samples/dashboards/edit-mode/toolbars-options/demo.details
  samples/dashboards/edit-mode/toolbars-options/demo.html
  samples/dashboards/edit-mode/toolbars-options/demo.js
  test/cypress/dashboards/integration/EditMode/Toolbar/hide-toolbar-items.cy.js
  ts/Dashboards/EditMode/Menu/MenuItem.ts
  ts/Dashboards/EditMode/Toolbar/CellEditToolbar.ts
  ts/Dashboards/EditMode/Toolbar/RowEditToolbar.ts
  ts/Dashboards/Layout/Cell.ts
  ts/Dashboards/Layout/CellHTML.ts
  ts/Dashboards/Layout/Row.ts
Labels: Changelog: Feature, Product: Highcharts Dashboards

#21349 bugfix/21188-resizeobserver-a11y-infinite-loop
  samples/unit-tests/chart/reflow/demo.html
  samples/unit-tests/chart/reflow/demo.js
  ts/Accessibility/ProxyProvider.ts
  ts/Core/Chart/Chart.ts
Labels: Product: Highcharts, Changelog: Bugfix

#21659 bugfix/21581-highmaps-credits-href
  samples/highcharts/credits/href/demo.js
  samples/unit-tests/maps/credits-maptext/demo.js
  ts/Maps/GeoJSONComposition.ts
Labels: Product: Highcharts, Changelog: Bugfix

#21221 demo/order-book-a11y
  samples/stock/demo/orderbook-chart/demo.css
  samples/stock/demo/orderbook-chart/demo.html
  samples/stock/demo/orderbook-chart/demo.js
Labels: Product: Highcharts Stock

#21494 docs/fix-heikin-typo
  docs/stock/heikinashi.md
  samples/stock/demo/heikinashi/demo.js
Labels: Product: Highcharts Stock, Product: Docs

#21680 bugfix/21205-offline-pdf-export-fail
  ts/Extensions/OfflineExporting/OfflineExporting.ts
Labels: Product: Highcharts, Changelog: Bugfix

#21688 bugfix/21655-animation
  ts/Extensions/Data.ts
Labels: Type: Pre-release

#21653 dash/dg2-table-row-references
  samples/dashboards/demo/datagrid-sync/demo.js
  samples/dashboards/demo/election/demo.js
  samples/dashboards/sync/sync-with-datamodifiers/demo.js
  samples/data-grid/cypress/sorting-options/demo.js
  samples/data-grid/demo/querying/demo.css
  samples/data-grid/demo/querying/demo.html
  samples/data-grid/demo/querying/demo.js
  test/cypress/dashboards/integration/sync/sorted-datagrid-sync.cy.js
  test/cypress/data-grid/integration/options/sorting.cy.js
  ts/Dashboards/Components/DataGridComponent/DataGridSyncs/DataGridExtremesSync.ts
  ts/Dashboards/Components/DataGridComponent/DataGridSyncs/DataGridHighlightSync.ts
  ts/Dashboards/Components/HighchartsComponent/HighchartsSyncs/HighchartsHighlightSync.ts
  ts/DataGrid/Actions/CellEditing.ts
  ts/DataGrid/Content/TableCell.ts
  ts/DataGrid/Content/TableRow.ts
Labels: Product: Highcharts Dashboards, datagrid

#21690 dash/dg2-table-dataTable-replacement
  docs/dashboards/data-pool-and-connectors.md
  docs/datagrid/datagrid-v2-migration.md
  docs/datagrid/general.md
  docs/datagrid/style-by-css.md
  docs/datagrid/your-first-datagrid.md
  samples/dashboards/cypress/datagrid-cell-formatter/demo.js
  samples/dashboards/cypress/datagrid-hidden/demo.js
  samples/data-grid/basic/cell-events/demo.js
  samples/data-grid/basic/cell-formatting/demo.js
  samples/data-grid/basic/column-options/demo.js
  samples/data-grid/basic/column-resizing-disabled/demo.js
  samples/data-grid/basic/custom-html/demo.js
  samples/data-grid/basic/destroy-datagrid/demo.js
  samples/data-grid/basic/exporting-json/demo.js
  samples/data-grid/basic/fixed-distribution/demo.js
  samples/data-grid/basic/no-data/demo.js
  samples/data-grid/basic/options-update/demo.js
  samples/data-grid/basic/overview/demo.js
  samples/data-grid/basic/scroll-to-row/demo.js
  samples/data-grid/basic/sorting-options/demo.js
  samples/data-grid/basic/strict-row-heights/demo.js
  samples/data-grid/cypress/column-cell-events/demo.js
  samples/data-grid/cypress/exporting-json/demo.js
  samples/data-grid/cypress/sorting-options/demo.js
  samples/data-grid/demo/datagrid-custom-class/demo.js
  samples/data-grid/demo/querying/demo.js
  samples/data-grid/demo/your-first-datagrid/demo.js
  test/typescript-karma/Dashboards/Component/datagrid.js
  ts/Dashboards/Components/DataGridComponent/DataGridComponent.ts
  ts/Data/README.md
  ts/DataGrid/DataGrid.ts
  ts/DataGrid/Options.ts
Labels: Product: Highcharts Dashboards, datagrid

#21693 bugfix/21655-range-selector
  samples/unit-tests/chart/chart-update-data/demo.js
  ts/Extensions/Data.ts
Labels: Type: Pre-release

#21685 dash/core-in-bundle
  tools/gulptasks/dashboards/dist-release.js
Labels: Product: Highcharts Dashboards

#21692 dash/datagrid-container
  ts/DataGrid/DataGrid.ts
Labels: datagrid

#21670 dash/dataGrid-editableOptions
  css/dashboards/dashboards.css
  samples/dashboards/cypress/component-datagrid/demo.mjs
  test/cypress/dashboards/integration/Components/DataGrid/DataGridComponent.cy.js
  ts/Dashboards/Components/DataGridComponent/DataGridComponent.ts
  ts/Dashboards/Components/DataGridComponent/DataGridComponentDefaults.ts
  ts/Dashboards/Components/DataGridComponent/DataGridComponentOptions.ts
  ts/Dashboards/EditMode/AccordionMenu.ts
Labels: datagrid

#21646 dash/datagrid-grouped-headers
  css/datagrid/datagrid.css
  docs/datagrid/columns.md
  docs/datagrid/multilevelheader.png
  docs/datagrid/understanding-datagrid.md
  samples/data-grid/basic/grouped-headers/demo.css
  samples/data-grid/basic/grouped-headers/demo.html
  samples/data-grid/basic/grouped-headers/demo.js
  samples/data-grid/basic/sorting-options/demo.js
  samples/data-grid/cypress/grouped-headers/demo.css
  samples/data-grid/cypress/grouped-headers/demo.html
  samples/data-grid/cypress/grouped-headers/demo.js
  samples/data-grid/cypress/sorting-options/demo.js
  test/cypress/data-grid/integration/formatting.cy.js
  test/cypress/data-grid/integration/options/multiLevelHeader.cy.js
  ts/DataGrid/Actions/ColumnsResizer.ts
  ts/DataGrid/Content/TableRow.ts
  ts/DataGrid/DataGrid.ts
  ts/DataGrid/Globals.ts
  ts/DataGrid/Header/HeaderCell.ts
  ts/DataGrid/Header/HeaderRow.ts
  ts/DataGrid/Header/TableHeader.ts
  ts/DataGrid/Options.ts
  ts/DataGrid/Row.ts
  ts/DataGrid/Table.ts
Labels: datagrid

#21223 bugfix/20359-scrollbar-same-extremes
  samples/unit-tests/scrollbar/extremes/demo.js
  ts/Core/Axis/ScrollbarAxis.ts
Labels: Product: Highcharts Stock, Changelog: Bugfix

#21687 bugfix/21483-ordinal-zoom-out
  samples/unit-tests/axis/ordinal/demo.js
  ts/Core/Chart/Chart.ts
Labels: Product: Highcharts Stock, Changelog: Bugfix

#21676 bugfix/21660-navigator-update-handle-symbol-url
  samples/unit-tests/navigator/navigator/demo.js
  ts/Core/Renderer/SVG/SVGRenderer.ts
  ts/Stock/Navigator/Navigator.ts
Labels: Product: Highcharts Stock, Changelog: Bugfix

#21658 feature/21644-ts-add-missing-layout-values
  ts/Core/Axis/Color/ColorAxis.ts
  ts/Core/Axis/Color/ColorAxisOptions.d.ts
  ts/Series/Item/ItemSeriesOptions.d.ts
Labels: Type: Enhancement, Product: Highcharts

#21252 bugfix/20499-dataLabels-width-styledMode
  samples/unit-tests/datalabels/overlapping/demo.html
  samples/unit-tests/datalabels/overlapping/demo.js
  ts/Core/Series/DataLabel.ts
Labels: Product: Highcharts, Changelog: Bugfix

#21623 bugfix/21521-overlapping-plotband-and-plotline-labels
  samples/highcharts/xaxis/plotbands-label-allowoverlap/demo.css
  samples/highcharts/xaxis/plotbands-label-allowoverlap/demo.details
  samples/highcharts/xaxis/plotbands-label-allowoverlap/demo.html
  samples/highcharts/xaxis/plotbands-label-allowoverlap/demo.js
  samples/highcharts/xaxis/plotbands-label-textwidth/demo.css
  samples/highcharts/xaxis/plotbands-label-textwidth/demo.details
  samples/highcharts/xaxis/plotbands-label-textwidth/demo.html
  samples/highcharts/xaxis/plotbands-label-textwidth/demo.js
  samples/unit-tests/axis/plotlines-and-plotbands/demo.js
  ts/Core/Axis/Axis.ts
  ts/Core/Axis/PlotLineOrBand/PlotBandOptions.d.ts
  ts/Core/Axis/PlotLineOrBand/PlotLineOrBand.ts
  ts/masters/highcharts.src.ts
Labels: Product: Highcharts, Changelog: Bugfix

#21719 dash/datagrid-1px
  ts/DataGrid/Header/TableHeader.ts
Labels: datagrid

#21414 bugfix/21316-panning-with-overscroll
  samples/unit-tests/axis/overscroll/demo.js
  ts/Core/Chart/Chart.ts
Labels: Product: Highcharts Stock, Changelog: Bugfix

#21741 Docs: Wrong description and @see reference in mapbubble.zMax
  ts/Series/MapBubble/MapBubbleSeries.ts
Labels: Product: Docs

#21717 dash/21573-live-weather-demo-fixes
  samples/dashboards/demo/live-weather/demo.html
  samples/dashboards/demo/live-weather/demo.js
Labels: Product: Highcharts Dashboards

#21736 dash/docs-googleAPIKey-info
  ts/Data/Connectors/GoogleSheetsConnectorOptions.d.ts
Labels: Product: Docs, Product: Highcharts Dashboards

#21726 dash/dg2-api-default-changes
  docs/datagrid/columns.md
  docs/datagrid/datagrid-v2-migration.md
  docs/datagrid/general.md
  docs/datagrid/understanding-datagrid.md
  samples/dashboards/components/highcharts-column-assignment-1d-data/demo.js
  samples/dashboards/components/highcharts-column-assignment-2d-data/demo.js
  samples/dashboards/components/highcharts-column-assignment-keys-data/demo.js
  samples/dashboards/cypress/component-datagrid-custom-html/demo.mjs
  samples/dashboards/cypress/component-datagrid/demo.mjs
  samples/dashboards/cypress/datagrid-mathmodifier/demo.js
  samples/dashboards/demo/election/demo.js
  samples/dashboards/highcharts-components/multiple-connectors/demo.js
  samples/data-grid/basic/cell-events/demo.js
  samples/data-grid/basic/cell-formatting/demo.js
  samples/data-grid/basic/column-options/demo.js
  samples/data-grid/basic/custom-html/demo.js
  samples/data-grid/basic/grouped-headers/demo.js
  samples/data-grid/basic/options-update/demo.js
  samples/data-grid/basic/overview/demo.js
  samples/data-grid/basic/scroll-to-row/demo.js
  samples/data-grid/cypress/column-cell-events/demo.js
  samples/data-grid/cypress/exporting-json/demo.js
  samples/data-grid/cypress/sorting-options/demo.js
  samples/data-grid/demo/datagrid-custom-class/demo.js
  test/typescript-karma/Dashboards/DataGrid/datagrid.test.js
  ts/Dashboards/Components/DataGridComponent/DataGridComponentDefaults.ts
  ts/DataGrid/Column.ts
  ts/DataGrid/Content/TableCell.ts
  ts/DataGrid/DataGrid.ts
  ts/DataGrid/DefaultOptions.ts
  ts/DataGrid/Header/HeaderRow.ts
  ts/DataGrid/Options.ts
  ts/DataGrid/Table.ts
Labels: Product: Highcharts Dashboards, datagrid

#21694 dash/dg2-columns-option-as-array
  docs/datagrid/columns.md
  docs/datagrid/datagrid-v2-migration.md
  docs/datagrid/general.md
  docs/datagrid/style-by-css.md
  docs/datagrid/understanding-datagrid.md
  samples/dashboards/components/climate-all/demo.js
  samples/dashboards/components/component-datagrid/demo.js
  samples/dashboards/components/crossfilter-affecting-navigators/demo.js
  samples/dashboards/components/custom-component-data-connector/demo.js
  samples/dashboards/components/highcharts-column-assignment-1d-data/demo.js
  samples/dashboards/components/highcharts-column-assignment-2d-data/demo.js
  samples/dashboards/components/highcharts-column-assignment-keys-data/demo.js
  samples/dashboards/cypress/component-datagrid-custom-html/demo.mjs
  samples/dashboards/cypress/component-datagrid/demo.mjs
  samples/dashboards/cypress/datagrid-cell-formatter/demo.js
  samples/dashboards/cypress/datagrid-mathmodifier/demo.js
  samples/dashboards/datagrid-component/datagrid-options/demo.js
  samples/dashboards/demo/climate/demo.js
  samples/dashboards/demo/cloud-monitoring/demo.js
  samples/dashboards/demo/crossfilter/demo.js
  samples/dashboards/demo/datagrid-mathmodifier/demo.js
  samples/dashboards/demo/datagrid-sync/demo.js
  samples/dashboards/demo/election/demo.js
  samples/dashboards/demo/light-dark-theme/demo.js
  samples/dashboards/demo/live-weather/demo.js
  samples/dashboards/highcharts-components/multiple-connectors/demo.js
  samples/dashboards/studies/sun-horizon/demo.js
  samples/dashboards/sync/datagrid-highlight-sync-autoscroll/demo.js
  samples/data-grid/basic/cell-events/demo.js
  samples/data-grid/basic/cell-formatting/demo.js
  samples/data-grid/basic/column-options/demo.js
  samples/data-grid/basic/custom-html/demo.js
  samples/data-grid/basic/exporting-json/demo.js
  samples/data-grid/basic/grouped-headers/demo.js
  samples/data-grid/basic/options-update/demo.js
  samples/data-grid/basic/overview/demo.js
  samples/data-grid/basic/scroll-to-row/demo.js
  samples/data-grid/basic/sorting-options/demo.js
  samples/data-grid/cypress/column-cell-events/demo.js
  samples/data-grid/cypress/exporting-json/demo.js
  samples/data-grid/cypress/grouped-headers/demo.js
  samples/data-grid/cypress/sorting-options/demo.js
  samples/data-grid/demo/datagrid-custom-class/demo.js
  samples/data-grid/demo/your-first-datagrid/demo.css
  test/cypress/dashboards/integration/mathmodifier-disable-edit.cy.js
  test/cypress/data-grid/integration/options/multiLevelHeader.cy.js
  test/typescript-karma/Dashboards/DataGrid/datagrid.test.js
  test/typescript-karma/Dashboards/Synchronization/sync.js
  ts/Dashboards/Components/DataGridComponent/DataGridComponentDefaults.ts
  ts/Dashboards/Components/DataGridComponent/DataGridSyncs/DataGridVisibilitySync.ts
  ts/DataGrid/Cell.ts
  ts/DataGrid/Column.ts
  ts/DataGrid/Content/TableCell.ts
  ts/DataGrid/DataGrid.ts
  ts/DataGrid/DefaultOptions.ts
  ts/DataGrid/Header/HeaderCell.ts
  ts/DataGrid/Header/HeaderRow.ts
  ts/DataGrid/Options.ts
  ts/DataGrid/Querying/SortingController.ts
  ts/DataGrid/Table.ts
Labels: Product: Highcharts Dashboards, datagrid
