Repository highcharts/highcharts, pull requests merged in 2024-05, with the labels that each got.

#20943 bugfix/20829-advanced-annotations-styledmode
  css/highcharts.css
  ts/Extensions/Annotations/Controllables/Controllable.ts
  ts/Extensions/Annotations/Controllables/ControllableLabel.ts
  ts/Extensions/Annotations/Controllables/ControllablePath.ts
  ts/Extensions/Annotations/Types/BasicAnnotation.ts
  ts/Extensions/Annotations/Types/CrookedLine.ts
  ts/Extensions/Annotations/Types/Fibonacci.ts
  ts/Extensions/Annotations/Types/FibonacciTimeZones.ts
  ts/Extensions/Annotations/Types/InfinityLine.ts
  ts/Extensions/Annotations/Types/Measure.ts
  ts/Extensions/Annotations/Types/Pitchfork.ts
  ts/Extensions/Annotations/Types/TimeCycles.ts
  ts/Extensions/Annotations/Types/Tunnel.ts
  ts/Extensions/Annotations/Types/VerticalLine.ts
Labels: Product: Highcharts Stock, Changelog: Bugfix

#21052 bugfix/20146-draggable-errorbar
  ts/Extensions/DraggablePoints/DragDropProps.ts
  ts/Extensions/DraggablePoints/DraggablePoints.ts
Labels: Product: Highcharts, Changelog: Bugfix

#21083 dash/21079-input-false
  test/cypress/dashboards/integration/EditMode/dragdrop.cy.js
  test/cypress/dashboards/integration/EditMode/sidebar.cy.js
  ts/Dashboards/Components/Component.ts
Labels: Changelog: Bugfix, Product: Highcharts Dashboards

#21066 dash/dataCursor-navigator
  ts/Dashboards/Components/NavigatorComponent/NavigatorSyncs/NavigatorCrossfilterSync.ts
Labels: Product: Highcharts Dashboards

#21049 bugfix/17450-annotations-afterUpdate-click
  samples/unit-tests/annotations/annotations-events/demo.js
  ts/Extensions/Annotations/EventEmitter.ts
Labels: Product: Highcharts Stock

#20979 dash/datagrid-highlight-sync-scroll
  docs/dashboards/datagrid-component.md
  samples/dashboards/sync/datagrid-highlight-sync-autoscroll/demo.css
  samples/dashboards/sync/datagrid-highlight-sync-autoscroll/demo.details
  samples/dashboards/sync/datagrid-highlight-sync-autoscroll/demo.html
  samples/dashboards/sync/datagrid-highlight-sync-autoscroll/demo.js
  test/cypress/dashboards/integration/Components/DataGrid/DataGridHighlightSync.cy.js
  ts/Dashboards/Components/DataGridComponent/DataGridComponentOptions.ts
  ts/Dashboards/Components/DataGridComponent/DataGridSyncs/DataGridHighlightSync.ts
Labels: Changelog: Feature, Product: Highcharts Dashboards

#21076 dash/unify-datagrid-css
  samples/dashboards/components/crossfilter-affecting-navigators/demo.css
  samples/dashboards/cypress/add-layout/demo.css
  samples/dashboards/cypress/chart-interaction/demo.css
  samples/dashboards/cypress/component-datagrid-csv-url/demo.css
  samples/dashboards/cypress/component-datagrid/demo.css
  samples/dashboards/cypress/component-loading/demo.css
  samples/dashboards/cypress/component-with-no-connector/demo.css
  samples/dashboards/cypress/dashboard-layout/demo.css
  samples/dashboards/cypress/datagrid-cell-formatter/demo.css
  samples/dashboards/cypress/datagrid-hidden/demo.css
  samples/dashboards/cypress/datagrid-mathmodifier/demo.css
  samples/dashboards/cypress/edit-mode-disabled-markup/demo.css
  samples/dashboards/cypress/edit-mode-options/demo.css
  samples/dashboards/cypress/options-lang/demo.css
  samples/dashboards/cypress/sync-chart-extremes/demo.css
  samples/dashboards/demo/election/demo.css
  samples/dashboards/highcharts-components/multiple-connectors/demo.css
  samples/dashboards/sync/highcharts-highlight-affected-series/demo.css
  samples/dashboards/sync/sync-highlight-options/demo.css
  samples/data-grid/basic/cells-formatting/demo.css
  samples/data-grid/options/disable-column-headers/demo.css
Labels: Product: Highcharts Dashboards

#20601 bugfix/rangeselector-unnecessary-redraw
  samples/highcharts/blog/hollow-candlestick/demo.js
  samples/stock/members/axis-setcumulative/demo.js
  samples/stock/plotoptions/relativexvalue/demo.js
  samples/unit-tests/chart/stockchart-update/demo.js
  samples/unit-tests/rangeselector/buttons-range-state/demo.js
  samples/unit-tests/rangeselector/dropdown/demo.js
  samples/unit-tests/rangeselector/input-range/demo.js
  samples/unit-tests/rangeselector/members/demo.js
  samples/unit-tests/rangeselector/position-antycollision/demo.js
  samples/unit-tests/rangeselector/selected/demo.js
  samples/unit-tests/series/datagrouping/demo.js
  test/ts-node-unit-tests/benchmark-compare.ts
  ts/Stock/RangeSelector/RangeSelector.ts
  ts/Stock/RangeSelector/RangeSelectorComposition.ts
Labels: Product: Highcharts Stock, Changelog: Bugfix

#21123 docs/data-table-namespace
  docs/dashboards/data-table.md
Labels: Product: Highcharts Dashboards

#21134 bugfix/20940-gantt-rangeSelector-not-fixed
  samples/unit-tests/gantt/gantt/demo.js
  ts/Extensions/ScrollablePlotArea.ts
Labels: Product: Highcharts Gantt, Changelog: Bugfix

#20885 demo/stock-orderbook
  samples/stock/demo/orderbook-chart/demo.css
  samples/stock/demo/orderbook-chart/demo.details
  samples/stock/demo/orderbook-chart/demo.html
  samples/stock/demo/orderbook-chart/demo.js
Labels: Product: Highcharts Stock

#21057 bugfix/20549-empty-string-flag-title
  samples/unit-tests/series-flags/color/demo.html
  samples/unit-tests/series-flags/general/demo.html
  samples/unit-tests/series-flags/general/demo.js
  samples/unit-tests/series-flags/max-distance/demo.html
  samples/unit-tests/series-flags/onkey/demo.html
  samples/unit-tests/series-flags/position/demo.html
  samples/unit-tests/series-flags/tooltip/demo.html
  ts/Series/Flags/FlagsSeries.ts
Labels: Product: Highcharts Stock, Changelog: Bugfix

#21101 bugfix/20564-signed-zeros
  samples/unit-tests/utilities/format/demo.js
  ts/Core/Templating.ts
Labels: Product: Highcharts, Changelog: Bugfix

#21162 Fixed #21125, wrong position of inverted bubbles
  samples/highcharts/plotoptions/bubble-radialgradient/demo.js
  ts/Series/Bubble/BubbleSeries.ts
Labels: Changelog: Bugfix

#21156 bugfix/18776-boost-styled-mode
  samples/unit-tests/boost/heatmap-styled-mode/demo.js
  ts/Extensions/Boost/WGLRenderer.ts
Labels: Product: Highcharts, Changelog: Bugfix

#21053 bugfix/ 20729-a11y-mirror-mouseclick-for-keyboard
  samples/unit-tests/accessibility/accessibility-options/demo.js
  ts/Accessibility/Components/SeriesComponent/SeriesKeyboardNavigation.ts
  ts/Core/KeyboardEvent.d.ts
Labels: Product: Highcharts, Changelog: Bugfix, a11y

#21168 docs/20403-dumbbell-lowColor-missing-declarations
  docs/chart-and-series-types/dumbbell-series.md
  ts/Series/Dumbbell/DumbbellSeriesDefaults.ts
Labels: Product: Docs, Product: TypeScript

#21000 DO NOT MERGE YET: Fixed #13049, reordered DOM elements in maps
  samples/unit-tests/series-heatmap/members/demo.js
  samples/unit-tests/series-map/members/demo.js
  ts/Series/ColorMapComposition.ts
Labels: Product: Highcharts Maps, Changelog: Bugfix

#20972 DO NOT MERGE YET: Fixed #20585, gap in bubble border
  ts/Core/Renderer/SVG/Symbols.ts
Labels: Changelog: Bugfix

#21163 dash/fix-layout-module-d-ts
  tools/gulptasks/dashboards/scripts-dts/modules/layout.src.d.ts
Labels: Changelog: Bugfix, Product: Highcharts Dashboards

#21160 dash/error-msg
  samples/dashboards/components/component-error-handler/demo.js
  ts/Dashboards/Actions/Bindings.ts
  ts/Dashboards/Board.ts
  ts/Dashboards/Components/HTMLComponent/HTMLComponent.ts
  ts/Dashboards/Components/HighchartsComponent/HighchartsComponent.ts
  ts/Dashboards/EditMode/AccordionMenu.ts
  ts/Data/DataPool.ts
Labels: Changelog: Feature, Product: Highcharts Dashboards

#21150 dash/non-nested-element
  css/dashboards/dashboards.css
  docs/dashboards/edit-mode.md
  samples/dashboards/cypress/edit-mode-options/demo.mjs
  samples/dashboards/edit-mode/editableoptions/demo.css
  samples/dashboards/edit-mode/editableoptions/demo.details
  samples/dashboards/edit-mode/editableoptions/demo.html
  samples/dashboards/edit-mode/editableoptions/demo.js
  test/cypress/dashboards/integration/EditMode/sidebar.cy.js
  ts/Dashboards/Components/EditableOptions.ts
  ts/Dashboards/EditMode/AccordionMenu.ts
  ts/Dashboards/EditMode/EditGlobals.ts
  ts/Dashboards/EditMode/EditRenderer.ts
Labels: Changelog: Feature, Product: Highcharts Dashboards

#21216 api/typo-in-dumbbell-series-duplicate-declarations
  ts/Series/Dumbbell/DumbbellSeriesDefaults.ts
Labels: Product: Docs

#21222 bugfix/21213-axis-labels-padding-type
  ts/Core/Axis/AxisDefaults.ts
Labels: Changelog: Bugfix

#21180 dash/emcl-create-tools-init
  ts/Dashboards/Board.ts
  ts/Dashboards/EditMode/EditMode.ts
Labels: Product: Highcharts Dashboards

#21107 bugfix/superfluous-navigator-proxy-element
  ts/Accessibility/Components/NavigatorComponent.ts
Labels: Product: Highcharts Stock, Changelog: Bugfix, a11y

#21096 enh/3957-legend-item-click-event
  samples/highcharts/legend/pie-legend-itemclick/demo.css
  samples/highcharts/legend/pie-legend-itemclick/demo.details
  samples/highcharts/legend/pie-legend-itemclick/demo.html
  samples/highcharts/legend/pie-legend-itemclick/demo.js
  samples/highcharts/legend/series-legend-itemclick/demo.css
  samples/highcharts/legend/series-legend-itemclick/demo.details
  samples/highcharts/legend/series-legend-itemclick/demo.html
  samples/highcharts/legend/series-legend-itemclick/demo.js
  samples/highcharts/legend/series-legend-itemclick/test-notes.html
  samples/highcharts/plotoptions/pie-point-events-legenditemclick/demo.html
  samples/highcharts/plotoptions/pie-point-events-legenditemclick/demo.js
  samples/highcharts/plotoptions/series-events-legenditemclick/demo.html
  samples/highcharts/plotoptions/series-events-legenditemclick/demo.js
  samples/unit-tests/bubble-legend/layout/demo.js
  samples/unit-tests/legend/events/demo.js
  ts/Core/Axis/Color/ColorAxisDefaults.ts
  ts/Core/Defaults.ts
  ts/Core/Foundation.ts
  ts/Core/Legend/Legend.ts
  ts/Core/Legend/LegendOptions.d.ts
  ts/Core/Series/Series.ts
  ts/Core/Series/SeriesDefaults.ts
  ts/Series/Bubble/BubbleLegendComposition.ts
  ts/Series/Bubble/BubbleSeries.ts
  ts/Series/PackedBubble/PackedBubbleSeries.ts
  ts/Series/Pie/PiePointOptions.d.ts
  ts/Series/Pie/PieSeriesDefaults.ts
  ts/masters/highcharts-more.src.ts
  ts/masters/modules/map.src.ts
Labels: Product: Highcharts, Changelog: Feature

#21102 feature/20624-treemap-drill-to-last-leaf
  samples/highcharts/plotoptions/treemap-traverse-to-leaf/demo.css
  samples/highcharts/plotoptions/treemap-traverse-to-leaf/demo.details
  samples/highcharts/plotoptions/treemap-traverse-to-leaf/demo.html
  samples/highcharts/plotoptions/treemap-traverse-to-leaf/demo.js
  samples/unit-tests/series-treemap/zooming/demo.js
  ts/Series/Treemap/TreemapPoint.ts
  ts/Series/Treemap/TreemapSeries.ts
  ts/Series/Treemap/TreemapSeriesDefaults.ts
  ts/Series/Treemap/TreemapSeriesOptions.d.ts
Labels: Product: Highcharts, Changelog: Feature

#21183 demo/area-chart-seo
  docs/chart-and-series-types/area-chart.md
  samples/highcharts/demo/area-chart/demo.css
  samples/highcharts/demo/area-chart/demo.details
  samples/highcharts/demo/area-chart/demo.html
  samples/highcharts/demo/area-chart/demo.js
  samples/highcharts/demo/area-chart/readme.md
  ts/Series/Area/AreaSeriesDefaults.ts
  ts/Series/Area/AreaSeriesOptions.d.ts
Labels: Product: Highcharts

#21170 bugfix/21144-chromium-bug
  ts/Core/Chart/Chart.ts
  ts/Core/Globals.ts
  ts/DataGrid/Globals.ts
Labels: Product: Highcharts, Changelog: Bugfix

#21237 dash/datagrid2-different-row-heights
  css/datagrid/datagrid2.css
  samples/data-grid/basic/data-grid-2-benchmark/demo.css
  samples/data-grid/basic/data-grid-2-benchmark/demo.js
  samples/data-grid/basic/data-grid-2/demo.css
  samples/data-grid/basic/data-grid-2/demo.js
  ts/DataGrid/DataGrid2/DataGridCell.ts
  ts/DataGrid/DataGrid2/DataGridDefaultOptions.ts
  ts/DataGrid/DataGrid2/DataGridOptions.d.ts
  ts/DataGrid/DataGrid2/DataGridRow.ts
  ts/DataGrid/DataGrid2/DataGridTable.ts
  ts/DataGrid/DataGrid2/Globals.ts
  ts/DataGrid/DataGrid2/Virtualization/RowsVirtualizer.ts
Labels: Type: Enhancement, Product: Highcharts Dashboards
