Repository highcharts/highcharts, pull requests merged in 2024-09, with the labels that each got.

#21761 dash/dg2-sanitize-util-function
  ts/DataGrid/Header/HeaderRow.ts
  ts/DataGrid/Utils.ts
Labels: Product: Highcharts Dashboards, datagrid

#21766 dash/datagrids-array
  ts/DataGrid/DataGrid.ts
  ts/masters-datagrid/datagrid.src.ts
Labels: Product: Highcharts Dashboards, datagrid

#21769 bugfix/20470-nested-props-exporting-data
  samples/unit-tests/export-data/basics/demo.js
  ts/Extensions/ExportData/ExportData.ts
Labels: Product: Highcharts, Changelog: Bugfix

#21292 enhancement/rangeselector-update-redraw
  samples/unit-tests/rangeselector/members/demo.js
  samples/unit-tests/rangeselector/position-antycollision/demo.js
  samples/unit-tests/rangeselector/update/demo.js
  tools/gulptasks/lib/uploadS3.js
  ts/Stock/RangeSelector/RangeSelector.ts
  ts/Stock/RangeSelector/RangeSelectorComposition.ts
  ts/Stock/RangeSelector/RangeSelectorDefaults.ts
  ts/Stock/RangeSelector/RangeSelectorOptions.d.ts
Labels: Product: Highcharts Stock, Changelog: Feature

#21591 bugfix/21534-mouseeover-event-breaks-drilldown
  samples/highcharts/cypress/drilldown/demo.details
  samples/highcharts/cypress/drilldown/demo.html
  samples/highcharts/cypress/drilldown/demo.js
  test/cypress/highcharts/integration/drilldown/drilldown.cy.js
  ts/Core/Series/Point.ts
Labels: Product: Highcharts, Changelog: Bugfix

#21778 dash/dg2-padding-on-td
  docs/datagrid/style-by-css.md
Labels: Product: Highcharts Dashboards, datagrid

#21784 dash/dg2-further-api-refactoring
  docs/datagrid/columns.md
  docs/datagrid/datagrid-v2-migration.md
  docs/datagrid/style-by-css.md
  docs/datagrid/understanding-datagrid.md
  samples/dashboards/cypress/component-datagrid-custom-html/demo.mjs
  samples/dashboards/cypress/component-datagrid/demo.mjs
  samples/dashboards/demo/cloud-monitoring/demo.js
  samples/dashboards/demo/election/demo.js
  samples/data-grid/basic/column-resizing-disabled/demo.js
  samples/data-grid/basic/custom-html/demo.css
  samples/data-grid/basic/custom-html/demo.js
  samples/data-grid/basic/fixed-distribution/demo.js
  samples/data-grid/basic/grouped-headers/demo.js
  samples/data-grid/basic/scroll-to-row/demo.js
  samples/data-grid/cypress/grouped-headers/demo.js
  ts/DataGrid/DataGrid.ts
  ts/DataGrid/DefaultOptions.ts
  ts/DataGrid/Options.ts
  ts/DataGrid/Table/Actions/RowsVirtualizer.ts
  ts/DataGrid/Table/Header/HeaderRow.ts
  ts/DataGrid/Table/Header/TableHeader.ts
  ts/DataGrid/Table/Table.ts
Labels: Product: Highcharts Dashboards, datagrid

#21760 dash/dg2-update-copy-argument
  test/typescript-karma/Dashboards/DataGrid/datagrid.test.js
  ts/DataGrid/DataGrid.ts
Labels: Product: Highcharts Dashboards, datagrid

#21794 Fixed #21793, templating with sub expressions inside nested if
  samples/unit-tests/utilities/format/demo.js
  ts/Core/Templating.ts
Labels: Changelog: Bugfix

#21747 bugfix/18461-pie3d-update-options3d
  samples/unit-tests/chart/options3d/demo.js
  ts/Core/Renderer/SVG/SVGRenderer3D.ts
Labels: Product: Highcharts, Changelog: Bugfix

#21712 bugfix/21611-downloadSVGLocal-not-applying-classes
  samples/highcharts/exporting/apply-stylesheets/demo.css
  samples/highcharts/exporting/apply-stylesheets/demo.details
  samples/highcharts/exporting/apply-stylesheets/demo.html
  samples/highcharts/exporting/apply-stylesheets/demo.js
  samples/highcharts/exporting/apply-stylesheets/test-notes.md
  samples/highcharts/exporting/offline-download-usehtml/demo.details
  samples/highcharts/exporting/offline-download-usehtml/test-notes.md
  ts/Extensions/Exporting/Exporting.ts
  ts/Extensions/Exporting/ExportingDefaults.ts
  ts/Extensions/Exporting/ExportingOptions.d.ts
  ts/Extensions/OfflineExporting/OfflineExporting.ts
Labels: Product: Highcharts, Changelog: Bugfix

#21755 bugfix/21745-click-on-drag-multiple-charts
  samples/unit-tests/dragdrop/dynamic/demo.js
  ts/Core/Pointer.ts
Labels: Product: Highcharts, Changelog: Bugfix

#21672 bugfix/21530-numbers-padding-categories
  samples/unit-tests/series-bubble/minmaxsize/demo.js
  ts/Series/Bubble/BubbleSeries.ts
Labels: Product: Highcharts, Changelog: Bugfix

#21772 dash/datagrid2-edit-styles
  css/datagrid/datagrid.css
Labels: Product: Highcharts Dashboards, datagrid

#21806 dash/dg2-header-auto-height
  css/datagrid/datagrid.css
  ts/DataGrid/Table/Actions/ColumnSorting.ts
  ts/DataGrid/Table/Header/HeaderCell.ts
  ts/DataGrid/Table/Header/HeaderRow.ts
  ts/DataGrid/Table/Header/TableHeader.ts
  ts/DataGrid/Table/Table.ts
Labels: Product: Highcharts Dashboards, datagrid

#21758 docs/improve-datagrouping-docs
  samples/highcharts/blog/dg-performance-comparison/demo.css
  samples/highcharts/blog/dg-performance-comparison/demo.details
  samples/highcharts/blog/dg-performance-comparison/demo.html
  samples/highcharts/blog/dg-performance-comparison/demo.js
Labels: Product: Highcharts Stock

#21799 Fixed #16931, errors in Chrome when modifying chart before print
  ts/Core/Renderer/HTML/AST.ts
Labels: Changelog: Bugfix

#21816 dash/dg2-cells-editable-option-move
  docs/datagrid/columns.md
  docs/datagrid/datagrid-v2-migration.md
  docs/datagrid/understanding-datagrid.md
  samples/dashboards/components/highcharts-column-assignment-1d-data/demo.js
  samples/dashboards/components/highcharts-column-assignment-2d-data/demo.js
  samples/dashboards/components/highcharts-column-assignment-keys-data/demo.js
  samples/dashboards/cypress/component-datagrid-custom-html/demo.mjs
  samples/dashboards/cypress/component-datagrid/demo.mjs
  samples/dashboards/cypress/datagrid-mathmodifier/demo.js
  samples/dashboards/demo/datagrid-sync/demo.js
  samples/dashboards/highcharts-components/multiple-connectors/demo.js
  samples/data-grid/basic/cell-formatting/demo.js
  samples/data-grid/basic/column-options/demo.js
  samples/data-grid/basic/exporting-json/demo.js
  samples/data-grid/basic/options-update/demo.js
  samples/data-grid/basic/overview/demo.js
  samples/data-grid/cypress/column-cell-events/demo.js
  samples/data-grid/cypress/datagrid-custom-class/demo.js
  samples/data-grid/cypress/exporting-json/demo.js
  samples/data-grid/cypress/sorting-options/demo.js
  samples/data-grid/demo/datagrid-custom-class/demo.js
  test/cypress/dashboards/integration/mathmodifier-disable-edit.cy.js
  ts/DataGrid/Options.ts
  ts/DataGrid/Table/Content/TableCell.ts
Labels: Product: Highcharts Dashboards, datagrid

#21819 bugfix/21804 respecting crisp false to allow decimal values
  ts/Series/Column/ColumnSeries.ts
Labels: Changelog: Bugfix

#21820 dash/dg2-cell-data-value-attr
  samples/data-grid/cypress/datagrid-custom-class/demo.css
  samples/data-grid/cypress/datagrid-custom-class/demo.js
  test/cypress/dashboards/integration/Components/DataGrid/DataGridComponent.cy.js
  test/cypress/data-grid/integration/formatting.cy.js
  test/cypress/data-grid/integration/options/cell-class-name-format.cy.js
  ts/Dashboards/Components/DataGridComponent/DataGridComponentDefaults.ts
  ts/DataGrid/Options.ts
  ts/DataGrid/Table/Content/TableCell.ts
  ts/DataGrid/Table/Table.ts
Labels: Product: Highcharts Dashboards, datagrid

#21850 dash/dg2-formatter-wrong-return-type
  test/typescript-karma/Dashboards/DataGrid/columnOptions.test.js
  test/typescript-karma/Dashboards/DataGrid/datagrid.test.js
  ts/DataGrid/Table/Content/TableCell.ts
  ts/DataGrid/Table/Header/HeaderCell.ts
Labels: Product: Highcharts Dashboards, datagrid

#21152 Intl.DateTimeFormat
  docs/chart-concepts/templating.md
  samples/gantt/current-date-indicator/demo/demo.js
  samples/highcharts/global/dateformats-object/demo.css
  samples/highcharts/global/dateformats-object/demo.details
  samples/highcharts/global/dateformats-object/demo.html
  samples/highcharts/global/dateformats-object/demo.js
  samples/highcharts/labels/full-date/demo.js
  samples/highcharts/lang/locale/demo.css
  samples/highcharts/lang/locale/demo.details
  samples/highcharts/lang/locale/demo.html
  samples/highcharts/lang/locale/demo.js
  samples/highcharts/studies/intl-datetimeformat/demo.css
  samples/highcharts/studies/intl-datetimeformat/demo.html
  samples/highcharts/studies/intl-datetimeformat/demo.js
  samples/highcharts/xaxis/datetimelabelformats-object/demo.css
  samples/highcharts/xaxis/datetimelabelformats-object/demo.details
  samples/highcharts/xaxis/datetimelabelformats-object/demo.html
  samples/highcharts/xaxis/datetimelabelformats-object/demo.js
  samples/unit-tests/boost/tooltip/demo.js
  samples/unit-tests/gantt/current-date-indicator/demo.js
  samples/unit-tests/gantt/grid-axis/demo.js
  samples/unit-tests/gantt/tooltip/demo.js
  samples/unit-tests/gantt/xrange-series/demo.js
  samples/unit-tests/global/timezone/demo.js
  samples/unit-tests/series-xrange/xrange/demo.js
  samples/unit-tests/series/datagrouping-anchor/demo.js
  samples/unit-tests/series/datagrouping/demo.js
  samples/unit-tests/series/pointstart/demo.js
  samples/unit-tests/time/dateformat/demo.js
  samples/unit-tests/time/timezone/demo.html
  samples/unit-tests/time/timezone/demo.js
  samples/unit-tests/tooltip/pointformat/demo.js
  samples/unit-tests/tooltip/sub-millisec-tooltip/demo.js
  samples/unit-tests/utilities/format/demo.js
  test/karma-conf.js
  test/karma-setup.js
  ts/.eslintrc
  ts/Core/Axis/Axis.ts
  ts/Core/Axis/AxisDefaults.ts
  ts/Core/Axis/AxisOptions.d.ts
  ts/Core/Axis/DateTimeAxis.ts
  ts/Core/Axis/GridAxis.ts
  ts/Core/Defaults.ts
  ts/Core/Globals.ts
  ts/Core/Options.d.ts
  ts/Core/Templating.ts
  ts/Core/Time.ts
  ts/Core/Tooltip.ts
  ts/Core/TooltipOptions.d.ts
  ts/Core/Utilities.ts
  ts/Extensions/CurrentDateIndication.ts
  ts/Extensions/DataGrouping/DataGroupingDefaults.ts
  ts/Extensions/DataGrouping/DataGroupingOptions.d.ts
  ts/Series/XRange/XRangeSeriesDefaults.ts
  ts/Stock/RangeSelector/RangeSelector.ts
  ts/Stock/RangeSelector/RangeSelectorDefaults.ts
  ts/Stock/RangeSelector/RangeSelectorOptions.d.ts
Labels: Changelog: Feature

#21835 dash/dg2-docs
  docs/datagrid/columns.md
  docs/datagrid/datagrid-v2-migration.md
  docs/datagrid/general.md
  docs/datagrid/style-by-css.md
  docs/datagrid/understanding-datagrid.md
  docs/datagrid/your-first-datagrid.md
  samples/data-grid/basic/grouped-headers/demo.js
  samples/data-grid/cypress/grouped-headers/demo.js
  ts/DataGrid/Options.ts
  ts/DataGrid/Table/Header/HeaderRow.ts
Labels: datagrid

#21842 dash/dg2-cell-editing-dbl-click
  css/datagrid/datagrid.css
  docs/datagrid/columns.md
  docs/datagrid/datagrid-v2-migration.md
  docs/datagrid/style-by-css.md
  samples/data-grid/cypress/column-cell-events/demo.html
  samples/data-grid/cypress/column-cell-events/demo.js
  test/cypress/dashboards/integration/Components/DataGrid/DataGridComponent.cy.js
  test/cypress/dashboards/integration/Components/DataGrid/DataGridComponentCustomHTML.cy.js
  test/cypress/data-grid/integration/formatting.cy.js
  test/cypress/data-grid/integration/options/cell-class-name-format.cy.js
  test/cypress/data-grid/integration/options/events.cy.js
  test/cypress/data-grid/integration/options/sorting.cy.js
  test/typescript-karma/Dashboards/DataGrid/columnOptions.test.js
  test/typescript-karma/Dashboards/DataGrid/datagrid.test.js
  ts/DataGrid/Globals.ts
  ts/DataGrid/Options.ts
  ts/DataGrid/Table/Actions/CellEditing.ts
  ts/DataGrid/Table/Actions/ColumnSorting.ts
  ts/DataGrid/Table/Cell.ts
  ts/DataGrid/Table/Content/TableCell.ts
  ts/DataGrid/Table/Content/TableRow.ts
  ts/DataGrid/Table/Header/HeaderCell.ts
  ts/DataGrid/Table/Header/HeaderRow.ts
  ts/DataGrid/Table/Header/TableHeader.ts
  ts/DataGrid/Table/Row.ts
  ts/DataGrid/Table/Table.ts
Labels: Product: Highcharts Dashboards, datagrid

#21845 docs/fix-standalone-navigator-links
  docs/stock/standalone-navigator.md
Labels: Product: Docs

#21796 Docs/revamp datagrouping page
  docs/stock/data-grouping.md
  samples/stock/plotoptions/series-datagrouping-enabled/demo.css
  samples/stock/plotoptions/series-datagrouping-enabled/demo.details
  samples/stock/plotoptions/series-datagrouping-enabled/demo.html
  samples/stock/plotoptions/series-datagrouping-enabled/demo.js
Labels: Product: Highcharts Stock

#21610 bugfix/17738-array-based-gantt-points
  samples/unit-tests/gantt/gantt/demo.js
  ts/Core/Axis/TreeGrid/TreeGridAxis.ts
Labels: Product: Highcharts Gantt, Changelog: Bugfix

#21875 dash/fixed-demo-with-maps
  samples/dashboards/highcharts-components/chart-constructor-maps/demo.html
  samples/dashboards/highcharts-components/chart-constructor-maps/demo.js
Labels: Product: Highcharts Dashboards

#21873 dash/api-wrong-doclet-fix
  ts/Data/Connectors/JSONConnectorOptions.d.ts
Labels: Product: Highcharts Dashboards

#21872 enhancement/disable-animation-in-benchmarks
  test/ts-node-unit-tests/benchmarks/Stock/Stock-Annotations-update.bench.ts
  test/ts-node-unit-tests/benchmarks/Stock/Stock-Base.bench.ts
  test/ts-node-unit-tests/benchmarks/Stock/Stock-DataGrouping-Ordinal.bench.ts
  test/ts-node-unit-tests/benchmarks/Stock/Stock-DataGrouping.bench.ts
  test/ts-node-unit-tests/benchmarks/Stock/Stock-Navigator-update.bench.ts
  test/ts-node-unit-tests/benchmarks/Stock/Stock-Ordinal.bench.ts
  test/ts-node-unit-tests/benchmarks/Stock/Stock-Range-Selector-update.bench.ts
  test/ts-node-unit-tests/benchmarks/Stock/Stock-Tools-update.bench.ts
  test/ts-node-unit-tests/benchmarks/Stock/Stock-update.bench.ts
  test/ts-node-unit-tests/test-utils.ts
Labels: Type: Enhancement, Product: Highcharts Stock

#21881 bugfix/21268-standalone-navigator-height
  samples/unit-tests/standalone-navigator/height/demo.details
  samples/unit-tests/standalone-navigator/height/demo.html
  samples/unit-tests/standalone-navigator/height/demo.js
  ts/Stock/Navigator/StandaloneNavigator.ts
Labels: Product: Highcharts Stock, Changelog: Bugfix

#21762 Docs/improve dg docs 3
  docs/getting-started/frequently-asked-questions.md
Labels: Product: Highcharts Stock, Product: Docs

#21853 bugfix/20482-crosshair-cut-off
  samples/unit-tests/axis/crosshairs/demo.js
  ts/Core/Chart/StockChart.ts
Labels: Product: Highcharts Stock, Changelog: Bugfix

#21887 Multiline text with ellipsis
  .github/ISSUE_TEMPLATE/bug_report.md
  docs/maps/getting-started.md
  docs/maps/latlon.md
  docs/maps/map-drill-down.md
  docs/maps/mapview-and-projection.md
  docs/maps/marker-clusters.md
  docs/maps/tilemap-series.md
  docs/sidebars.js
  samples/dashboards/highcharts-components/chart-constructor-maps/demo.html
  samples/dashboards/highcharts-components/chart-constructor-maps/demo.js
  samples/data-grid/basic/options-update/demo.js
  samples/highcharts/accessibility/dynamic-form/demo.css
  samples/highcharts/accessibility/dynamic-form/demo.details
  samples/highcharts/accessibility/dynamic-form/demo.html
  samples/highcharts/accessibility/dynamic-form/demo.js
  samples/highcharts/boost/heatmap/demo.js
  samples/maps/demo/map-drilldown/readme.md
  samples/unit-tests/axis/label-ellipsis/demo.js
  samples/unit-tests/axis/labels/demo.css
  samples/unit-tests/axis/labels/demo.js
  samples/unit-tests/axis/title/demo.js
  samples/unit-tests/chart/label-ellipsis/demo.js
  samples/unit-tests/gantt/gantt/demo.js
  samples/unit-tests/svgrenderer/text/demo.js
  test/karma-conf.js
  test/karma-setup.js
  test/typescript-karma/karma-conf.js
  test/typescript-karma/karma-fetch.js
  ts/Core/Axis/Axis.ts
  ts/Core/Axis/AxisDefaults.ts
  ts/Core/Axis/RadialAxisDefaults.ts
  ts/Core/Axis/Tick.ts
  ts/Core/Axis/TreeGrid/TreeGridAxis.ts
  ts/Core/Renderer/CSSObject.d.ts
  ts/Core/Renderer/HTML/HTMLElement.ts
  ts/Core/Renderer/SVG/SVGElement.ts
  ts/Core/Renderer/SVG/SVGLabel.ts
  ts/Core/Renderer/SVG/TextBuilder.ts
  ts/Core/Series/DataLabel.ts
  ts/Core/Utilities.ts
  ts/Data/Connectors/JSONConnectorOptions.d.ts
  ts/Extensions/Breadcrumbs/BreadcrumbsDefaults.ts
  ts/Extensions/Drilldown/DrilldownDefaults.ts
  ts/Series/Sunburst/SunburstSeries.ts
  ts/Series/Treegraph/TreegraphSeries.ts
  ts/Series/Treemap/TreemapSeries.ts
Labels: Changelog: Feature

#21848 bugfix/21584-navigator-series-remove
  samples/unit-tests/navigator/navigator/demo.js
  ts/Stock/Navigator/Navigator.ts
Labels: Product: Highcharts Stock, Changelog: Bugfix

#21812 bugfix/21139 popup works in full screen mode
  samples/maps/demo/data-class-two-ranges/demo.css
  samples/maps/demo/data-class-two-ranges/demo.html
  samples/maps/demo/data-class-two-ranges/demo.js
Labels: Product: Website, Type: Good for beginners

#21923 Added `borderRadius` option to dependencywheel api docs
  package-lock.json
  ts/Series/DependencyWheel/DependencyWheelSeriesDefaults.ts
  ts/Series/DependencyWheel/DependencyWheelSeriesOptions.d.ts
Labels: Product: Highcharts, Product: Docs
