Repository highcharts/highcharts, pull requests merged in 2024-12, with the labels that each got.

#22175 Giving numbers/strings of numbers as font-size did not work
  ts/Core/Renderer/SVG/SVGElement.ts
Labels: Product: Highcharts, Changelog: Bugfix

#22000 Fixed missing points in scatter series with boost
  samples/unit-tests/boost/series-with-one-point/demo.details
  samples/unit-tests/boost/series-with-one-point/demo.html
  samples/unit-tests/boost/series-with-one-point/demo.js
  ts/Extensions/Boost/WGLRenderer.ts
Labels: Product: Highcharts, Changelog: Bugfix

#22172 22088 tooltip outside spilling over
  ts/Core/Tooltip.ts
Labels: Product: Highcharts, Changelog: Bugfix

#22114 bugfix/22052-drilldown-breadcrumb-label
  samples/unit-tests/drilldown/highstock/demo.js
  ts/Extensions/Drilldown/Drilldown.ts
Labels: Product: Highcharts, Changelog: Bugfix

#22265 regression/rangeselector-collapse
  ts/Stock/RangeSelector/RangeSelector.ts
Labels: Product: Highcharts Stock, Changelog: Bugfix

#22273 v12/fix-extension-umd
  samples/highcharts/amd/version-mix/demo.details
  samples/highcharts/amd/version-mix/demo.html
  samples/highcharts/amd/version-mix/demo.js
  samples/highcharts/amd/version-mix/test-notes.md
  tools/webpacks/highcharts-es5.webpack.mjs
  tools/webpacks/highcharts.webpack.mjs
  tools/webpacks/plugins/Error16Plugin.mjs
  tools/webpacks/plugins/ProductMetaPlugin.mjs
  tools/webpacks/plugins/UMDExtensionPlugin.mjs
Labels: Changelog: Bugfix

#22154 Changed connectors namespace.
  samples/stock/demo/stock-tools-gui/demo.js
Labels: Product: Highcharts Stock

#22174 docs/morningstar-docs-structure
  docs/morningstar/goal-analysis.md
  docs/morningstar/morningstar.md
  docs/morningstar/morningstar/time-series/cumulative-return.md
  docs/morningstar/morningstar/time-series/dividend.md
  docs/morningstar/morningstar/time-series/growth.md
  docs/morningstar/morningstar/time-series/ohlcv.md
  docs/morningstar/morningstar/time-series/price.md
  docs/morningstar/morningstar/time-series/time-series.md
  docs/morningstar/regulatory-news-announcements.md
  docs/morningstar/risk-score.md
  docs/morningstar/screeners/investment-screener.md
  docs/morningstar/security-details.md
  docs/morningstar/time-series/cumulative-return.md
  docs/morningstar/time-series/dividend.md
  docs/morningstar/time-series/growth.md
  docs/morningstar/time-series/ohlcv.md
  docs/morningstar/time-series/price.md
  docs/morningstar/time-series/time-series.md
  docs/morningstar/x-ray.md
  docs/sidebars.js
Labels: Product: Highcharts Stock

#22102 Fixed ScatterSeries with Boost shows incorrect values in tooltip
  samples/unit-tests/boost/tooltip/demo.js
  ts/Extensions/Boost/BoostSeries.ts
Labels: Product: Highcharts, Changelog: Bugfix

#22282 bugfix/visual-test-for-stock
  ts/masters/indicators/indicators-all.src.ts
Labels: Product: Highcharts Stock, Changelog: Bugfix

#22077 bugfix/21405-stickytracking-not-working-for-bubbleseries
  ts/Core/Series/Series.ts
  ts/Series/Bubble/BubbleSeries.ts
Labels: Product: Highcharts, Changelog: Bugfix

#22297 dash/dg-last-row-glitch
  ts/DataGrid/Table/Actions/RowsVirtualizer.ts
  ts/DataGrid/Table/Content/TableRow.ts
  ts/DataGrid/Utils.ts
Labels: Changelog: Bugfix, Product: Highcharts Dashboards, datagrid

#22299 Fixed #22277, timezone option didn't work when undefined
  samples/unit-tests/axis/datetime-ticks/demo.js
  samples/unit-tests/global/timezone/demo.js
  samples/unit-tests/series/pointintervalunit/demo.js
  samples/unit-tests/time/timezone/demo.js
  ts/Core/Time.ts
Labels: Changelog: Bugfix

#22307 Added minVisibleRows option.
  css/datagrid/datagrid.css
  samples/data-grid/basic/overview/demo.js
  ts/DataGrid/Defaults.ts
  ts/DataGrid/Options.ts
  ts/DataGrid/Table/Table.ts
Labels: Changelog: Feature, Product: Highcharts Dashboards, datagrid

#22304 dash/header-buttons
  css/datagrid/datagrid.css
Labels: datagrid

#22286 Fixed dropdown state on changing the range.
  samples/unit-tests/rangeselector/dropdown/demo.js
  ts/Stock/RangeSelector/RangeSelector.ts
Labels: Product: Highcharts Stock, Changelog: Bugfix

#22310 dash/dg-component-nv-height
  ts/Dashboards/Components/DataGridComponent/DataGridComponent.ts
Labels: datagrid

#21989 bugfix/range-selector-dropdown-alignment
  samples/stock/rangeselector/input-button-opposite-alignment/demo.css
  samples/stock/rangeselector/input-button-opposite-alignment/demo.details
  samples/stock/rangeselector/input-button-opposite-alignment/demo.html
  samples/stock/rangeselector/input-button-opposite-alignment/demo.js
  samples/stock/rangeselector/input-button-same-alignment/demo.css
  samples/stock/rangeselector/input-button-same-alignment/demo.details
  samples/stock/rangeselector/input-button-same-alignment/demo.html
  samples/stock/rangeselector/input-button-same-alignment/demo.js
  ts/Stock/RangeSelector/RangeSelector.ts
  ts/Stock/RangeSelector/RangeSelectorDefaults.ts
Labels: Product: Highcharts Stock, Changelog: Bugfix

#21857 bugfix/21220-multiple-axis-resize
  ts/Extensions/DragPanes/AxisResizer.ts
Labels: Product: Highcharts Stock, Changelog: Bugfix

#22305 dash/dg-width-last-col-scrollbar
  ts/DataGrid/Table/Header/TableHeader.ts
Labels: datagrid

#22306 dash/remove-static-tr-height
  css/datagrid/datagrid.css
  samples/data-grid/basic/custom-html/demo.css
  samples/data-grid/demo/sparkline/demo.css
  ts/DataGrid/Table/Actions/RowsVirtualizer.ts
Labels: Product: Highcharts Dashboards, datagrid

#22314 dash/dg-rows-per-page-fix
  ts/DataGrid/Table/Actions/RowsVirtualizer.ts
Labels: Product: Highcharts Dashboards, datagrid

#22321 dash/gh-resize-min-column-size
  ts/DataGrid/Table/Actions/ColumnsResizer.ts
Labels: datagrid

#22322 dash/dg-caption-outside-table
  css/datagrid/datagrid.css
  samples/data-grid/basic/overview/demo.js
  ts/DataGrid/Accessibility/Accessibility.ts
  ts/DataGrid/DataGrid.ts
  ts/DataGrid/Globals.ts
  ts/DataGrid/Options.ts
  ts/DataGrid/Table/Table.ts
Labels: Product: Highcharts Dashboards, datagrid

#22339 dash/dg-invisible-first-row
  ts/DataGrid/Table/Actions/RowsVirtualizer.ts
Labels: Product: Highcharts Dashboards, datagrid

#22354 dash/divided-sync-hover-states
  ts/Dashboards/Components/DataGridComponent/DataGridSyncs/DataGridHighlightSync.ts
  ts/DataGrid/DataGrid.ts
  ts/DataGrid/Globals.ts
  ts/DataGrid/Table/Column.ts
  ts/DataGrid/Table/Content/TableRow.ts
Labels: Product: Highcharts Dashboards, datagrid

#21499 feature/20692-treemap-small-nodes-grouping
  docs/chart-and-series-types/treemap.md
  samples/data/africa-export-2021.json
  samples/highcharts/plotoptions/treemap-grouping-advanced/demo.css
  samples/highcharts/plotoptions/treemap-grouping-advanced/demo.details
  samples/highcharts/plotoptions/treemap-grouping-advanced/demo.html
  samples/highcharts/plotoptions/treemap-grouping-advanced/demo.js
  samples/highcharts/plotoptions/treemap-grouping-multiple-parents/demo.css
  samples/highcharts/plotoptions/treemap-grouping-multiple-parents/demo.details
  samples/highcharts/plotoptions/treemap-grouping-multiple-parents/demo.html
  samples/highcharts/plotoptions/treemap-grouping-multiple-parents/demo.js
  samples/highcharts/plotoptions/treemap-grouping-simple/demo.css
  samples/highcharts/plotoptions/treemap-grouping-simple/demo.details
  samples/highcharts/plotoptions/treemap-grouping-simple/demo.html
  samples/highcharts/plotoptions/treemap-grouping-simple/demo.js
  samples/highcharts/plotoptions/treemap-grouping-traversing/demo.css
  samples/highcharts/plotoptions/treemap-grouping-traversing/demo.details
  samples/highcharts/plotoptions/treemap-grouping-traversing/demo.html
  samples/highcharts/plotoptions/treemap-grouping-traversing/demo.js
  samples/unit-tests/series-treemap/datalabels/demo.js
  samples/unit-tests/series-treemap/grouping/demo.css
  samples/unit-tests/series-treemap/grouping/demo.details
  samples/unit-tests/series-treemap/grouping/demo.html
  samples/unit-tests/series-treemap/grouping/demo.js
  ts/Series/Treegraph/TreegraphSeriesDefaults.ts
  ts/Series/Treemap/TreemapNode.ts
  ts/Series/Treemap/TreemapPoint.ts
  ts/Series/Treemap/TreemapSeries.ts
  ts/Series/Treemap/TreemapSeriesDefaults.ts
  ts/Series/Treemap/TreemapSeriesOptions.d.ts
Labels: Product: Highcharts, Changelog: Feature

#22355 dash/dg-row-height-border-bug
  css/datagrid/datagrid.css
Labels: Product: Highcharts Dashboards, datagrid

#22359 dash/dg-no-data-table-reflow
  ts/DataGrid/DataGrid.ts
Labels: Product: Highcharts Dashboards, datagrid

#22357 Ensure centering of multiline text in data labels
  samples/highcharts/demo/vertical-sankey/demo.js
  ts/Core/Renderer/HTML/HTMLElement.ts
  ts/Core/Renderer/SVG/SVGAttributes.d.ts
  ts/Core/Renderer/SVG/SVGElement.ts
  ts/Core/Renderer/SVG/SVGLabel.ts
  ts/Core/Series/DataLabel.ts
Labels: Product: Highcharts, Changelog: Bugfix

#22335 Treemap data label padding
  ts/Series/Treegraph/TreegraphSeriesDefaults.ts
  ts/Series/Treemap/TreemapSeries.ts
  ts/Series/Treemap/TreemapSeriesDefaults.ts
Labels: Changelog: Bugfix

#22366 dash/datagrid-missing-dts
  tools/gulptasks/dashboards/scripts-dts.js
Labels: Product: Highcharts Dashboards

#22365 Fixed text-align for timeline series
  ts/Core/Renderer/SVG/SVGLabel.ts
  ts/Series/Timeline/TimelineSeriesDefaults.ts
Labels: Type: Pre-release

#22361 Removed references to _modules
  docs/dashboards/custom-component.md
  samples/dashboards/data/mqtt-connector/demo.js
  samples/dashboards/demo/mqtt/demo.html
  samples/dashboards/demo/mqtt/demo.js
  ts/Data/Converters/CSVConverter.ts
  ts/Data/Converters/DataConverter.ts
  ts/Data/Converters/DataConverterType.d.ts
  ts/Data/Converters/GoogleSheetsConverter.ts
  ts/Data/Converters/HTMLTableConverter.ts
  ts/Data/Converters/JSONConverter.ts
Labels: Product: Highcharts Dashboards

#22378 Fixed #22329, a regression causing wrong tooltip with date formats
  samples/unit-tests/utilities/format/demo.js
  ts/Core/Templating.ts
Labels: Changelog: Bugfix

#22324 bugfix/17192-coords-finite-runtime-exception
  samples/highcharts/cypress/multiple-charts/demo.details
  samples/highcharts/cypress/multiple-charts/demo.html
  samples/highcharts/cypress/multiple-charts/demo.js
  test/cypress/highcharts/integration/multiple-chart/multiple-charts.cy.js
  ts/Core/Pointer.ts
Labels: Product: Highcharts Maps, Changelog: Bugfix

#22390 dash/dg-studies
  samples/data-grid/studies/sparkline/demo.css
  samples/data-grid/studies/sparkline/demo.details
  samples/data-grid/studies/sparkline/demo.html
  samples/data-grid/studies/sparkline/demo.js
Labels: Product: Highcharts Dashboards

#22348 dash/datagrid-css-variables
  css/datagrid/datagrid.css
  ts/Dashboards/Components/DataGridComponent/DataGridSyncs/DataGridHighlightSync.ts
  ts/DataGrid/DataGrid.ts
  ts/DataGrid/Defaults.ts
  ts/DataGrid/Globals.ts
  ts/DataGrid/Options.ts
  ts/DataGrid/Table/Actions/RowsVirtualizer.ts
  ts/DataGrid/Table/Column.ts
  ts/DataGrid/Table/Content/TableRow.ts
  ts/DataGrid/Table/Table.ts
Labels: datagrid

#22405 Fixed #22402, regression decimalPoint and thousandsSep
  samples/unit-tests/utilities/format/demo.js
  samples/unit-tests/utilities/utilities/demo.js
  ts/Core/Templating.ts
Labels: Changelog: Bugfix

#22409 Fixed #22393, Highcharts.dateTime didn't use html.lang attribute
  samples/unit-tests/time/dateformat/demo.js
  ts/Core/Globals.ts
  ts/Core/GlobalsLike.d.ts
  ts/Core/Templating.ts
  ts/Core/Time.ts
Labels: Priority: Blocker, Changelog: Bugfix

#22384 Fixed #7873, min and max in exporting.chartOptions.xAxis
  samples/unit-tests/exporting/overrides/demo.css
  samples/unit-tests/exporting/overrides/demo.details
  samples/unit-tests/exporting/overrides/demo.html
  samples/unit-tests/exporting/overrides/demo.js
  ts/Extensions/Exporting/Exporting.ts
Labels: Changelog: Bugfix

#22426 Fixed #22423, error when loading highcharts.js from head
  ts/Core/Globals.ts
Labels: Priority: Blocker, Changelog: Bugfix

#22425 dash/dg-a11y-focus-anchor-reset
  css/datagrid/datagrid.css
  ts/DataGrid/Accessibility/A11yOptions.ts
  ts/DataGrid/Accessibility/Accessibility.ts
  ts/DataGrid/Defaults.ts
  ts/DataGrid/Table/Actions/RowsVirtualizer.ts
  ts/DataGrid/Table/Header/HeaderCell.ts
Labels: a11y, Product: Highcharts Dashboards, datagrid

#22427 dash/dg-support-empty-headers
  ts/DataGrid/Table/Header/HeaderCell.ts
  ts/DataGrid/Table/Header/HeaderRow.ts
Labels: datagrid

#22428 dash/22271-new-component-highlight-row
  ts/Dashboards/EditMode/SidebarPopup.ts
Labels: Changelog: Bugfix, Product: Highcharts Dashboards

#22432 dash/22208-editmode-toggle-state
  ts/Dashboards/EditMode/EditContextMenu.ts
  ts/Dashboards/EditMode/Menu/MenuItem.ts
Labels: Changelog: Bugfix, Product: Highcharts Dashboards

#22440 bugfix/22207-error-drag-new-component
  ts/Dashboards/EditMode/SidebarPopup.ts
Labels: Changelog: Bugfix, Product: Highcharts Dashboards
