Repository highcharts/highcharts, pull requests merged in 2024-07, with the labels that each got.

#21194 enhancement/navigator-update
  samples/unit-tests/navigator/navigator/demo.js
  samples/unit-tests/scroller/multinav-dynamic/demo.js
  ts/Core/Chart/StockChart.ts
  ts/Stock/Navigator/Navigator.ts
Labels: Product: Highcharts Stock

#21395 dash/firefox-drag
  ts/Dashboards/EditMode/SidebarPopup.ts
  ts/Dashboards/EditMode/Toolbar/CellEditToolbar.ts
  ts/Dashboards/EditMode/Toolbar/RowEditToolbar.ts
Labels: Changelog: Bugfix, Product: Highcharts Dashboards

#21413 feature/add helper methods to Board class
  samples/dashboards/demo/election/demo.js
  test/typescript-karma/Dashboards/Component/helpers.js
  ts/Dashboards/Board.ts
Labels: Changelog: Feature, Product: Highcharts Dashboards

#21332 bugfix/21043-navigator-base-series-not-cleared
  samples/unit-tests/scroller/multiple-navigator-series/demo.js
  ts/Stock/Navigator/Navigator.ts
Labels: Product: Highcharts Stock, Changelog: Bugfix

#21383 bugfix/21319-resetZoomButton-visile-while-panning
  samples/unit-tests/chart/panning/demo.js
  ts/Core/Chart/Chart.ts
Labels: Product: Highcharts Stock, Changelog: Bugfix

#21208 DO NOT MERGE YET: bugfix/crooked-navigator-outline
  samples/unit-tests/navigator/navigator/demo.js
  ts/Stock/Navigator/Navigator.ts
Labels: Product: Highcharts Stock, Changelog: Bugfix

#21337 bugfix/polygonal-labels-hidden-by-rect-intersection
  ts/Extensions/OverlappingDataLabels.ts
Labels: Product: Highcharts, Changelog: Bugfix

#21339 bugfix/17945-colorAxis-grouping--markers-colors
  samples/unit-tests/coloraxis/extremes/demo.html
  samples/unit-tests/coloraxis/extremes/demo.js
  ts/Core/Axis/Color/ColorAxisComposition.ts
Labels: Product: Highcharts Stock, Changelog: Bugfix

#21457 dash/cypress-test-fix
  test/cypress/dashboards/integration/sync/crossfilter.cy.js
Labels: Product: Highcharts Dashboards

#21463 bugfix/21445-legenditemclick-type-declaration
  ts/Core/Axis/Color/ColorAxisDefaults.ts
  ts/Core/Legend/Legend.ts
  ts/Core/Series/Series.ts
  ts/Core/Series/SeriesDefaults.ts
  ts/Series/Pie/PiePointOptions.d.ts
  ts/Series/Pie/PieSeriesDefaults.ts
Labels: Priority: Blocker, Changelog: Bugfix

#21462 bugfix/require paths
  tools/gulptasks/test-docs.js
  ts/masters/indicators/acceleration-bands.src.ts
  ts/masters/indicators/accumulation-distribution.src.ts
  ts/masters/indicators/ao.src.ts
  ts/masters/indicators/apo.src.ts
  ts/masters/indicators/aroon-oscillator.src.ts
  ts/masters/indicators/aroon.src.ts
  ts/masters/indicators/atr.src.ts
  ts/masters/indicators/bollinger-bands.src.ts
  ts/masters/indicators/cci.src.ts
  ts/masters/indicators/chaikin.src.ts
  ts/masters/indicators/cmf.src.ts
  ts/masters/indicators/cmo.src.ts
  ts/masters/indicators/dema.src.ts
  ts/masters/indicators/disparity-index.src.ts
  ts/masters/indicators/dmi.src.ts
  ts/masters/indicators/dpo.src.ts
  ts/masters/indicators/ichimoku-kinko-hyo.src.ts
  ts/masters/indicators/indicators-all.src.ts
  ts/masters/indicators/indicators.src.ts
  ts/masters/indicators/keltner-channels.src.ts
  ts/masters/indicators/klinger.src.ts
  ts/masters/indicators/macd.src.ts
  ts/masters/indicators/mfi.src.ts
  ts/masters/indicators/momentum.src.ts
  ts/masters/indicators/natr.src.ts
  ts/masters/indicators/obv.src.ts
  ts/masters/indicators/pivot-points.src.ts
  ts/masters/indicators/ppo.src.ts
  ts/masters/indicators/price-channel.src.ts
  ts/masters/indicators/price-envelopes.src.ts
  ts/masters/indicators/psar.src.ts
  ts/masters/indicators/regressions.src.ts
  ts/masters/indicators/roc.src.ts
  ts/masters/indicators/rsi.src.ts
  ts/masters/indicators/slow-stochastic.src.ts
  ts/masters/indicators/stochastic.src.ts
  ts/masters/indicators/supertrend.src.ts
  ts/masters/indicators/tema.src.ts
  ts/masters/indicators/trendline.src.ts
  ts/masters/indicators/trix.src.ts
  ts/masters/indicators/volume-by-price.src.ts
  ts/masters/indicators/vwap.src.ts
  ts/masters/indicators/williams-r.src.ts
  ts/masters/indicators/wma.src.ts
  ts/masters/indicators/zigzag.src.ts
  ts/masters/modules/arc-diagram.src.ts
  ts/masters/modules/dependency-wheel.src.ts
  ts/masters/modules/drag-panes.src.ts
  ts/masters/modules/export-data.src.ts
  ts/masters/modules/funnel3d.src.ts
  ts/masters/modules/heikinashi.src.ts
  ts/masters/modules/hollowcandlestick.src.ts
  ts/masters/modules/offline-exporting.src.ts
  ts/masters/modules/organization.src.ts
  ts/masters/modules/price-indicator.src.ts
  ts/masters/modules/pyramid3d.src.ts
  ts/masters/modules/stock-tools.src.ts
  ts/masters/modules/tilemap.src.ts
  ts/masters/modules/treegraph.src.ts
Labels: Priority: Blocker, Changelog: Bugfix

#21450 dash/editmode-html-sidebar
  samples/dashboards/components/component-html/demo.js
  samples/dashboards/cypress/component-html/demo.mjs
  test/cypress/dashboards/integration/Components/HTML/HTMLComponent.cy.js
  test/cypress/support/index.js
  ts/Dashboards/Components/HTMLComponent/HTMLComponent.ts
  ts/Dashboards/Components/HTMLComponent/HTMLComponentDefaults.ts
  ts/Dashboards/Components/HTMLComponent/HTMLComponentOptions.ts
  ts/Dashboards/EditMode/AccordionMenu.ts
  ts/Dashboards/EditMode/EditGlobals.ts
Labels: Changelog: Feature, Product: Highcharts Dashboards

#21495 dash/sync-highlight-not-visible
  test/typescript-karma/Dashboards/Synchronization/sync.js
  ts/Dashboards/Components/HighchartsComponent/HighchartsSyncs/HighchartsHighlightSync.ts
Labels: Changelog: Bugfix, Product: Highcharts Dashboards

#21490 dash/datagrid-docs
  docs/datagrid/understanding-dataGrid.md
Labels: datagrid

#21528 dash/sidebar-layout
  css/dashboards/dashboards.css
  test/cypress/dashboards/integration/component-add.cy.js
  test/cypress/dashboards/integration/json-serialization.cy.js
  ts/Dashboards/Components/HTMLComponent/HTMLComponent.ts
  ts/Dashboards/EditMode/EditGlobals.ts
  ts/Dashboards/EditMode/SidebarPopup.ts
Labels: Changelog: Feature, Product: Highcharts Dashboards

#21555 dash/dg2-comp-options-export
  docs/datagrid/general.md
  docs/datagrid/understanding-datagrid.md
  samples/dashboards/components/climate-all/demo.js
  samples/dashboards/components/component-datagrid/demo.js
  samples/dashboards/components/custom-component-data-connector/demo.js
  samples/dashboards/datagrid-component/datagrid-options/demo.js
  samples/dashboards/demo/climate/demo.js
  samples/dashboards/demo/cloud-monitoring/demo.js
  samples/dashboards/demo/election/demo.js
  samples/dashboards/demo/light-dark-theme/demo.js
  samples/dashboards/demo/live-weather/demo.js
  samples/dashboards/studies/sun-horizon/demo.js
  samples/data-grid/basic/cell-formatting/demo.js
  samples/data-grid/basic/no-data/demo.js
  samples/data-grid/basic/overview/demo.css
  samples/data-grid/basic/overview/demo.html
  samples/data-grid/basic/overview/demo.js
  samples/data-grid/basic/scroll-to-row/demo.js
  ts/Dashboards/Components/Component.ts
  ts/Dashboards/Components/DataGridComponent/DataGridComponent.ts
  ts/Data/README.md
  ts/DataGrid/Actions/ColumnsResizer.ts
  ts/DataGrid/DataGridColumn.ts
  ts/DataGrid/DataGridOptions.d.ts
  ts/DataGrid/DataGridTableHead.ts
Labels: Product: Highcharts Dashboards, datagrid

#21564 dash/datagrid-edit-events
  samples/data-grid/cypress/column-cell-events/demo.css
  samples/data-grid/cypress/column-cell-events/demo.html
  samples/data-grid/cypress/column-cell-events/demo.js
  test/cypress/data-grid/integration/options/events.cy.js
  ts/DataGrid/Actions/CellEditing.ts
  ts/DataGrid/Actions/ColumnSorting.ts
  ts/DataGrid/Actions/ColumnsResizer.ts
  ts/DataGrid/DataGridCell.ts
  ts/DataGrid/DataGridOptions.ts
  ts/DataGrid/DataGridTable.ts
  ts/DataGrid/DataGridTableHead.ts
Labels: datagrid

#21574 dash/dynamic-content-component-resize
  ts/Dashboards/Components/Component.ts
  ts/Dashboards/Components/DataGridComponent/DataGridComponent.ts
  ts/Dashboards/Components/HighchartsComponent/HighchartsComponent.ts
Labels: Product: Highcharts Dashboards, datagrid

#21576 dash/21408-custom-component-optimization
  docs/dashboards/custom-component.md
  samples/dashboards/components/custom-component/demo.js
Labels: Product: Highcharts Dashboards

#21579 dash/utils-namespace-dashboards
  tools/gulptasks/dashboards/scripts-dts/dashboards.src.d.ts
  ts/Dashboards/Globals.ts
  ts/Dashboards/Utilities.ts
  ts/masters-dashboards/dashboards.src.ts
Labels: Changelog: Bugfix, Product: Highcharts Dashboards
