Repository highcharts/highcharts, pull requests merged in 2024-10, with the labels that each got.

#21157 bugfix/21136-pointer-events-outside-of-plotarea
  samples/unit-tests/scrollable-plotarea/dynamics/demo.js
  ts/Series/Column/ColumnSeries.ts
Labels: Product: Highcharts, Changelog: Bugfix

#21870 dash/sticky-sidebar
  css/dashboards/dashboards.css
  samples/dashboards/demo/vertical/demo.css
  ts/Dashboards/Components/HighchartsComponent/HighchartsComponent.ts
  ts/Dashboards/EditMode/AccordionMenu.ts
  ts/Dashboards/EditMode/EditGlobals.ts
  ts/Dashboards/EditMode/SidebarPopup.ts
Labels: Changelog: Feature, Product: Highcharts Dashboards

#21891 dash/cloud-monitoring-fixes
  samples/dashboards/demo/cloud-monitoring/demo.css
  samples/dashboards/demo/cloud-monitoring/demo.js
Labels: Product: Highcharts Dashboards

#21906 dash/weather-sun-horizon-demos-fix
  samples/dashboards/demo/live-weather/demo.css
  samples/dashboards/demo/live-weather/demo.js
  samples/dashboards/studies/sun-horizon/demo.js
Labels: Product: Highcharts Dashboards

#21938 dash/dg2-header-visibility
  docs/datagrid/understanding-datagrid.md
  samples/data-grid/basic/header-visibility/demo.css
  samples/data-grid/basic/header-visibility/demo.html
  samples/data-grid/basic/header-visibility/demo.js
  test/cypress/data-grid/integration/options/header-visibility.cy.js
  ts/DataGrid/DefaultOptions.ts
  ts/DataGrid/Options.ts
  ts/DataGrid/Table/Header/HeaderRow.ts
  ts/DataGrid/Table/Header/TableHeader.ts
  ts/DataGrid/Table/Table.ts
Labels: Product: Highcharts Dashboards, datagrid

#21641 bugfix/21269-dashboards-forced-light-mode
  css/dashboards/dashboards.css
Labels: Changelog: Bugfix, Product: Highcharts Dashboards

#21774 dash/classList-editing-hc-component
  ts/Dashboards/Components/DataGridComponent/DataGridComponent.ts
  ts/Dashboards/Components/HighchartsComponent/HighchartsComponent.ts
Labels: Changelog: Bugfix, Product: Highcharts Dashboards

#21962 dash/dg2-integrations-docs
  docs/datagrid/datagrid-with-angular.md
  docs/datagrid/datagrid-with-react.md
  docs/datagrid/datagrid-with-vue.md
Labels: Product: Highcharts Dashboards, datagrid

#21968 dash/strict-row-heights-sample-fix
  samples/data-grid/basic/strict-row-heights/demo.js
Labels: Product: Highcharts Dashboards, datagrid

#21973 dash/custom-data-connector-demo
  samples/dashboards/components/custom-component-data-connector/demo.js
Labels: Product: Highcharts Dashboards

#21892 dash/dg2-keyboard-navigation
  css/datagrid/datagrid.css
  test/cypress/data-grid/integration/keyboard-navigation.cy.js
  tools/gulptasks/dashboards/scripts-dts/datagrid.src.d.ts
  ts/DataGrid/Table/Actions/CellEditing.ts
  ts/DataGrid/Table/Actions/RowsVirtualizer.ts
  ts/DataGrid/Table/Cell.ts
  ts/DataGrid/Table/Content/TableCell.ts
  ts/DataGrid/Table/Header/HeaderCell.ts
  ts/DataGrid/Table/Table.ts
Labels: Product: Highcharts Dashboards, datagrid

#21992 dash/spreadsheets-demo-fix
  samples/dashboards/basic/google-spreadsheets/demo.css
Labels: Product: Highcharts Dashboards

#21993 dash/dg2-keynav-tests-fix
  test/cypress/data-grid/integration/keyboard-navigation.cy.js
Labels: Product: Highcharts Dashboards

#22002 dash/dg2-events-docs-upgrade
  docs/datagrid/datagrid-v2-migration.md
  docs/datagrid/events.md
  docs/datagrid/installation.md
  docs/sidebars.js
  samples/data-grid/basic/cell-events/demo.css
  samples/data-grid/basic/cell-events/demo.html
  samples/data-grid/basic/cell-events/demo.js
Labels: Product: Highcharts Dashboards, datagrid

#22001 dash/grouped-samples-demopage
  samples/dashboards/demo/accounting/demo.details
  samples/dashboards/demo/axes-sync/demo.details
  samples/dashboards/demo/climate/demo.details
  samples/dashboards/demo/cloud-monitoring/demo.details
  samples/dashboards/demo/crossfilter/demo.details
  samples/dashboards/demo/datagrid-mathmodifier/demo.details
  samples/dashboards/demo/datagrid-sync/demo.details
  samples/dashboards/demo/election/demo.details
  samples/dashboards/demo/light-dark-theme/demo.details
  samples/dashboards/demo/live-weather/demo.details
  samples/dashboards/demo/minimal-html/demo.details
  samples/dashboards/demo/minimal/demo.details
  samples/dashboards/demo/personal-finance/demo.details
  samples/dashboards/demo/project-management/demo.details
  samples/dashboards/demo/sync-cursor/demo.details
  samples/dashboards/demo/sync-extremes/demo.details
  samples/dashboards/demo/sync/demo.details
  samples/dashboards/demo/vertical/demo.details
  samples/data-grid/demo/data-heavy/demo.details
  samples/data-grid/demo/grouped-header/demo.details
  samples/demo-config.js
Labels: Product: Highcharts Dashboards

#22006 New article on Performance
  docs/datagrid/ill_virtualization.png
  docs/datagrid/performance.md
  docs/datagrid/understanding-datagrid.md
  docs/sidebars.js
Labels: Product: Highcharts Dashboards

#22007 dash/readme-update-article
  ts/Dashboards/README.md
Labels: Product: Highcharts Dashboards

#21974 bugfix/21098-corrections-ie11-compatibility-fix
  ts/masters-es5/highcharts.src.ts
Labels: Product: Highcharts, Changelog: Bugfix

#21961 demo/temperature-range-color-axis
  samples/stock/demo/columnrange/demo.html
  samples/stock/demo/columnrange/demo.js
Labels: Product: Highcharts Stock

#21960 demos/remove-stock-demos
  samples/stock/demo/navigator-disabled/demo.details
  samples/stock/demo/scrollbar-disabled/demo.details
  samples/stock/demo/yaxis-reversed/demo.details
  samples/stock/navigator/navigator-disabled/demo.css
  samples/stock/navigator/navigator-disabled/demo.details
  samples/stock/navigator/navigator-disabled/demo.html
  samples/stock/navigator/navigator-disabled/demo.js
  samples/stock/navigator/navigator-disabled/readme.md
  samples/stock/scrollbar/scrollbar-disabled/demo.css
  samples/stock/scrollbar/scrollbar-disabled/demo.details
  samples/stock/scrollbar/scrollbar-disabled/demo.html
  samples/stock/scrollbar/scrollbar-disabled/demo.js
  samples/stock/scrollbar/scrollbar-disabled/readme.md
  samples/stock/yaxis/yaxis-reversed/demo.css
  samples/stock/yaxis/yaxis-reversed/demo.details
  samples/stock/yaxis/yaxis-reversed/demo.html
  samples/stock/yaxis/yaxis-reversed/demo.js
  samples/stock/yaxis/yaxis-reversed/readme.md
Labels: Product: Highcharts Stock

#21876 bugfix/21686-annotations-drag-after-change-extremes
  samples/unit-tests/axis/ordinal/demo.js
  samples/unit-tests/stock-tools/stock-annotation-dragging/demo.js
  ts/Core/Axis/OrdinalAxis.ts
Labels: Product: Highcharts Stock, Changelog: Bugfix

#21987 docs/uniqueNames-add-back
  ts/Core/Axis/AxisDefaults.ts
Labels: Product: Docs

#22037 dash/migration-docs-improvements
  docs/datagrid/datagrid-v2-migration.md
Labels: Product: Highcharts Dashboards

#22033 dash/removed-space-from-data-grid
  samples/dashboards/demo/datagrid-data-heavy/demo.details
  samples/dashboards/demo/datagrid-grouped-header/demo.details
  test/cypress/dashboards/integration/Components/DataGrid/DataGridComponent.cy.js
  test/cypress/dashboards/integration/Components/DataGrid/DataGridComponentCustomHTML.cy.js
  ts/DataGrid/Credits.ts
  ts/DataGrid/DataGrid.ts
  ts/DataGrid/DefaultOptions.ts
  ts/DataGrid/Querying/QueryingController.ts
  ts/DataGrid/Querying/SortingController.ts
  ts/DataGrid/Table/Actions/CellEditing.ts
  ts/DataGrid/Table/Actions/ColumnSorting.ts
  ts/DataGrid/Table/Actions/ColumnsResizer.ts
  ts/DataGrid/Table/Actions/RowsVirtualizer.ts
  ts/DataGrid/Table/Cell.ts
  ts/DataGrid/Table/Column.ts
  ts/DataGrid/Table/Content/TableCell.ts
  ts/DataGrid/Table/Content/TableRow.ts
  ts/DataGrid/Table/Header/HeaderCell.ts
  ts/DataGrid/Table/Header/HeaderRow.ts
  ts/DataGrid/Table/Header/TableHeader.ts
  ts/DataGrid/Table/Row.ts
  ts/DataGrid/Table/Table.ts
  ts/DataGrid/Utils.ts
Labels: Product: Highcharts Dashboards, datagrid

#22016 dash/dg2-integrations-demos
  docs/datagrid/datagrid-with-angular.md
  docs/datagrid/datagrid-with-react.md
  docs/datagrid/datagrid-with-vue.md
Labels: Product: Highcharts Dashboards

#22038 dash/22019-darkMode-styling-docs
  docs/dashboards/light-dark-theme.md
  docs/dashboards/style-by-css.md
Labels: Product: Highcharts Dashboards

#21936 feat/21519-rename-get-axes
  samples/highcharts/demo/flame/demo.js
  ts/Core/Axis/Color/ColorAxisComposition.ts
  ts/Core/Axis/ZAxis.ts
  ts/Core/Chart/Chart.ts
  ts/Series/PolarComposition.ts
  ts/Stock/RangeSelector/RangeSelector.ts
Labels: Product: Highcharts

#21888 bugfix/20662-rangeselector-dropdown-a11y
  ts/Accessibility/Components/RangeSelectorComponent.ts
Labels: Product: Highcharts Stock, Changelog: Bugfix, a11y

#22068 dash/dg-header-role-button
  ts/DataGrid/Table/Actions/ColumnSorting.ts
Labels: Changelog: Feature, a11y, Product: Highcharts Dashboards

#21943 Allow user to scroll on map when map not zooming
  ts/Maps/MapNavigation.ts
Labels: Product: Highcharts Maps, Changelog: Bugfix

#21983 bugfix/21924-custom-size-img-marker-state
  ts/Core/Series/Point.ts
Labels: Product: Highcharts, Changelog: Bugfix

#21695 bugfix/21684-tooltip-outside-not-getting-themes
  ts/Core/Defaults.ts
  ts/Core/Tooltip.ts
Labels: Product: Highcharts, Changelog: Bugfix

#21925 bugfix/21884-measure-annotation-border
  samples/unit-tests/annotations/annotations-measure/demo.js
  ts/Extensions/Annotations/Types/Measure.ts
  ts/Stock/StockTools/StockToolsBindings.ts
Labels: Product: Highcharts Stock, Changelog: Bugfix

#21708 bugfix/21203-positioner-error
  samples/stock/demo/stock-tools-gui/demo.js
Labels: Product: Website

#21777 feature/21776-added-legendColor-color-option
  samples/highcharts/series/legend-symbol-color/demo.css
  samples/highcharts/series/legend-symbol-color/demo.details
  samples/highcharts/series/legend-symbol-color/demo.html
  samples/highcharts/series/legend-symbol-color/demo.js
  samples/unit-tests/legend/symbolheight/demo.js
  ts/Core/Legend/Legend.ts
  ts/Core/Series/PointOptions.d.ts
  ts/Core/Series/SeriesDefaults.ts
  ts/Core/Series/SeriesOptions.d.ts
  ts/Series/ArcDiagram/ArcDiagramSeriesDefaults.ts
  ts/Series/Bubble/BubbleSeries.ts
  ts/Series/Dumbbell/DumbbellSeriesDefaults.ts
  ts/Series/Heatmap/HeatmapSeriesDefaults.ts
  ts/Series/MapPoint/MapPointSeriesOptions.d.ts
  ts/Series/PackedBubble/PackedBubbleSeriesDefaults.ts
  ts/Series/Pyramid/PyramidSeriesOptions.d.ts
  ts/Series/Pyramid3D/Pyramid3DSeriesDefaults.ts
  ts/Series/Sankey/SankeySeriesDefaults.ts
  ts/Series/Scatter/ScatterSeriesDefaults.ts
  ts/Series/Scatter3D/Scatter3DSeriesDefaults.ts
Labels: Product: Highcharts, Changelog: Feature

#21956 bugfix/21890-parallel-scrollable
  samples/unit-tests/scrollable-plotarea/dynamics/demo.html
  samples/unit-tests/scrollable-plotarea/dynamics/demo.js
  ts/Extensions/ScrollablePlotArea.ts
Labels: Product: Highcharts, Changelog: Bugfix

#22069 dash/dg-sortable-arrows
  css/datagrid/datagrid.css
  ts/DataGrid/Globals.ts
  ts/DataGrid/Table/Actions/ColumnSorting.ts
Labels: Changelog: Feature, a11y, Product: Highcharts Dashboards

#22032 Fixed TreemapSeries not working with Boost
  ts/Extensions/Boost/BoostSeries.ts
Labels: Product: Highcharts, Changelog: Bugfix

#21836 feature/21648-upper-and-lower-whisker-width
  samples/highcharts/series-boxplot/whisker-length/demo.css
  samples/highcharts/series-boxplot/whisker-length/demo.details
  samples/highcharts/series-boxplot/whisker-length/demo.html
  samples/highcharts/series-boxplot/whisker-length/demo.js
  samples/unit-tests/series-boxplot/boxplot/demo.js
  ts/Series/BoxPlot/BoxPlotPoint.d.ts
  ts/Series/BoxPlot/BoxPlotPointOptions.d.ts
  ts/Series/BoxPlot/BoxPlotSeries.ts
  ts/Series/BoxPlot/BoxPlotSeriesDefaults.ts
  ts/Series/BoxPlot/BoxPlotSeriesOptions.d.ts
Labels: Product: Highcharts, Changelog: Feature

#22083 docs/dg-perf-bad-src
  docs/getting-started/frequently-asked-questions.md
Labels: Product: Docs

#22075 dash/api-links
  ts/Dashboards/Components/HighchartsComponent/HighchartsComponentOptions.ts
Labels: Product: Docs, Changelog: Bugfix, Product: Highcharts Dashboards

#22080 dash/article-docs-formatting
  docs/dashboards/datagrid-component.md
  docs/dashboards/highcharts-component.md
  docs/dashboards/kpi-component.md
  docs/dashboards/your-first-dashboard.md
Labels: Product: Docs, Product: Highcharts Dashboards

#22082 dash/dg-a11y-descriptions
  css/datagrid/datagrid.css
  samples/data-grid/accessibility/custom-accessibility/demo.js
  ts/DataGrid/Accessibility/A11yOptions.ts
  ts/DataGrid/Accessibility/Accessibility.ts
  ts/DataGrid/DataGrid.ts
  ts/DataGrid/Defaults.ts
  ts/DataGrid/Table/Actions/ColumnSorting.ts
  ts/DataGrid/Table/Actions/ColumnsResizer.ts
  ts/DataGrid/Table/Content/TableCell.ts
  ts/DataGrid/Table/Header/HeaderCell.ts
Labels: a11y, Product: Highcharts Dashboards, datagrid

#22076 dash/dg-lang-a11y
  css/datagrid/datagrid.css
  samples/data-grid/accessibility/custom-accessibility/demo.js
  test/typescript-karma/Dashboards/DataGrid/datagrid.test.js
  tools/gulptasks/dashboards/api-docs.json
  tools/gulptasks/dashboards/scripts-dts/datagrid.src.d.ts
  ts/DataGrid/Accessibility/A11yOptions.ts
  ts/DataGrid/Accessibility/Accessibility.ts
  ts/DataGrid/DataGrid.ts
  ts/DataGrid/DefaultOptions.ts
  ts/DataGrid/Defaults.ts
  ts/DataGrid/Options.ts
  ts/DataGrid/Table/Actions/CellEditing.ts
  ts/DataGrid/Table/Actions/ColumnSorting.ts
  ts/DataGrid/Table/Actions/ColumnsResizer.ts
  ts/DataGrid/Table/Content/TableCell.ts
  ts/DataGrid/Table/Header/HeaderCell.ts
  ts/masters-datagrid/datagrid.src.ts
Labels: a11y, Product: Highcharts Dashboards, datagrid

#22054 bugfix/19335-ally-focusindicator-wrongly-displayed
  samples/unit-tests/accessibility/accessibility-options/demo.js
  ts/Accessibility/FocusBorder.ts
Labels: Product: Highcharts, Changelog: Bugfix
