Repository highcharts/highcharts, pull requests merged in 2025-07, with the labels that each got.

#23270 grid/samples-demos-dark-light-mode
  samples/grid-lite/basic/column-data-type/demo.css
  samples/grid-lite/basic/column-distribution/demo.css
  samples/grid-lite/basic/column-resizing-disabled/demo.css
  samples/grid-lite/basic/column-resizing-disabled/demo.js
  samples/grid-lite/basic/container-height/demo.css
  samples/grid-lite/basic/custom-column-distribution/demo.css
  samples/grid-lite/basic/custom-html/demo.css
  samples/grid-lite/basic/destroy-grid/demo.css
  samples/grid-lite/basic/disabled-rows-virtualization/demo.css
  samples/grid-lite/basic/grouped-headers/demo.css
  samples/grid-lite/basic/header-visibility/demo.css
  samples/grid-lite/basic/loading-indicator/demo.css
  samples/grid-lite/basic/no-data/demo.css
  samples/grid-lite/basic/scroll-to-row/demo.css
  samples/grid-lite/basic/strict-row-heights/demo.css
  samples/grid-lite/cypress/column-data-type/demo.css
  samples/grid-lite/cypress/column-distribution/demo.css
  samples/grid-lite/demo/grid-cell-format/demo.css
  samples/grid-lite/demo/grid-data-heavy/demo.css
  samples/grid-lite/demo/grid-grouped-header/demo.css
  samples/grid-lite/demo/grid-theming/demo.css
  samples/grid-lite/demo/html-in-cell/demo.css
  samples/grid-lite/demo/internationalization/demo.css
  samples/grid-lite/demo/parse-data/demo.css
  samples/grid-lite/demo/your-first-grid/demo.css
  samples/grid-pro/accessibility/custom-accessibility/demo.css
  samples/grid-pro/basic/cell-editing/demo.css
  samples/grid-pro/basic/cell-editing/demo.js
  samples/grid-pro/basic/cell-events/demo.css
  samples/grid-pro/basic/cell-formatting/demo.css
  samples/grid-pro/basic/cell-renderers/demo.css
  samples/grid-pro/basic/column-options/demo.css
  samples/grid-pro/basic/credits/demo.css
  samples/grid-pro/basic/custom-class/demo.css
  samples/grid-pro/basic/custom-class/demo.js
  samples/grid-pro/basic/exporting-json/demo.css
  samples/grid-pro/basic/options-update/demo.css
  samples/grid-pro/basic/overview/demo.css
  samples/grid-pro/basic/sorting-options/demo.css
  samples/grid-pro/basic/sparklines/demo.css
  samples/grid-pro/basic/virtualization-styling/demo.css
  samples/grid-pro/cypress/cell-renderers/demo.css
  samples/grid-pro/cypress/custom-class/demo.css
  samples/grid-pro/cypress/custom-class/demo.js
  samples/grid-pro/demo/accessibility/demo.css
  samples/grid-pro/demo/cell-editing/demo.css
  samples/grid-pro/demo/formulas-grid/demo.css
  samples/grid-pro/demo/todo-app/demo.css
Labels: Product: Highcharts Grid

#23254 dash/renderer-graceful-degradation
  samples/grid-pro/cypress/cell-editing/demo.js
  test/cypress/grid/integration/grid-pro/validation.cy.js
  ts/Grid/Pro/CellEditing/CellEditingComposition.ts
Labels: Changelog: Bugfix, Product: Highcharts Grid, Grid Pro

#23256 grid/resize-column-to-options
  samples/grid-lite/cypress/column-distribution/demo.js
  test/cypress/grid/integration/column-distribution.cy.js
  ts/Grid/Core/Grid.ts
  ts/Grid/Core/Querying/SortingController.ts
  ts/Grid/Core/Table/Column.ts
  ts/Grid/Core/Table/ColumnDistribution/ColumnDistributionStrategy.ts
  ts/Grid/Core/Table/ColumnDistribution/FixedDistributionStrategy.ts
  ts/Grid/Core/Table/ColumnDistribution/FullDistributionStrategy.ts
  ts/Grid/Core/Table/ColumnDistribution/MixedDistributionStrategy.ts
  ts/Grid/Core/Table/Table.ts
Labels: Changelog: Bugfix, Product: Highcharts Grid

#23282 dash/portfolio-gauge-color
  samples/dashboards/demo/personal-portfolio/demo.css
Labels: Product: Highcharts Dashboards

#23292 dash/missing-light-mode-color-var
  css/dashboards/dashboards.css
Labels: Changelog: Bugfix, Product: Highcharts Dashboards

#23293 grid/fixed-types-renderers
  test/typescript-dts/dashboards/dashboards.ts
  test/typescript-dts/dashboards/tsconfig.json
  tools/gulptasks/dashboards/scripts-dts/datagrid.src.d.ts
  ts/masters-datagrid/datagrid.src.ts
Labels: Changelog: Bugfix, Product: Highcharts Grid, Grid Pro

#23286 grid/optimized-row-update
  samples/grid-lite/basic/destroy-grid/demo.js
  samples/grid-pro/demo/todo-app/demo.js
  ts/Grid/Core/Querying/QueryingController.ts
  ts/Grid/Core/Querying/SortingController.ts
  ts/Grid/Core/Table/Actions/ColumnSorting.ts
  ts/Grid/Core/Table/Body/TableCell.ts
  ts/Grid/Core/Table/Body/TableRow.ts
  ts/Grid/Core/Table/Cell.ts
  ts/Grid/Core/Table/Table.ts
Labels: Product: Highcharts Dashboards, Product: Highcharts Grid

#23295 grid/fix-header-background
  css/datagrid/datagrid.css
  css/grid/grid.css
Labels: Changelog: Bugfix, Product: Highcharts Grid

#23287 dash/optimized-grid-on-table-change
  ts/Dashboards/Components/DataGridComponent/DataGridComponent.ts
  ts/Grid/Core/Table/Table.ts
Labels: Changelog: Bugfix, Product: Highcharts Dashboards

#23316 dash/fixed-grid-component-update
  ts/Dashboards/Components/DataGridComponent/DataGridComponent.ts
  ts/Data/DataTable.ts
  ts/Grid/Core/Table/Actions/ColumnsResizer.ts
  ts/Grid/Core/Table/Actions/RowsVirtualizer.ts
  ts/Grid/Core/Table/Body/TableRow.ts
  ts/Grid/Core/Table/Table.ts
Labels: Product: Highcharts Dashboards, Product: Highcharts Grid

#23333 grid/header-cell-events-fix
  ts/Grid/Core/Table/Header/HeaderCell.ts
  ts/Grid/Pro/GridEvents.ts
Labels: Product: Highcharts Grid, Grid Pro

#23319 bugfix/light-dark-credits
  css/datagrid/datagrid.css
  css/grid/grid.css
  samples/grid-pro/cypress/credits-pro/demo.js
  test/cypress/grid/integration/grid-lite/credits.cy.js
  test/cypress/grid/integration/grid-pro/credits.cy.js
  ts/Grid/Core/Credits.ts
  ts/Grid/Lite/Credits/CreditsLiteComposition.ts
Labels: Changelog: Bugfix, Product: Highcharts Grid

#23353 bugfix/karma-resizeobserver-ff
  test/typescript-karma/Dashboards/Grid/grid.test.js
Labels: Product: Highcharts Grid
