Repository highcharts/highcharts, pull requests merged in 2025-01, with the labels that each got.

#22298 dash/dg-css-experimental
  css/.stylelintrc.json
  css/datagrid/datagrid.css
  package.json
  samples/data-grid/basic/cell-formatting/demo.css
  samples/data-grid/basic/container-height/demo.js
  samples/data-grid/basic/custom-html/demo.css
  samples/data-grid/basic/overview/demo.js
  samples/data-grid/basic/virtualization-styling/demo.css
  samples/data-grid/studies/sparkline/demo.css
  test/cypress/dashboards/integration/Components/DataGrid/DataGridComponent.cy.js
  test/cypress/dashboards/integration/Components/DataGrid/DataGridComponentCustomHTML.cy.js
  test/cypress/dashboards/integration/Components/DataGrid/DataGridHighlightSync.cy.js
  ts/Dashboards/Components/DataGridComponent/DataGridComponent.ts
  ts/Dashboards/Components/DataGridComponent/DataGridSyncs/DataGridHighlightSync.ts
  ts/DataGrid/Accessibility/A11yOptions.ts
  ts/DataGrid/Accessibility/Accessibility.ts
  ts/DataGrid/DataGrid.ts
  ts/DataGrid/Defaults.ts
  ts/DataGrid/Globals.ts
  ts/DataGrid/Options.ts
  ts/DataGrid/Table/Actions/ColumnsResizer.ts
  ts/DataGrid/Table/Actions/RowsVirtualizer.ts
  ts/DataGrid/Table/Column.ts
  ts/DataGrid/Table/Content/TableRow.ts
  ts/DataGrid/Table/Header/HeaderCell.ts
  ts/DataGrid/Table/Header/HeaderRow.ts
  ts/DataGrid/Table/Header/TableHeader.ts
  ts/DataGrid/Table/Table.ts
  ts/masters-datagrid/datagrid.src.ts
Labels: Product: Highcharts Dashboards, datagrid

#22422 bugfix/22296-drillup-missing-tick
  samples/unit-tests/drilldown/drillup/demo.js
  ts/Core/Axis/Axis.ts
  ts/Core/Time.ts
Labels: Product: Highcharts, Changelog: Bugfix

#22387 demo/stock-tools-gui-exporting
  samples/stock/demo/stock-tools-gui/demo.html
Labels: Product: Highcharts Stock

#21895 bugfix/21743-gridlines-outside-plotarea
  samples/highcharts/cypress/axis-tick/demo.css
  samples/highcharts/cypress/axis-tick/demo.details
  samples/highcharts/cypress/axis-tick/demo.html
  samples/highcharts/cypress/axis-tick/demo.js
  test/cypress/highcharts/integration/axis-tick/axis-tick.cy.js
  ts/Core/Axis/Axis.ts
Labels: Product: Highcharts, Changelog: Bugfix

#22267 21886 needless redraws when drilling up thru breadcrumbs
  ts/Extensions/Drilldown/Drilldown.ts
Labels: Changelog: Bugfix

#22398 Fixed Boost not rendering column series with a single point that is outside plot area
  samples/unit-tests/boost/series-with-one-point/demo.js
  ts/Extensions/Boost/WGLRenderer.ts
Labels: Product: Highcharts, Changelog: Bugfix

#22460 dash/demo-map-zoom-enabled
  samples/dashboards/demo/climate/demo.js
Labels: Product: Highcharts Dashboards

#22389 bugfix/22334-incorrect-overscroll-with-rangeselector
  samples/unit-tests/axis/overscroll/demo.js
  ts/Core/Axis/OrdinalAxis.ts
Labels: Changelog: Bugfix

#22458 dash/dg-validation-errmsg
  css/datagrid/datagrid.css
  ts/DataGrid/Globals.ts
  ts/DataGrid/Table/Actions/CellEditing.ts
  ts/DataGrid/Table/Actions/RowsVirtualizer.ts
  ts/DataGrid/Table/ColumnTypes/Validator.ts
  ts/masters-datagrid/datagrid.src.ts
Labels: datagrid

#22439 dash/dg-resize-scroll-fixes
  samples/data-grid/cypress/wide-grid/demo.css
  samples/data-grid/cypress/wide-grid/demo.html
  samples/data-grid/cypress/wide-grid/demo.js
  test/cypress/data-grid/integration/wide-grid.cy.js
  ts/DataGrid/Table/Actions/ColumnsResizer.ts
  ts/DataGrid/Table/Actions/RowsVirtualizer.ts
  ts/DataGrid/Table/Table.ts
Labels: Changelog: Bugfix, Product: Highcharts Dashboards, datagrid

#22473 dash/dg-resize-scroll-fixes-in-css-experimental
  samples/data-grid/cypress/wide-grid/demo.css
  samples/data-grid/cypress/wide-grid/demo.html
  samples/data-grid/cypress/wide-grid/demo.js
  test/cypress/data-grid/integration/wide-grid.cy.js
  ts/DataGrid/Table/Actions/ColumnsResizer.ts
  ts/DataGrid/Table/Actions/RowsVirtualizer.ts
  ts/DataGrid/Table/Table.ts
Labels: Product: Highcharts Dashboards, datagrid

#22481 bugfix/22317-rgba-export
  ts/Extensions/Exporting/Exporting.ts
Labels: Changelog: Bugfix

#22459 bugfix/22295-tooltip-anchor-animation
  samples/unit-tests/tooltip/shared/demo.js
  ts/Core/Tooltip.ts
Labels: Changelog: Bugfix

#21952 Fixed setting pie plot options with multiple data labels renders incorrectly
  samples/highcharts/demo/pie-chart/demo.js
  samples/highcharts/demo/pie-drilldown/demo.js
  samples/unit-tests/series-line/linewidth/demo.js
  samples/unit-tests/series-pie/datalabel/demo.js
  ts/Core/Series/DataLabel.ts
  ts/Core/Series/Series.ts
Labels: Product: Highcharts, Changelog: Bugfix

#22493 dash/22492-chart-constructor-update
  test/typescript-karma/Dashboards/Component/highcharts.js
  ts/Dashboards/Components/HighchartsComponent/HighchartsComponent.ts
Labels: Changelog: Bugfix, Product: Highcharts Dashboards

#22505 dash/dg-time-options
  ts/Core/Chart/Chart.ts
  ts/Core/Templating.ts
  ts/DataGrid/DataGrid.ts
  ts/DataGrid/Defaults.ts
  ts/DataGrid/Options.ts
Labels: Product: Highcharts Dashboards, datagrid

#22474 dash/dg-validation-predefined-types
  samples/data-grid/basic/validation-rules/demo.js
  ts/DataGrid/Options.ts
  ts/DataGrid/Table/ColumnTypes/Validator.ts
Labels: Product: Highcharts Dashboards, datagrid

#22217 bugfix/21994-ally-legend-button-offset
  samples/highcharts/accessibility/legend-proxy/demo.css
  samples/highcharts/accessibility/legend-proxy/demo.details
  samples/highcharts/accessibility/legend-proxy/demo.html
  samples/highcharts/accessibility/legend-proxy/demo.js
  ts/Accessibility/ProxyElement.ts
Labels: Product: Highcharts, Changelog: Bugfix, a11y

#22418 docs/missing-lastprice-options
  ts/Extensions/PriceIndication.ts
Labels: Product: Highcharts Stock

#22510 dash/dg-row-data-as-object
  ts/DataGrid/Table/Content/TableRow.ts
Labels: Product: Highcharts Dashboards, datagrid

#22485 dash/22301-multirow-header-cells
  css/datagrid/datagrid.css
  ts/DataGrid/DataGrid.ts
  ts/DataGrid/Globals.ts
  ts/DataGrid/Table/Cell.ts
  ts/DataGrid/Table/Column.ts
  ts/DataGrid/Table/Content/TableCell.ts
  ts/DataGrid/Table/Content/TableRow.ts
  ts/DataGrid/Table/Header/HeaderCell.ts
  ts/DataGrid/Table/Header/HeaderRow.ts
  ts/DataGrid/Table/Header/TableHeader.ts
  ts/DataGrid/Table/Row.ts
Labels: Changelog: Bugfix, Product: Highcharts Dashboards, datagrid

#22177 Sunburst dataLabels would get stuck in top right corner
  ts/Series/Sunburst/SunburstSeries.ts
Labels: Product: Highcharts, Changelog: Bugfix

#22520 dash/dg-loading-indicator
  css/datagrid/datagrid.css
  samples/data-grid/basic/loading-indicator/demo.css
  samples/data-grid/basic/loading-indicator/demo.details
  samples/data-grid/basic/loading-indicator/demo.html
  samples/data-grid/basic/loading-indicator/demo.js
  test/cypress/data-grid/integration/loading-indicator.cy.js
  test/cypress/support/index.js
  ts/DataGrid/DataGrid.ts
  ts/DataGrid/Defaults.ts
  ts/DataGrid/Globals.ts
  ts/DataGrid/Options.ts
Labels: Changelog: Feature, Product: Highcharts Dashboards, grid

#22542 bugfix/22526-disabled-contextbutton-adds-tabfocus
  ts/Accessibility/Components/MenuComponent.ts
Labels: Product: Highcharts, Changelog: Bugfix

#22486 bugfix/22450-es5-errors
  ts/Core/Templating.ts
  ts/masters-es5/polyfills.ts
Labels: Changelog: Bugfix

#22452 Fixed #22135, typo 'annotationOptions' -> 'annotationsOptions'
  ts/Extensions/Annotations/NavigationBindingsDefaults.ts
Labels: Product: Highcharts Stock, Changelog: Bugfix

#22514 bugfix/measure-annotation-calculate-average
  samples/unit-tests/annotations/annotations-measure/demo.js
  ts/Extensions/Annotations/Types/Measure.ts
Labels: Product: Highcharts Stock, Changelog: Bugfix

#22504 bugfix/22455-clipped-line
  samples/unit-tests/chart/plotborder/demo.js
  ts/Core/Chart/Chart.ts
Labels: Changelog: Bugfix

#22550 Docs: Summary of changes in v12.
  changelog/changelog.html
  changelog/highcharts/12.0.0.md
  docs/getting-started/version-12.md
  docs/sidebars.js
Labels: Product: Docs

#22565 grid/lite-pro-split
  css/grid/grid.css
  samples/grid/cypress/column-cell-events/demo.css
  samples/grid/cypress/column-cell-events/demo.html
  samples/grid/cypress/column-cell-events/demo.js
  tools/gulptasks/dashboards/scripts-dts/datagrid.src.d.ts
  ts/Dashboards/Plugins/DataGridPlugin.ts
  ts/Dashboards/datagrid.d.ts
  ts/DataGrid/.eslintrc
  ts/DataGrid/Accessibility/A11yOptions.ts
  ts/DataGrid/Accessibility/Accessibility.ts
  ts/DataGrid/Credits.ts
  ts/DataGrid/DataGrid.ts
  ts/DataGrid/Defaults.ts
  ts/DataGrid/Globals.ts
  ts/DataGrid/Options.ts
  ts/DataGrid/Querying/QueryingController.ts
  ts/DataGrid/Querying/SortingController.ts
  ts/DataGrid/Table/Actions/CellEditing.ts
  ts/DataGrid/Table/Actions/ColumnSorting.ts
  ts/DataGrid/Table/Actions/ColumnsResizer.ts
  ts/DataGrid/Table/Actions/RowsVirtualizer.ts
  ts/DataGrid/Table/Cell.ts
  ts/DataGrid/Table/Column.ts
  ts/DataGrid/Table/Content/TableCell.ts
  ts/DataGrid/Table/Content/TableRow.ts
  ts/DataGrid/Table/Header/HeaderCell.ts
  ts/DataGrid/Table/Header/HeaderRow.ts
  ts/DataGrid/Table/Header/TableHeader.ts
  ts/DataGrid/Table/Row.ts
  ts/DataGrid/Table/Table.ts
  ts/DataGrid/Utils.ts
  ts/DataGrid/tsconfig.json
  ts/Grid/Core/Accessibility/A11yOptions.ts
  ts/Grid/Core/Accessibility/Accessibility.ts
  ts/Grid/Core/Credits.ts
  ts/Grid/Core/Defaults.ts
  ts/Grid/Core/Globals.ts
  ts/Grid/Core/Grid.ts
  ts/Grid/Core/GridUtils.ts
  ts/Grid/Core/Options.ts
  ts/Grid/Core/Table/Actions/ColumnSorting.ts
  ts/Grid/Core/Table/Actions/ColumnsResizer.ts
  ts/Grid/Core/Table/Actions/RowsVirtualizer.ts
  ts/Grid/Core/Table/Cell.ts
  ts/Grid/Core/Table/Column.ts
  ts/Grid/Core/Table/Content/TableCell.ts
  ts/Grid/Core/Table/Content/TableRow.ts
  ts/Grid/Core/Table/Header/HeaderCell.ts
  ts/Grid/Core/Table/Header/HeaderRow.ts
  ts/Grid/Core/Table/Table.ts
  ts/Grid/Pro/CellEditing/CellEditing.ts
  ts/Grid/Pro/CellEditing/CellEditingComposition.ts
  ts/Grid/Pro/GridEvents.ts
  ts/masters-dashboards/tsconfig.json
  ts/masters-datagrid/datagrid.src.ts
  ts/masters-datagrid/tsconfig.json
  ts/masters-es5/tsconfig.json
  ts/masters-grid/gridlite.src.ts
  ts/tsconfig.json
Labels: grid

#22525 demo/drag-on-axis
  samples/stock/demo/drag-on-axis/demo.css
  samples/stock/demo/drag-on-axis/demo.details
  samples/stock/demo/drag-on-axis/demo.html
  samples/stock/demo/drag-on-axis/demo.js
Labels: Product: Highcharts Stock

#22594 grid/samples-update
  samples/grid/accessibility/custom-accessibility/demo.css
  samples/grid/accessibility/custom-accessibility/demo.html
  samples/grid/accessibility/custom-accessibility/demo.js
  samples/grid/basic/cell-events/demo.css
  samples/grid/basic/cell-events/demo.html
  samples/grid/basic/cell-events/demo.js
  samples/grid/basic/cell-formatting/demo.css
  samples/grid/basic/cell-formatting/demo.html
  samples/grid/basic/cell-formatting/demo.js
  samples/grid/basic/column-options/demo.css
  samples/grid/basic/column-options/demo.html
  samples/grid/basic/column-options/demo.js
  samples/grid/basic/column-resizing-disabled/demo.css
  samples/grid/basic/container-height/demo.css
  samples/grid/basic/container-height/demo.html
  samples/grid/basic/credits/demo.css
  samples/grid/basic/custom-html/demo.css
  samples/grid/basic/destroy-datagrid/demo.css
  samples/grid/basic/destroy-datagrid/demo.js
  samples/grid/basic/disabled-rows-virtualization/demo.css
  samples/grid/basic/exporting-json/demo.css
  samples/grid/basic/exporting-json/demo.html
  samples/grid/basic/exporting-json/demo.js
  samples/grid/basic/fixed-distribution/demo.css
  samples/grid/basic/header-visibility/demo.css
  samples/grid/basic/loading-indicator/demo.css
  samples/grid/basic/no-data/demo.css
  samples/grid/basic/options-update/demo.css
  samples/grid/basic/options-update/demo.html
  samples/grid/basic/options-update/demo.js
  samples/grid/basic/overview/demo.css
  samples/grid/basic/scroll-to-row/demo.css
  samples/grid/basic/scroll-to-row/demo.js
  samples/grid/basic/sorting-options/demo.css
  samples/grid/basic/sorting-options/demo.html
  samples/grid/basic/sorting-options/demo.js
  samples/grid/basic/strict-row-heights/demo.css
  samples/grid/basic/virtualization-styling/demo.css
  samples/grid/basic/virtualization-styling/demo.html
  samples/grid/basic/virtualization-styling/demo.js
  samples/grid/cypress/column-cell-events/demo.css
  samples/grid/cypress/datagrid-custom-class/demo.css
  samples/grid/cypress/exporting-json/demo.css
  samples/grid/cypress/exporting-json/demo.html
  samples/grid/cypress/exporting-json/demo.js
  samples/grid/cypress/grouped-headers/demo.css
  samples/grid/cypress/sorting-options/demo.css
  samples/grid/cypress/sorting-options/demo.html
  samples/grid/cypress/sorting-options/demo.js
  samples/grid/cypress/wide-grid/demo.css
  samples/grid/cypress/wide-grid/demo.html
  samples/grid/demo/datagrid-custom-class/demo.css
  samples/grid/demo/datagrid-custom-class/demo.html
  samples/grid/demo/datagrid-custom-class/demo.js
  samples/grid/demo/querying/demo.css
  samples/grid/demo/your-first-grid/demo.css
  samples/grid/studies/sparkline/demo.css
  samples/grid/studies/sparkline/demo.html
  samples/grid/studies/sparkline/demo.js
Labels: grid

#22590 Grid/cypress tests
  samples/grid/basic/overview/demo.css
  samples/grid/basic/overview/demo.html
  samples/grid/basic/overview/demo.js
  samples/grid/cypress/datagrid-custom-class/demo.css
  samples/grid/cypress/datagrid-custom-class/demo.html
  samples/grid/cypress/datagrid-custom-class/demo.js
  samples/grid/cypress/sorting-options/demo.js
  test/cypress/grid/integration/loading-indicator.cy.js
  test/cypress/grid/integration/options/header-visibility.cy.js
  test/cypress/grid/integration/options/multiLevelHeader.cy.js
  test/cypress/grid/integration/options/sorting.cy.js
  test/cypress/grid/integration/wide-grid.cy.js
Labels: grid

#22596 grid/doclets-details-demos
  docs/datagrid/events.md
  docs/datagrid/general.md
  docs/datagrid/header.md
  docs/datagrid/style-by-css.md
  samples/demo-config.js
  samples/grid/demo/datagrid-custom-class/demo.details
  samples/grid/demo/querying/demo.details
  samples/grid/demo/your-first-grid/demo.details
  ts/Grid/Core/Options.ts
  ts/Grid/Core/Table/Table.ts
  ts/Grid/Pro/GridEvents.ts
Labels: grid

#22598 demo/add-highchartsconnectors-to-eslint
  samples/.eslintrc
  samples/dashboards/demo/personal-portfolio/demo.js
  samples/stock/demo/drag-on-axis/demo.details
  samples/stock/demo/drag-on-axis/demo.js
  samples/stock/demo/stock-tools-gui/demo.js
Labels: Product: Highcharts Stock
