Repository highcharts/highcharts, pull requests merged in 2025-09, with the labels that each got.

#23500 bugfix/21263-flag-series-allow-classname
  samples/unit-tests/series-flags/color/demo.js
  ts/Series/Flags/FlagsSeries.ts
  ts/Series/Line/LineSeries.ts
Labels: Product: Highcharts Stock, Changelog: Bugfix

#23511 Added option to assign className in navigation.bindings.
  samples/unit-tests/stock-tools/bindings/demo.js
  ts/Extensions/Annotations/Annotation.ts
  ts/Extensions/Annotations/AnnotationOptions.d.ts
Labels: Product: Highcharts Stock, Changelog: Feature

#23096 Added sample demo of dendrogram chart
  docs/chart-and-series-types/treegraph-chart.md
  samples/highcharts/series-treegraph/programming-languages/demo.css
  samples/highcharts/series-treegraph/programming-languages/demo.details
  samples/highcharts/series-treegraph/programming-languages/demo.html
  samples/highcharts/series-treegraph/programming-languages/demo.js
Labels: Product: Highcharts

#23562 Fixed #23560, updating with multiple data labels
  samples/unit-tests/datalabels/multiple-labels/demo.js
  ts/Core/Series/Series.ts
Labels: Changelog: Bugfix

#23512 enhancement/23303-tooltip-behaviour
  samples/unit-tests/tooltip/stickoncontact/demo.js
  ts/Core/Pointer.ts
  ts/Core/Tooltip.ts
Labels: Product: Highcharts, Changelog: Feature

#23563 bugfix/23521-rangeselector-buttons-offset
  samples/unit-tests/rangeselector/buttons-range-state/demo.js
  ts/Stock/RangeSelector/RangeSelector.ts
Labels: Product: Highcharts Stock, Changelog: Bugfix

#23599 bugfix/edit-mode-context-menu-separation
  css/dashboards/dashboards.css
  samples/dashboards/edit-mode/change-ctx-icon/demo.js
  samples/dashboards/edit-mode/ctx-menu-width/demo.js
  ts/Dashboards/EditMode/EditGlobals.ts
  ts/Dashboards/EditMode/EditMode.ts
Labels: Product: Highcharts Dashboards

#23473 enh/missing-css-warning
  errors/35/readme.md
  errors/errors.json
  tools/gulptasks/scripts-messages.js
  ts/Core/Chart/Chart.ts
  ts/Extensions/Debugger/ErrorMessages.ts
Labels: Product: Highcharts, Changelog: Feature

#23542 bugfix/23517-datalabels-zindex
  samples/highcharts/chartchooser/categorical-comparison-treemap-monochrome/demo.js
  samples/highcharts/chartchooser/categorical-comparison-treemap/demo.js
  samples/highcharts/chartchooser/categorical-composition-treemap-pattern/demo.js
  samples/highcharts/chartchooser/categorical-hierarchy-treemap-monochrome/demo.js
  samples/highcharts/chartchooser/categorical-hierarchy-treemap-pattern/demo.js
  ts/Core/Chart/Chart.ts
  ts/Core/Series/DataLabel.ts
  ts/Core/Series/Point.ts
  ts/Core/Series/Series.ts
  ts/Core/Series/SeriesDefaults.ts
  ts/Core/Series/SeriesOptions.d.ts
  ts/Extensions/Drilldown/Drilldown.ts
  ts/Extensions/Drilldown/DrilldownSeries.ts
  ts/Extensions/NonCartesianSeriesZoom/NonCartesianSeriesZoom.ts
  ts/Series/ArcDiagram/ArcDiagramSeries.ts
  ts/Series/Column/ColumnSeries.ts
  ts/Series/Line/LineSeries.ts
  ts/Series/Map/MapSeries.ts
  ts/Series/MapPoint/MapPointSeries.ts
  ts/Series/Pie/PieDataLabel.ts
  ts/Series/Sankey/SankeySeries.ts
  ts/Series/SimulationSeriesUtilities.ts
  ts/Series/Sunburst/SunburstSeries.ts
  ts/Series/Treemap/TreemapSeries.ts
  ts/Series/Venn/VennSeries.ts
Labels: Product: Highcharts, Changelog: Bugfix
