Repository highcharts/highcharts, pull requests merged in 2025-05, with the labels that each got.

#22986 dashboards/toolbar-zindex
  css/dashboards/dashboards.css
Labels: Changelog: Bugfix, Product: Highcharts Dashboards

#22429 bugfix/21217-navigator-disabled-in-setOptions
  samples/unit-tests/highcharts/setoptions/demo.html
  samples/unit-tests/highcharts/setoptions/demo.js
  ts/Stock/Navigator/NavigatorComposition.ts
  ts/Stock/Scrollbar/Scrollbar.ts
Labels: Product: Highcharts Stock, Changelog: Bugfix

#22993 dash/iframe-edit-click
  css/dashboards/dashboards.css
Labels: Changelog: Bugfix, Product: Highcharts Dashboards

#23007 dash/bugfix-22868-add-component
  ts/Dashboards/EditMode/SidebarPopup.ts
  ts/Dashboards/Layout/Cell.ts
Labels: Changelog: Bugfix, Product: Highcharts Dashboards

#23003 bugfix/22999-remove-added-component
  test/cypress/dashboards/integration/component-add.cy.js
  ts/Dashboards/EditMode/SidebarPopup.ts
Labels: Changelog: Bugfix, Product: Highcharts Dashboards

#23012 dash/connector-data-polling-abort-controller
  test/cypress/dashboards/integration/Components/general.cy.js
  ts/Data/Connectors/CSVConnector.ts
  ts/Data/Connectors/DataConnector.ts
  ts/Data/Connectors/GoogleSheetsConnector.ts
  ts/Data/Connectors/JSONConnector.ts
Labels: Changelog: Bugfix, Product: Highcharts Dashboards

#22987 bugfix/8333-pdf-boost
  samples/highcharts/exporting/offline-download-pdffont/demo.html
  samples/highcharts/exporting/offline-download-pdffont/demo.js
  samples/highcharts/exporting/offline-download-pdffont/test-notes.md
  ts/Core/Renderer/HTML/AST.ts
  ts/Extensions/OfflineExporting/OfflineExporting.ts
Labels: Changelog: Bugfix

#22927 dash/multiple-connector-data-tables
  samples/dashboards/cypress/multiple-datatables/demo.css
  samples/dashboards/cypress/multiple-datatables/demo.details
  samples/dashboards/cypress/multiple-datatables/demo.html
  samples/dashboards/cypress/multiple-datatables/demo.js
  samples/dashboards/data/datatables-connector/demo.css
  samples/dashboards/data/datatables-connector/demo.details
  samples/dashboards/data/datatables-connector/demo.html
  samples/dashboards/data/datatables-connector/demo.js
  test/cypress/dashboards/integration/multiple-datatables.cy.js
  test/typescript-karma/Data/Connectors/CSVConnector.test.js
  test/typescript-karma/Data/Connectors/GoogleSheetsStore.test.js
  test/typescript-karma/Data/Connectors/HTMLTableStore.test.js
  ts/Dashboards/Components/Component.ts
  ts/Dashboards/Components/ConnectorHandler.ts
  ts/Dashboards/Components/DataGridComponent/DataGridComponent.ts
  ts/Dashboards/Components/HighchartsComponent/HighchartsComponent.ts
  ts/Data/Connectors/CSVConnector.ts
  ts/Data/Connectors/CSVConnectorOptions.d.ts
  ts/Data/Connectors/DataConnector.ts
  ts/Data/Connectors/GoogleSheetsConnector.ts
  ts/Data/Connectors/GoogleSheetsConnectorOptions.d.ts
  ts/Data/Connectors/HTMLTableConnector.ts
  ts/Data/Connectors/JSONConnector.ts
  ts/Data/Connectors/JSONConnectorOptions.d.ts
  ts/Data/Converters/CSVConverter.ts
  ts/Data/Converters/GoogleSheetsConverter.ts
  ts/Data/Converters/JSONConverter.ts
  ts/Data/DataPool.ts
  ts/Data/DataPoolOptions.ts
  ts/Data/DataTableCore.ts
  ts/Data/DataTableOptions.ts
Labels: Changelog: Feature, Product: Highcharts Dashboards

#23031 bugfix/23018-remove-board-custom-html
  test/typescript-karma/Dashboards/Layout/tests.js
  ts/Dashboards/Board.ts
Labels: Changelog: Bugfix, Product: Highcharts Dashboards

#23029 bugfix/22953-item-series-max-height
  samples/unit-tests/series-item/dynamic/demo.js
  ts/Series/Item/ItemSeries.ts
Labels: Product: Highcharts, Changelog: Bugfix

#23025 bugfix/22981-stock-axis-plotline-misalignment
  samples/unit-tests/axis/gridlines/demo.js
  ts/Core/Chart/StockChart.ts
Labels: Product: Highcharts Stock, Changelog: Bugfix

#23046 demo/rename-personal-portfolio
  samples/dashboards/demo/personal-portfolio/demo.details
Labels: Product: Highcharts Stock

#23041 demo/stock-tools-custom-height
  samples/stock/demo/stock-tools-custom-gui/demo.css
Labels: Product: Highcharts Stock

#23040 docs/custom-indicators
  docs/stock/custom-technical-indicators.md
Labels: Product: Highcharts Stock, Product: Docs

#23098 docs/morningstar-connectors-v1.2.0
  docs/morningstar/morningstar.md
  docs/morningstar/screeners/screener.md
  docs/morningstar/security-compare.md
  docs/morningstar/security-details.md
  docs/morningstar/time-series/rating.md
  docs/morningstar/time-series/return.md
  docs/morningstar/time-series/rolling-return.md
  docs/morningstar/time-series/time-series.md
  docs/sidebars.js
Labels: Product: Docs

#23109 bugfix/remove-row
  test/cypress/dashboards/integration/EditMode/empty-board-interction.cy.js
  ts/Dashboards/EditMode/SidebarPopup.ts
  ts/Dashboards/EditMode/Toolbar/RowEditToolbar.ts
Labels: Changelog: Bugfix, Product: Highcharts Dashboards

#23117 grid/sync-grids-hl-fixes
  ts/Dashboards/Components/DataGridComponent/DataGridSyncs/DataGridHighlightSync.ts
  ts/Dashboards/Components/HighchartsComponent/HighchartsSyncs/HighchartsHighlightSync.ts
  ts/Dashboards/Components/Sync/Sync.ts
  ts/Dashboards/SerializeHelper/DataCursorHelper.ts
  ts/Data/DataCursor.ts
Labels: Product: Highcharts Dashboards

#23057 Fixed #22168, error after loading highcharts-more dynamically
  ts/Core/Axis/WaterfallAxis.ts
  ts/Series/Waterfall/WaterfallSeries.ts
Labels: Changelog: Bugfix
