Repository highcharts/highcharts, pull requests merged in 2025-02, with the labels that each got.

#22078 Bugfix/packedbubble-various-drag-bugs
  samples/highcharts/demo/packed-bubble-project-status/demo.css
  samples/highcharts/demo/packed-bubble-project-status/demo.details
  samples/highcharts/demo/packed-bubble-project-status/demo.html
  samples/highcharts/demo/packed-bubble-project-status/demo.js
  samples/highcharts/demo/packed-bubble-project-status/demo.js~
  samples/highcharts/demo/packed-bubble-project-status/readme.md
  samples/highcharts/series-packedbubble/packed-dashboard/demo.details
  ts/Series/DragNodesComposition.ts
  ts/Series/PackedBubble/PackedBubbleIntegration.ts
  ts/Series/PackedBubble/PackedBubbleLayout.ts
  ts/Series/PackedBubble/PackedBubbleSeries.ts
  ts/Series/PackedBubble/PackedBubbleSeriesDefaults.ts
  ts/Series/PackedBubble/PackedBubbleSeriesOptions.d.ts
Labels: Product: Highcharts, Changelog: Bugfix

#22472 22438-no-shared-tooltip-when-zooming-in-boost
  ts/Extensions/Boost/BoostSeries.ts
Labels: Product: Highcharts, Changelog: Bugfix

#22564 bugfix/22516-boost-state-inactive
  samples/unit-tests/halo/integration/demo.js
  ts/Core/Pointer.ts
Labels: Changelog: Bugfix

#22615 grid/scripts-compile
  tools/gulptasks/scripts-compile.js
Labels: grid

#22616 grid/tooling-gulp-cypress-tests
  gulpfile.ts
  tools/gulptasks/test-cypress.js
  tools/gulptasks/test.js
Labels: grid

#22622 docs/morningstar-update
  docs/morningstar/morningstar.md
  docs/morningstar/screeners/esg-screener.md
  docs/morningstar/screeners/find-similar-screener.md
  docs/morningstar/screeners/investor-preferences.md
  docs/morningstar/screeners/regulatory-screener.md
  docs/morningstar/screeners/screener.md
  docs/morningstar/security-details.md
  docs/sidebars.js
  tools/cspell/custom-words.txt
Labels: Product: Highcharts Stock, Product: Docs

#22541 bugfix/split-tooltip-wrong-newline
  samples/unit-tests/tooltip/split/demo.js
  ts/Core/Renderer/HTML/HTMLElement.ts
Labels: Product: Highcharts, Changelog: Bugfix

#22623 grid/unnecessary-modules
  tools/gulptasks/scripts-ts.js
Labels: grid

#22619 grid/dist-tasks
  samples/grid/basic/column-resizing-disabled/demo.html
  samples/grid/basic/container-height/demo.html
  samples/grid/basic/credits/demo.html
  samples/grid/basic/custom-html/demo.html
  samples/grid/basic/destroy-datagrid/demo.html
  samples/grid/basic/disabled-rows-virtualization/demo.html
  samples/grid/basic/fixed-distribution/demo.html
  samples/grid/basic/grouped-headers/demo.html
  samples/grid/basic/header-visibility/demo.html
  samples/grid/basic/loading-indicator/demo.html
  samples/grid/basic/no-data/demo.html
  samples/grid/basic/scroll-to-row/demo.html
  samples/grid/basic/strict-row-heights/demo.html
  samples/grid/cypress/grouped-headers/demo.html
  samples/grid/cypress/wide-grid/demo.html
  samples/grid/demo/querying/demo.html
  samples/grid/demo/your-first-grid/demo.html
  samples/tsglobal.d.ts
  test/typescript-dts/grid/grid-lite.ts
  test/typescript-dts/grid/tsconfig.json
  tools/gulptasks/dist-compress.js
  tools/gulptasks/dist-copy.js
  tools/gulptasks/dist-examples.js
  tools/gulptasks/dist-productsjs.js
  tools/gulptasks/dist.js
  tools/gulptasks/jsdoc-dts.js
  tools/gulptasks/lint-dts.js
  tools/gulptasks/scripts-dts/grid-lite.src.d.ts
  tools/gulptasks/scripts-ts.js
  tools/webpacks/grid.webpack.mjs
  ts/Grid/Core/Grid.ts
  ts/Grid/Core/Options.ts
  ts/masters-datagrid/datagrid.src.ts
  ts/masters-grid/grid-lite.src.ts
Labels: grid

#22376 dash/data-layer-typed-arrays
  test/typescript-karma/Data/DataTable.test.js
  ts/Core/Axis/Axis.ts
  ts/Core/Axis/DateTimeAxis.ts
  ts/Core/Axis/OrdinalAxis.ts
  ts/Core/Series/Series.ts
  ts/Core/Series/SeriesOptions.d.ts
  ts/Core/Utilities.ts
  ts/Dashboards/Components/NavigatorComponent/NavigatorSyncs/NavigatorExtremesSync.ts
  ts/Dashboards/SerializeHelper/DataTableHelper.ts
  ts/Data/ColumnUtils.ts
  ts/Data/Connectors/GoogleSheetsConnectorOptions.d.ts
  ts/Data/Converters/CSVConverter.ts
  ts/Data/Converters/GoogleSheetsConverter.ts
  ts/Data/Converters/HTMLTableConverter.ts
  ts/Data/Converters/JSONConverter.ts
  ts/Data/DataTable.ts
  ts/Data/DataTableCore.ts
  ts/Data/DataTableOptions.ts
  ts/Data/Modifiers/InvertModifier.ts
  ts/Data/README.md
  ts/Extensions/Boost/BoostChart.ts
  ts/Extensions/Boost/BoostSeries.ts
  ts/Extensions/BoostCanvas.ts
  ts/Extensions/DataGrouping/DataGroupingSeriesComposition.ts
  ts/Shared/Types.ts
  ts/Stock/Indicators/IKH/IKHIndicator.ts
  ts/Stock/Indicators/VBP/VBPIndicator.ts
Labels: Product: Highcharts Dashboards

#22652 bugfix/22617 data label verticalalign
  samples/unit-tests/series-waterfall/y-min/demo.js
  ts/Series/Column/ColumnDataLabel.ts
Labels: Changelog: Bugfix

#22650 bugfix/22624-missing-add-new-row-lang
  samples/dashboards/cypress/options-lang/demo.mjs
  test/cypress/dashboards/integration/options-lang.cy.js
  ts/Dashboards/EditMode/SidebarPopup.ts
Labels: Changelog: Bugfix, Product: Highcharts Dashboards

#22655 grid/pro-transition-period
  .github/workflows/dashboards-lighthouse-test.yml
  .github/workflows/dashboards-test.yml
  css/grid/grid.css
  test/typescript-dts/dashboards/dashboards.ts
  tools/gulptasks/dashboards/lint.js
  tools/gulptasks/dashboards/scripts-dts/datagrid.src.d.ts
  tools/gulptasks/lint-ts.js
  ts/Grid/Core/Credits.ts
  ts/Grid/Core/Grid.ts
  ts/Grid/Core/Options.ts
  ts/Grid/Pro/CellEditing/CellEditingComposition.ts
  ts/Grid/Pro/Dash3Compatibility.ts
  ts/Grid/Pro/GridEvents.ts
  ts/masters-datagrid/datagrid.src.ts
Labels: grid

#22582 docs/dataviz-glossary
  docs/Readme.md
  docs/advanced-chart-features/boost-module.md
  docs/advanced-chart-features/highcharts-typescript-declarations.md
  docs/chart-and-series-types/sunburst-series.md
  docs/chart-and-series-types/treegraph-chart.md
  docs/chart-and-series-types/treemap.md
  docs/chart-and-series-types/variwide-chart.md
  docs/chart-and-series-types/waterfall-series.md
  docs/chart-concepts/3d-charts.md
  docs/chart-concepts/axes.md
  docs/chart-concepts/dataviz-glossary.md
  docs/chart-concepts/labels-and-string-formatting.md
  docs/chart-concepts/series.md
  docs/chart-design-and-style/pattern-fills.md
  docs/dashboards/data-pool-and-connectors.md
  docs/dashboards/types-of-components.md
  docs/datagrid/installation.md
  docs/doc-config.js
  docs/getting-started/how-to-create-custom-highcharts-packages.md
  docs/getting-started/installation-with-esm.md
  docs/getting-started/optional-dependencies.md
  docs/maps/color-axis.md
  docs/maps/getting-started.md
  docs/maps/latlon.md
  docs/maps/map-collection.md
  docs/maps/map-series.md
  docs/maps/tiledwebmap.md
  docs/morningstar/morningstar.md
  docs/morningstar/screeners/screener.md
  docs/morningstar/time-series/time-series.md
  docs/public-index.md
  docs/sidebars.js
  docs/stock/custom-technical-indicators.md
  samples/highcharts/demo/column-stacked/readme.md
  samples/maps/demo/color-axis/readme.md
  samples/maps/demo/geojson/readme.md
  samples/maps/demo/mapline-mappoint/readme.md
  tools/cspell/custom-words.txt
  tools/gulptasks/test-docs.js
Labels: Product: Docs

#22662 dash/grid-alias-datagrid-component
  ts/Dashboards/Plugins/DataGridPlugin.ts
Labels: Product: Highcharts Dashboards

#22661 bugfix/grid-cell-formatter-overwrite
  samples/data-grid/basic/cell-formatting/demo.js
  test/cypress/data-grid/integration/formatting.cy.js
  ts/DataGrid/Table/Content/TableCell.ts
Labels: Changelog: Bugfix, Product: Highcharts Dashboards

#22589 dash/21559-KPI-component-value-calculations
  samples/dashboards/kpi-component/formula/demo.css
  samples/dashboards/kpi-component/formula/demo.details
  samples/dashboards/kpi-component/formula/demo.html
  samples/dashboards/kpi-component/formula/demo.js
  test/cypress/dashboards/integration/Components/KPI/KPIComponent.cy.js
  ts/Dashboards/Components/KPIComponent/KPIComponent.ts
  ts/Dashboards/Components/KPIComponent/KPIComponentOptions.ts
Labels: Changelog: Feature, Product: Highcharts Dashboards

#22685 dash/22546-Firefox-mouseenter-dragging-support
  ts/Dashboards/EditMode/Toolbar/CellEditToolbar.ts
Labels: Changelog: Bugfix, Product: Highcharts Dashboards

#22433 bugfix/21642-mousewheel-zoom-standalone-navigator
  ts/Stock/Navigator/StandaloneNavigator.ts
Labels: Product: Highcharts Stock, Changelog: Bugfix

#22667 bugfix/22543-navigation-button-y
  ts/Core/Renderer/SVG/SVGRenderer.ts
  ts/Extensions/Exporting/ExportingDefaults.ts
Labels: Changelog: Bugfix

#22435 bugfix/21879-measure-annotation-control-point
  samples/unit-tests/annotations/annotations-measure/demo.js
  ts/Extensions/Annotations/Types/Measure.ts
Labels: Product: Highcharts Stock, Changelog: Bugfix

#22672 Grid/default-credits
  samples/grid/basic/credits/demo.js
  samples/grid/cypress/credits-pro/demo.css
  samples/grid/cypress/credits-pro/demo.html
  samples/grid/cypress/credits-pro/demo.js
  samples/grid/cypress/credits/demo.css
  samples/grid/cypress/credits/demo.html
  samples/grid/cypress/credits/demo.js
  samples/grid/pro/credits/demo.css
  samples/grid/pro/credits/demo.details
  samples/grid/pro/credits/demo.html
  samples/grid/pro/credits/demo.js
  test/cypress/grid/integration/credits.cy.js
  tools/gulptasks/dashboards/scripts-dts/datagrid.src.d.ts
  ts/Grid/Core/Credits.ts
  ts/Grid/Core/Defaults.ts
  ts/Grid/Core/Grid.ts
  ts/Grid/Core/Options.ts
  ts/Grid/Core/Table/Content/TableCell.ts
  ts/Grid/Lite/Credits/CreditsLiteComposition.ts
  ts/Grid/Pro/Credits/CreditsPro.ts
  ts/Grid/Pro/Credits/CreditsProComposition.ts
  ts/masters-datagrid/datagrid.src.ts
  ts/masters-grid/grid-lite.src.ts
Labels: Product: Highcharts Dashboards, Grid, Grid Pro

#22687 grid/dist-release
  tools/gulptasks/dist-release.js
Labels: Grid

#22706 dash/22676-fullscreen-case-sensitive-naming
  tools/gulptasks/dashboards/scripts-dts/modules/layout.src.d.ts
  ts/Dashboards/EditMode/EditMode.ts
  ts/masters-dashboards/modules/layout.src.ts
Labels: Changelog: Bugfix, Product: Highcharts Dashboards

#22670 grid/code-highcharts
  www/index.html
Labels: Grid

#22680 grid/datagridcomponent-options-backward-compatibility
  test/cypress/dashboards/integration/Components/DataGrid/DataGridComponent.cy.js
  ts/Dashboards/Components/DataGridComponent/DataGridComponent.ts
  ts/Dashboards/Components/DataGridComponent/DataGridComponentDefaults.ts
  ts/Dashboards/Components/DataGridComponent/DataGridComponentOptions.ts
  ts/Dashboards/EditMode/AccordionMenu.ts
  ts/Dashboards/Plugins/DataGridTypes.ts
Labels: Grid Pro

#22640 grid/changelog
  changelog/generate-html.js
  changelog/generate.js
  changelog/pr-log.js
Labels: Grid

#22678 grid/remove-hc-vars-from-grid-css
  css/datagrid/datagrid.css
  css/grid/grid.css
  samples/dashboards/demo/light-dark-theme/demo.css
Labels: Product: Highcharts Dashboards, Grid

#22724 docs/22579-no-factory-calls
  docs/getting-started/install-from-npm.md
  docs/getting-started/installation-with-amd-commonjs.md
Labels: Product: Docs

#22723 grid/templating-custom-helpers
  ts/masters-datagrid/datagrid.src.ts
  ts/masters-grid/grid-lite.src.ts
Labels: Changelog: Feature, Grid
