Repository highcharts/highcharts, pull requests merged in 2025-06, with the labels that each got.

#23054 docs/custom-annotations-description
  docs/advanced-chart-features/creating-advanced-annotations.md
  docs/sidebars.js
Labels: Product: Highcharts Stock, Product: Docs

#23144 grid/header-afterRender-event
  docs/grid/events.md
  samples/grid-pro/cypress/column-cell-events/demo.html
  samples/grid-pro/cypress/column-cell-events/demo.js
  test/cypress/grid/integration/options/events.cy.js
  ts/Grid/Core/Table/Header/HeaderCell.ts
  ts/Grid/Pro/GridEvents.ts
Labels: Changelog: Feature, Product: Highcharts Grid, Grid Pro

#23129 dash/bugfix-board-destroy-polling-stop
  test/cypress/dashboards/integration/Components/general.cy.js
  ts/Dashboards/Board.ts
  ts/Dashboards/Components/ConnectorHandler.ts
  ts/Data/Connectors/DataConnector.ts
  ts/Data/Connectors/HTMLTableConnector.ts
  ts/Data/DataPool.ts
Labels: Changelog: Bugfix, Product: Highcharts Dashboards

#23111 docs/dash-multiple-data-tables
  docs/dashboards/data-table.md
Labels: Product: Highcharts Dashboards

#23157 bugfix/23081-bar-points-hover-css
  css/highcharts.css
  samples/unit-tests/styled-mode/series-states/demo.js
Labels: Product: Highcharts, Changelog: Bugfix

#23163 dash/mqtt-styling-problems
  samples/dashboards/data/mqtt-connector/demo.js
  samples/dashboards/demo/mqtt/demo.js
Labels: Product: Highcharts Dashboards

#23161 dash/to-from-json
  samples/dashboards/cypress/dashboard-layout/demo.mjs
  test/typescript-karma/Dashboards/Layout/tests.js
  ts/Dashboards/Actions/Bindings.ts
  ts/Dashboards/Board.ts
  ts/Dashboards/Components/Component.ts
  ts/Dashboards/Components/DataGridComponent/DataGridComponent.ts
  ts/Dashboards/Components/HTMLComponent/HTMLComponent.ts
  ts/Dashboards/Components/HighchartsComponent/HighchartsComponent.ts
  ts/Dashboards/Components/KPIComponent/KPIComponent.ts
  ts/Dashboards/Components/NavigatorComponent/NavigatorComponent.ts
  ts/Dashboards/EditMode/EditMode.ts
  ts/Dashboards/Layout/Cell.ts
  ts/Dashboards/Layout/Layout.ts
  ts/Dashboards/Layout/Row.ts
Labels: Changelog: Bugfix, Product: Highcharts Dashboards

#23171 grid/cell-content-update
  css/datagrid/datagrid.css
  samples/grid-pro/demo/cell-editing/demo.js
  samples/grid-pro/studies/sparkline/demo.html
  samples/grid-pro/studies/sparkline/demo.js
  ts/Grid/Core/Table/Actions/RowsVirtualizer.ts
  ts/Grid/Core/Table/Body/TableCell.ts
  ts/Grid/Core/Table/Cell.ts
  ts/Grid/Core/Table/CellContent/CellContent.ts
  ts/Grid/Core/Table/CellContent/TextContent.ts
  ts/Grid/Core/Table/Row.ts
  ts/Grid/Core/Table/Table.ts
  ts/Grid/Pro/CellEditing/CellEditMode.d.ts
  ts/Grid/Pro/CellEditing/CellEditing.ts
  ts/Grid/Pro/CellEditing/CellEditingComposition.ts
  ts/Grid/Pro/CellRendering/ContentTypes/CheckboxContent.ts
  ts/Grid/Pro/CellRendering/ContentTypes/DateInputContent.ts
  ts/Grid/Pro/CellRendering/ContentTypes/SelectContent.ts
  ts/Grid/Pro/CellRendering/ContentTypes/SparklineContent.ts
  ts/Grid/Pro/CellRendering/ContentTypes/TextInputContent.ts
  ts/Grid/Pro/CellRendering/Renderers/CheckboxRenderer.ts
  ts/Grid/Pro/CellRendering/Renderers/DateInputRenderer.ts
  ts/Grid/Pro/CellRendering/Renderers/SelectRenderer.ts
  ts/Grid/Pro/CellRendering/Renderers/TextInputRenderer.ts
  ts/Grid/Pro/ColumnTypes/Validator.ts
Labels: Product: Highcharts Grid, Grid Pro

#23178 grid/docs-cell-type-renderers
  docs/grid/cell-content.md
  docs/grid/cell-editing.md
  docs/grid/sparkline.md
  docs/sidebars.js
  tools/cspell/custom-words.txt
  tools/gulptasks/grid/api-docs.json
  ts/Grid/Pro/CellRendering/CellRenderer.ts
Labels: Changelog: Feature, Product: Highcharts Grid

#22411 bugfix/22122-focus-drag-handle
  ts/Accessibility/Components/NavigatorComponent.ts
  ts/Accessibility/FocusBorder.ts
Labels: Product: Highcharts Stock, Changelog: Bugfix

#23138 bugfix/23023-parallel-coordinates-performance
  samples/highcharts/demo/parallel-coordinates/demo.js
  ts/Core/Pointer.ts
Labels: Product: Highcharts, Changelog: Bugfix

#23104 grid/column-width-resizing-changes
  docs/dashboards/grid-migration.md
  docs/grid/columns.md
  docs/grid/performance.md
  samples/grid-lite/basic/column-distribution/demo.js
  samples/grid-lite/basic/column-resizing-disabled/demo.js
  samples/grid-lite/basic/custom-column-distribution/demo.js
  samples/grid-lite/cypress/column-distribution/demo.js
  samples/grid-lite/cypress/wide-grid/demo.js
  samples/grid-lite/demo/view-chart-data-using-grid/demo.js
  test/cypress/dashboards/integration/Components/Grid/GridComponent.cy.js
  test/typescript-dts/grid/grid-lite.ts
  ts/Dashboards/Components/DataGridComponent/DataGridComponentDefaults.ts
  ts/Grid/Core/Defaults.ts
  ts/Grid/Core/Options.ts
  ts/Grid/Core/Table/ColumnDistribution/ColumnDistribution.ts
  ts/Grid/Core/Table/ColumnDistribution/ColumnDistributionStrategy.ts
  ts/Grid/Core/Table/ColumnDistribution/FixedDistributionStrategy.ts
  ts/Grid/Core/Table/ColumnDistribution/MixedDistributionStrategy.ts
  ts/Grid/Core/Table/Table.ts
Labels: Changelog: Feature, Product: Highcharts Grid

#23209 docs/non-cartesian-sankey
  samples/highcharts/plotoptions/sankey-node-color/demo.html
  samples/highcharts/plotoptions/sankey-node-color/demo.js
  ts/Core/Chart/ChartDefaults.ts
Labels: Product: Highcharts, Product: Docs

#23217 grid/fix-default-em-renderer
  ts/Grid/Core/Table/Actions/RowsVirtualizer.ts
  ts/Grid/Pro/CellRendering/Renderers/TextInputRenderer.ts
  ts/Grid/Pro/CellRendering/Renderers/TextRenderer.ts
Labels: Product: Highcharts Grid, Grid Pro

#23224 Grid links on index page docs
  docs/public-index.md
Labels: Product: Docs, Product: Highcharts Grid

#23159 bugfix/23087-series-options-keyed-vals-not-on-boost-point
  samples/unit-tests/boost/series-with-one-point/demo.js
  ts/Extensions/Boost/BoostSeries.ts
Labels: Product: Highcharts, Changelog: Bugfix

#23243 grid/formulas-demo-math-modifiers-optymization
  samples/grid-pro/demo/formulas-grid/demo.js
Labels: Product: Highcharts Grid
