Repository highcharts/highcharts, pull requests merged in 2025-04, with the labels that each got.

#21399 enhancement/reduce-stock-benchmark-time
  test/ts-node-unit-tests/bench.ts
  test/ts-node-unit-tests/benchmarks/Stock/Stock-Annotations-update.bench.ts
  test/ts-node-unit-tests/benchmarks/Stock/Stock-Navigator-update.bench.ts
  test/ts-node-unit-tests/benchmarks/Stock/Stock-Range-Selector-update.bench.ts
  test/ts-node-unit-tests/benchmarks/Stock/Stock-Tools-update.bench.ts
  test/ts-node-unit-tests/benchmarks/Stock/Stock-update.bench.ts
Labels: Product: Highcharts Stock

#22897 enhancement/measure-average-tofixed
  ts/Extensions/Annotations/Types/Measure.ts
Labels: Product: Highcharts Stock

#22906 bugfix/22892-packedbubble-hover-error
  samples/unit-tests/series-packedbubble/update/demo.js
  ts/Series/Bubble/BubblePoint.ts
  ts/Series/PackedBubble/PackedBubblePoint.ts
Labels: Product: Highcharts, Changelog: Bugfix

#22588 demo/morningstar-compare-etf
  samples/data/etfs.json
  samples/stock/demo/compare-etf/demo.css
  samples/stock/demo/compare-etf/demo.details
  samples/stock/demo/compare-etf/demo.html
  samples/stock/demo/compare-etf/demo.js
Labels: Product: Highcharts Stock

#22774 bugfix/22679-tooltip-background-missing-with-usehtml
  ts/Core/Renderer/HTML/HTMLElement.ts
Labels: Product: Highcharts, Changelog: Bugfix

#22928 dash/readme-src-href-fix
  ts/Dashboards/README.md
Labels: Product: Highcharts Dashboards

#22694 bugfix/22563-ms-high-contrast-deprecated
  ts/Accessibility/HighContrastMode.ts
Labels: Product: Highcharts, Changelog: Bugfix, a11y

#22940 tests/stock-reduce-benchmarks
  test/ts-node-unit-tests/benchmarks/Stock/Stock-Base.bench.ts
  test/ts-node-unit-tests/benchmarks/Stock/Stock-DataGrouping-Ordinal.bench.ts
  test/ts-node-unit-tests/benchmarks/Stock/Stock-DataGrouping.bench.ts
  test/ts-node-unit-tests/benchmarks/Stock/Stock-Ordinal.bench.ts
Labels: Product: Highcharts Stock

#22880 grid/custom-col-distribution
  css/datagrid/datagrid.css
  css/grid/grid.css
  samples/grid-lite/basic/column-distribution/demo.css
  samples/grid-lite/basic/column-distribution/demo.details
  samples/grid-lite/basic/column-distribution/demo.html
  samples/grid-lite/basic/column-distribution/demo.js
  samples/grid-lite/basic/fixed-distribution/demo.html
  samples/grid-lite/basic/fixed-distribution/demo.js
  samples/grid-lite/cypress/column-distribution/demo.css
  samples/grid-lite/cypress/column-distribution/demo.html
  samples/grid-lite/cypress/column-distribution/demo.js
  test/cypress/grid/integration/column-distribution.cy.js
  tools/gulptasks/grid/api-docs.json
  tools/gulptasks/scripts-dts/grid-lite.src.d.ts
  ts/Grid/Core/Credits.ts
  ts/Grid/Core/Defaults.ts
  ts/Grid/Core/Globals.ts
  ts/Grid/Core/Grid.ts
  ts/Grid/Core/Options.ts
  ts/Grid/Core/Table/Actions/ColumnsResizer.ts
  ts/Grid/Core/Table/Column.ts
  ts/Grid/Core/Table/ColumnDistribution/ColumnDistribution.ts
  ts/Grid/Core/Table/ColumnDistribution/ColumnDistributionStrategy.ts
  ts/Grid/Core/Table/ColumnDistribution/FixedDistributionStrategy.ts
  ts/Grid/Core/Table/ColumnDistribution/FullDistributionStrategy.ts
  ts/Grid/Core/Table/ColumnDistribution/MixedDistributionStrategy.ts
  ts/Grid/Core/Table/Content/TableCell.ts
  ts/Grid/Core/Table/Header/HeaderCell.ts
  ts/Grid/Core/Table/Header/TableHeader.ts
  ts/Grid/Core/Table/Table.ts
  ts/Grid/Pro/Credits/CreditsProComposition.ts
  ts/masters-datagrid/datagrid.src.ts
  ts/masters-grid/grid-lite.src.ts
Labels: Changelog: Feature, Product: Highcharts Grid

#22956 dash/grid-component-options
  test/cypress/dashboards/integration/Components/Grid/GridComponent.cy.js
  ts/Dashboards/Components/DataGridComponent/DataGridComponentDefaults.ts
Labels: Product: Highcharts Dashboards

#22947 bugfix/22657-annotation-resize-with-flags-series
  samples/unit-tests/stock-tools/stock-annotation-dragging/demo.js
  ts/Core/Axis/OrdinalAxis.ts
Labels: Product: Highcharts Stock, Changelog: Bugfix

#22954 dash/22859-rezise-missing
  samples/dashboards/basic/empty-board/demo.css
  samples/dashboards/basic/empty-board/demo.details
  samples/dashboards/basic/empty-board/demo.html
  samples/dashboards/basic/empty-board/demo.js
  test/cypress/dashboards/integration/EditMode/empty-board-interction.cy.js
  ts/Dashboards/EditMode/SidebarPopup.ts
Labels: Changelog: Bugfix, Product: Highcharts Dashboards

#22386 bugfix/22264-borderradius-string-bug
  ts/Core/Renderer/CSSObject.d.ts
Labels: Product: Highcharts, Changelog: Bugfix

#22958 grid/fetch-demo
  samples/dashboards/demo/cloud-monitoring/demo.js
  samples/graphics/dashboards/cloud-monitoring/critical-ico.svg
  samples/grid-lite/demo/parse-data/demo.css
  samples/grid-lite/demo/parse-data/demo.details
  samples/grid-lite/demo/parse-data/demo.html
  samples/grid-lite/demo/parse-data/demo.js
Labels: Grid

#22900 bugfix/20611-variwide-linear
  samples/unit-tests/series-variwide/variwide/demo.js
  ts/Series/Variwide/VariwideSeries.ts
Labels: Product: Highcharts, Changelog: Bugfix

#22969 demo/ichimoku-tooltip-spelling-fix
  samples/stock/demo/dark-candlestick-and-volume/demo.js
Labels: Product: Highcharts Stock

#22938 bugfix/21715-missing-polyfill-for-stock-es5
  ts/masters-es5/polyfills.ts
Labels: Product: Highcharts Stock, Changelog: Bugfix
