Repository highcharts/highcharts, pull requests merged in 2025-03, with the labels that each got.

#22705 bugfix/22533-boost-zoom
  css/highcharts.css
  samples/unit-tests/boost/enter-exit/demo.js
  samples/unit-tests/boost/general/demo.js
  ts/Core/Color/Palettes.ts
  ts/Extensions/Boost/BoostSeries.ts
Labels: Changelog: Bugfix

#22401 feature/22212-standalone-navigator-chart-options
  samples/unit-tests/standalone-navigator/chart-options/demo.details
  samples/unit-tests/standalone-navigator/chart-options/demo.html
  samples/unit-tests/standalone-navigator/chart-options/demo.js
  ts/Stock/Navigator/NavigatorOptions.d.ts
  ts/Stock/Navigator/StandaloneNavigator.ts
Labels: Product: Highcharts Stock, Changelog: Feature

#22716 bugfix/22557-missing-navigator-series-on-reenable
  samples/unit-tests/navigator/navigator/demo.js
  ts/Stock/Navigator/Navigator.ts
Labels: Product: Highcharts Stock, Changelog: Bugfix

#22686 bugfix/22233-tooltip-scatterpoint-z-prioritization
  samples/unit-tests/series-scatter/general/demo.js
  ts/Core/Series/Series.ts
  ts/Series/Bubble/BubbleSeries.ts
Labels: Product: Highcharts, Changelog: Bugfix

#22719 dash/22684-connector-polling-restarting
  samples/dashboards/cypress/connector-polling/demo.css
  samples/dashboards/cypress/connector-polling/demo.details
  samples/dashboards/cypress/connector-polling/demo.html
  samples/dashboards/cypress/connector-polling/demo.js
  test/cypress/dashboards/integration/Components/general.cy.js
  ts/Dashboards/Components/Component.ts
  ts/Dashboards/Components/ConnectorHandler.ts
  ts/Data/Connectors/DataConnector.ts
  ts/Data/DataPool.ts
Labels: Changelog: Bugfix, Product: Highcharts Dashboards

#22734 grid/two-npm-release-task
  tools/gulptasks/dist-release.js
Labels: Grid

#22738 grid/rename-highcontrast-theme
  ts/Grid/Core/Accessibility/Accessibility.ts
Labels: Grid

#22739 grid/getOptions
  ts/Dashboards/Board.ts
  ts/Dashboards/Components/DataGridComponent/DataGridComponent.ts
  ts/Dashboards/Components/HTMLComponent/HTMLComponent.ts
  ts/Dashboards/Components/HighchartsComponent/HighchartsComponent.ts
  ts/Dashboards/Components/KPIComponent/KPIComponent.ts
  ts/Dashboards/Layout/Layout.ts
  ts/Grid/Core/Grid.ts
Labels: Grid

#22743 bugfix/scatter-test-failing-on-master
  samples/unit-tests/series-scatter/general/demo.js
Labels: Product: Highcharts, Changelog: Bugfix

#22756 grid/sync-css-files
  css/datagrid/datagrid.css
  css/grid/grid.css
Labels: Grid, Grid Pro

#22762 grid/dashboards-grid-demos-clean
  samples/grid-pro/demo/grid-data-heavy/demo.css
  samples/grid-pro/demo/grid-data-heavy/demo.details
  samples/grid-pro/demo/grid-data-heavy/demo.html
  samples/grid-pro/demo/grid-data-heavy/demo.js
  samples/grid-pro/demo/grid-grouped-header/demo.css
  samples/grid-pro/demo/grid-grouped-header/demo.details
  samples/grid-pro/demo/grid-grouped-header/demo.html
  samples/grid-pro/demo/grid-grouped-header/demo.js
Labels: Grid, Grid Pro

#22766 Fixed #22764, axis labels with useHTML got wrapped
  samples/unit-tests/axis/labels-usehtml/demo.js
  ts/Core/Axis/Tick.ts
Labels: Changelog: Bugfix

#22761 grid/cell-editing-demo
  samples/grid-pro/demo/cell-editing/demo.css
  samples/grid-pro/demo/cell-editing/demo.details
  samples/grid-pro/demo/cell-editing/demo.html
  samples/grid-pro/demo/cell-editing/demo.js
Labels: Grid, Grid Pro

#22689 bugfix/22235-geoheatmap-decimal-issues
  ts/Series/GeoHeatmap/GeoHeatmapSeries.ts
Labels: Product: Highcharts, Changelog: Bugfix

#22770 refactor/i18n-packs-replace
  docs/advanced-chart-features/internationalization.md
  i18n/highcharts/fr-FR.json
  i18n/highcharts/lang.json
  i18n/highcharts/nb-NO.json
  i18n/highcharts/zh-CN.json
  tools/gulptasks/dist-copy.js
  tools/gulptasks/lang-build.js
Labels: Priority: Blocker

#22759 grid/docs-installation
  docs/dashboards/grid-component.md
  docs/dashboards/grid-standalone.md
  docs/grid/installation.md
  docs/sidebars.js
Labels: Grid

#22792 grid/docs-wrappers
  docs/dashboards/dashboards-with-angular.md
  docs/dashboards/dashboards-with-react.md
  docs/dashboards/dashboards-with-vue.md
  docs/grid/grid-with-angular.md
  docs/grid/grid-with-react.md
  docs/grid/grid-with-vue.md
Labels: Grid

#22790 grid/html-in-cell
  samples/grid-lite/demo/html-in-cell/demo.css
  samples/grid-lite/demo/html-in-cell/demo.details
  samples/grid-lite/demo/html-in-cell/demo.html
  samples/grid-lite/demo/html-in-cell/demo.js
Labels: Grid

#22754 grid/rows-virtualization-threshold
  samples/grid-pro/cypress/virtualization-threshold/demo.css
  samples/grid-pro/cypress/virtualization-threshold/demo.html
  samples/grid-pro/cypress/virtualization-threshold/demo.js
  test/cypress/grid/integration/options/virtualization-threshold.cy.js
  ts/Grid/Core/Defaults.ts
  ts/Grid/Core/Grid.ts
  ts/Grid/Core/Options.ts
  ts/Grid/Core/Table/Table.ts
Labels: Grid, Product: Highcharts Grid

#22786 grid/lang-and-a11y-demo
  samples/grid-lite/demo/internationalization/demo.css
  samples/grid-lite/demo/internationalization/demo.details
  samples/grid-lite/demo/internationalization/demo.html
  samples/grid-lite/demo/internationalization/demo.js
  samples/grid-pro/demo/accessibility/demo.css
  samples/grid-pro/demo/accessibility/demo.details
  samples/grid-pro/demo/accessibility/demo.html
  samples/grid-pro/demo/accessibility/demo.js
  ts/Grid/Core/Accessibility/Accessibility.ts
  ts/Grid/Core/Grid.ts
  ts/Grid/Pro/CellEditing/CellEditingComposition.ts
Labels: Grid

#22813 dash/22720-component-destroy-mispositioned-resize-buttons
  ts/Dashboards/EditMode/Toolbar/CellEditToolbar.ts
Labels: Changelog: Bugfix, Product: Highcharts Dashboards

#22812 grid/docs-improvements
  docs/dashboards/wrappers/dashboards-with-angular.md
  docs/dashboards/wrappers/dashboards-with-react.md
  docs/dashboards/wrappers/dashboards-with-vue.md
  docs/doc-config.js
  docs/grid/accessibility.md
  docs/grid/columns.md
  docs/grid/events.md
  docs/grid/general.md
  docs/grid/header.md
  docs/grid/performance.md
  docs/grid/style-by-css.md
  docs/grid/theming/ill_theming.png
  docs/grid/theming/theming-variables.md
  docs/grid/theming/theming.md
  docs/grid/understanding-grid.md
  docs/grid/wrappers/grid-with-angular.md
  docs/grid/wrappers/grid-with-react.md
  docs/grid/wrappers/grid-with-vue.md
  docs/sidebars.js
Labels: Grid

#22822 grid/jsdelivr-code-www
  www/index.html
Labels: Grid

#22696 bugfix/22489-plotoptions-event-fail-after-scrollbar
  samples/unit-tests/maps/interaction/demo.js
  samples/unit-tests/scrollable-plotarea/dynamics/demo.js
  ts/Series/Column/ColumnSeries.ts
Labels: Product: Highcharts, Changelog: Bugfix

#22834 grid/i18n-initial-english
  samples/grid-lite/demo/internationalization/demo.html
  samples/grid-lite/demo/internationalization/demo.js
Labels: Grid

#22835 grid/column-border-header
  css/datagrid/datagrid.css
  css/grid/grid.css
Labels: Grid

#22760 Use foreignObject to render useHTML content
  css/highcharts.css
  docs/chart-concepts/labels-and-string-formatting.md
  samples/highcharts/members/renderer-usehtml-foreignobject/demo.css
  samples/highcharts/members/renderer-usehtml-foreignobject/demo.details
  samples/highcharts/members/renderer-usehtml-foreignobject/demo.html
  samples/highcharts/members/renderer-usehtml-foreignobject/demo.js
  samples/highcharts/studies/usehtml-foreignobject/demo.css
  samples/highcharts/studies/usehtml-foreignobject/demo.html
  samples/highcharts/studies/usehtml-foreignobject/demo.js
  samples/highcharts/title/align-auto/demo.details
  samples/unit-tests/axis/labels-usehtml/demo.js
  samples/unit-tests/datalabels/overlapping/demo.js
  samples/unit-tests/datalabels/usehtml/demo.js
  samples/unit-tests/legend/legend-hover-dim/demo.js
  samples/unit-tests/series-pie/datalabel/demo.js
  samples/unit-tests/svgrenderer/addclass-hasclass-removeclass/demo.js
  samples/unit-tests/svgrenderer/label/demo.js
  samples/unit-tests/svgrenderer/text/demo.js
  samples/unit-tests/title/title/demo.js
  samples/unit-tests/tooltip/custom-classnames/demo.js
  test/karma-conf.js
  test/karma-imagecapture-reporter.js
  test/karma-setup.js
  ts/Core/Chart/Chart.ts
  ts/Core/Renderer/CSSObject.d.ts
  ts/Core/Renderer/HTML/HTMLElement.ts
  ts/Core/Renderer/SVG/SVGElement.ts
  ts/Core/Series/DataLabel.ts
  ts/Extensions/Annotations/EventEmitter.ts
  ts/Extensions/Exporting/Exporting.ts
  ts/Series/Organization/OrganizationSeries.ts
Labels: Priority: Blocker, Changelog: Feature

#22763 bugfix/22664-missing-plotline-labels
  ts/Core/Axis/PlotLineOrBand/PlotLineOrBand.ts
  ts/Core/Series/OverlappingDataLabels.ts
Labels: Product: Highcharts, Priority: Blocker, Changelog: Bugfix

#22849 grid/tooling-keep-license
  tools/gulptasks/dist-release.js
Labels: Grid

#22331 Tooltip fixed position option
  docs/chart-concepts/tooltip.md
  samples/dashboards/demo/sync/demo.js
  samples/highcharts/blog/lin-log-switch/demo.js
  samples/highcharts/cypress/custom-indicator-stock-tools-gui/demo.js
  samples/highcharts/cypress/stock-tools-gui/demo.js
  samples/highcharts/demo/gauge-multiple-kpi/demo.js
  samples/highcharts/demo/polar-advanced/demo.js
  samples/highcharts/demo/synchronized-charts/demo.js
  samples/highcharts/plotoptions/treemap-grouping-advanced/demo.js
  samples/highcharts/tooltip/fixed/demo.css
  samples/highcharts/tooltip/fixed/demo.details
  samples/highcharts/tooltip/fixed/demo.html
  samples/highcharts/tooltip/fixed/demo.js
  samples/maps/demo/tooltip/demo.js
  samples/maps/tooltip/fixed/demo.css
  samples/maps/tooltip/fixed/demo.details
  samples/maps/tooltip/fixed/demo.html
  samples/maps/tooltip/fixed/demo.js
  samples/stock/demo/black-and-white/demo.js
  samples/stock/demo/dark-candlestick-and-volume/demo.js
  samples/stock/demo/stock-css-design/demo.js
  samples/stock/demo/stock-tools-gui/demo.js
  samples/stock/stocktools/custom-stock-tools-bindings/demo.js
  samples/stock/tooltip/fixed/demo.css
  samples/stock/tooltip/fixed/demo.details
  samples/stock/tooltip/fixed/demo.html
  samples/stock/tooltip/fixed/demo.js
  samples/stock/tooltip/positioner-scrollable-plotarea/demo.js
  samples/stock/tooltip/split-positioner/demo.js
  samples/unit-tests/tooltip/fixed/demo.css
  samples/unit-tests/tooltip/fixed/demo.details
  samples/unit-tests/tooltip/fixed/demo.html
  samples/unit-tests/tooltip/fixed/demo.js
  ts/Core/Chart/Chart.ts
  ts/Core/Defaults.ts
  ts/Core/Renderer/SVG/SVGRenderer.ts
  ts/Core/Series/Series.ts
  ts/Core/Series/SeriesDefaults.ts
  ts/Core/Tooltip.ts
  ts/Core/TooltipOptions.d.ts
  ts/Extensions/Boost/BoostChart.ts
  ts/Series/Pictorial/PictorialSeries.ts
Labels: Priority: Blocker, Changelog: Feature

#22852 grid/fixed-npm-package-docs
  docs/grid/wrappers/grid-with-angular.md
  docs/grid/wrappers/grid-with-react.md
  docs/grid/wrappers/grid-with-vue.md
Labels: Grid

#22848 grid/grid-pro-demos-formatting
  samples/dashboards/demo/accounting/demo.details
  samples/dashboards/demo/climate/demo.details
  samples/dashboards/demo/election/demo.details
  samples/dashboards/demo/live-weather/demo.details
  samples/dashboards/demo/mqtt/demo.details
  samples/grid-lite/demo/internationalization/demo.details
  samples/grid-lite/demo/your-first-grid/demo.details
  samples/grid-pro/demo/accessibility/demo.details
  samples/grid-pro/demo/cell-editing/demo.details
Labels: Grid

#22861 grid/api-ref-landpage
  tools/gulptasks/grid/api-docs.json
  tools/gulptasks/grid/api-docs.md
Labels: Grid

#22865 grid/exposed-options-in-es-modules
  docs/dashboards/grid-standalone.md
  docs/grid/installation.md
  ts/masters-datagrid/datagrid.src.ts
  ts/masters-grid/grid-lite.src.ts
Labels: Grid

#22851 grid/innerHTML-AST-empty-html
  ts/Grid/Core/Credits.ts
  ts/Grid/Core/GridUtils.ts
  ts/Grid/Pro/CellEditing/CellEditing.ts
  ts/Grid/Pro/Credits/CreditsPro.ts
Labels: Grid

#22866 grid/docs-example-fix
  docs/grid/general.md
Labels: Grid

#22844 docs/grid-tweaks
  docs/doc-config.js
  docs/grid/general.md
  docs/grid/header.md
  samples/grid-lite/demo/internationalization/demo.details
  tools/gulptasks/test-docs.js
Labels: Grid

#22788 Support TypeScript in demos - demo.ts
  .github/workflows/highcharts-headless.yml
  package-lock.json
  package.json
  samples/.eslintrc
  samples/highcharts/demo/dumbbell-markers/.gitignore
  samples/highcharts/demo/dumbbell-markers/demo.html
  samples/highcharts/demo/dumbbell-markers/demo.js
  samples/highcharts/demo/dumbbell-markers/demo.ts
  samples/highcharts/studies/data-layer/Data.ts
  samples/highcharts/studies/data-layer/DataSeriesConverter.ts
  samples/highcharts/studies/data-layer/DataTable.ts
  samples/tsconfig.json
  samples/tsglobal.d.ts
  test/karma-conf.js
  test/test-controller.js
  tools/gulptasks/dist-examples.js
  tools/gulptasks/test-docs.js
  tools/gulptasks/test.js
Labels: Priority: Blocker

#22846 Fixed #22845, choppy tooltip animation on pie charts
  ts/Core/Tooltip.ts
Labels: Priority: Blocker, Changelog: Bugfix

#22877 grid/events-demo-optymization
  samples/grid-pro/basic/cell-events/demo.js
Labels: Grid

#22872 grid/www-grid-lite-fix
  www/index.html
Labels: Grid

#22837 bugfix/22709-dumbbell-syntax-error
  ts/Series/Dumbbell/DumbbellSeries.ts
Labels: Changelog: Bugfix

#22882 Tools: Upgraded dependencies.
  package-lock.json
  package.json
Labels: Priority: Blocker

#22881 Fixed failing test in Safari after foreignObject refactor
  samples/unit-tests/svgrenderer/text/demo.js
Labels: Priority: Blocker
